Repository sebproell/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Path conditions:
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/|mm$
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$

Remove obsolete old check for unknown sections
  apps/global_full/4C_global_full_inp_control.cpp
  apps/pre_exodus/4C_pre_exodus_validate.cpp
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_file.hpp
  unittests/mat/4C_electrode_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix DBCs in beam input files
  tests/input_files/beam3r_line2_backweuler_browndyn_periodic_rve_dirich_coupling.dat
  tests/input_files/beam3r_line2_backweuler_browndyn_periodic_rve_dirich_crosslinking.dat
  tests/input_files/beam3r_line2_backweuler_browndyn_periodic_rve_dirich_element.dat
  tests/input_files/beam3r_line2_backweuler_browndyn_rve_and_node_dirich.dat
  tests/input_files/beam3r_line2_singlefil_periodic_uniaxial_shear.dat
  tests/input_files/beam3r_line2_singlefil_periodic_uniaxial_stretch.dat
  tests/input_files/beam3r_line2line2_static_beam_to_solid_surface_contact_ironing_penalty_gap_variation_segmentation_lin_quad.dat
  tests/input_files/beam3r_rigidsphere_activecrosslinking_truss_browndyn_truss.dat
  tests/input_files/beam3r_rigidsphere_activecrosslinking_truss_browndyn_truss_catchslipbond.dat
  tests/input_files/beam3r_rigidsphere_activecrosslinking_truss_browndyn_truss_forcedependetoffrate.dat
  tests/input_files/beam_runtime_ghosting_output.dat
Due: input-files, non-ascii-chars

Fix DBCs in elasthyper input files
  tests/input_files/elasthyper_coupanisoexpo.dat
  tests/input_files/elasthyper_coupanisoexposhear.dat
  tests/input_files/elasthyper_isomuscle_blemker.dat
  tests/input_files/elasthyper_isoogden.dat
Due: input-files, non-ascii-chars

Fix DBCs in mixture input files
  tests/input_files/mixture_prestress_arc_hex8.dat
  tests/input_files/mixture_prestress_arc_tet10.dat
  tests/input_files/mixture_prestress_arc_tet4.dat
Due: input-files, non-ascii-chars

Fix DBCs in f2 input files
  tests/input_files/f2_channel_EOS_quad4_1000x10_quad_inflow_h_diam_to_opp.dat
  tests/input_files/f2_channel_EOS_quad4_200x10_cubic_inflow.dat
  tests/input_files/f2_channel_EOS_quad4_200x10_cubic_inflow_h_diam_to_opp.dat
  tests/input_files/f2_channel_EOS_quad4_50x50_quad_inflow.dat
  tests/input_files/f2_channel_EOS_quad4_50x50_quad_inflow_h_diam_to_opp.dat
  tests/input_files/f2_channel_EOS_quad4_50x50_quad_inflow_h_dist_to_opp.dat
  tests/input_files/f2_channel_EOS_quad4_50x50_quad_inflow_h_ele_diam.dat
  tests/input_files/f2_channel_EOS_quad4_50x50_quad_inflow_h_surf_diam.dat
  tests/input_files/f2_channel_EOS_quad8_50x50_quad_inflow.dat
  tests/input_files/f2_channel_EOS_quad8_50x50_quad_inflow_h_dist_to_opp.dat
  tests/input_files/f2_channel_EOS_quad9_50x50_quad_inflow.dat
  tests/input_files/f2_channel_EOS_quad9_50x50_quad_inflow_h_dist_to_opp.dat
  tests/input_files/f2_channel_EOS_tri3_50_quad_inflow.dat
  tests/input_files/f2_channel_EOS_tri3_50_quad_inflow_h_diam_to_opp.dat
  tests/input_files/f2_channel_EOS_tri3_50_quad_inflow_h_ele_diam.dat
  tests/input_files/f2_channel_EOS_tri3_50_quad_inflow_h_surf_diam.dat
  tests/input_files/f2_channel_EOS_tri6_50_quad_inflow.dat
  tests/input_files/f2_loc_sys_bc.dat
  tests/input_files/f2_loc_sys_bc_ale.dat
  tests/input_files/f2_moved_tapering_ale_quad4_212x40_eos.dat
  tests/input_files/f2_moved_tapering_ale_quad4_212x40_rsb.dat
Due: input-files, non-ascii-chars

Fix DBCs in f3 input files
  tests/input_files/f3_artery_coupled_with_3_1d_arteries.dat
  tests/input_files/f3_channel_EOS_hex20_10x10x10_quad_inflow.dat
  tests/input_files/f3_channel_EOS_hex20_10x10x10_quad_inflow_h_diam_to_opp.dat
  tests/input_files/f3_channel_EOS_hex27_10x10x10_quad_inflow.dat
  tests/input_files/f3_channel_EOS_hex27_10x10x10_quad_inflow_h_diam_to_opp.dat
  tests/input_files/f3_channel_EOS_hex8_10x10x10_quad_inflow.dat
  tests/input_files/f3_channel_EOS_hex8_10x10x10_quad_inflow_altgeogeneration.dat
  tests/input_files/f3_channel_EOS_hex8_10x10x10_quad_inflow_h_diam_to_opp.dat
  tests/input_files/f3_channel_EOS_hex8_10x10x10_quad_inflow_h_ele_diam.dat
  tests/input_files/f3_channel_EOS_hex8_10x10x10_quad_inflow_h_surf_diam.dat
  tests/input_files/f3_channel_EOS_hex8_125x8x8_quad_inflow.dat
  tests/input_files/f3_channel_EOS_hex8_125x8x8_quad_inflow_h_diam_to_opp.dat
  tests/input_files/f3_channel_EOS_tet10_10_quad_inflow.dat
  tests/input_files/f3_channel_EOS_tet10_10_quad_inflow_h_diam_to_opp.dat
  tests/input_files/f3_channel_EOS_tet4_10_quad_inflow.dat
  tests/input_files/f3_channel_EOS_tet4_10_quad_inflow_h_diam_to_opp.dat
  tests/input_files/f3_channel_EOS_tet4_10_quad_inflow_h_ele_diam.dat
  tests/input_files/f3_channel_EOS_tet4_10_quad_inflow_h_surf_diam.dat
  tests/input_files/f3_channel_EOS_wedge15_10x10x10_quad_inflow_altgeogeneration.dat
  tests/input_files/f3_drivencavity16x16x16_Re1000_artcomp.dat
  tests/input_files/f3_kimmoin_stat_24x24x1_wedge15_pseudo2D.dat
  tests/input_files/f3_poiseuille_flow_edgebased.dat
Due: input-files, non-ascii-chars

Fix some doxygen warnings
  doc/doxygen/Doxyfile.in
  src/beaminteraction/4C_beaminteraction_beam_to_solid_mortar_manager.hpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_mortar_manager_contact.hpp
  src/cardiovascular0d/4C_cardiovascular0d_manager.hpp
  src/constraint_framework/4C_constraint_framework_embeddedmesh_solid_to_solid_mortar_manager.hpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_interface.hpp
  src/core/fem/src/geometry/4C_fem_geometry_element_volume.hpp
  src/fbi/4C_fbi_adapter_constraintbridge.hpp
  src/fbi/4C_fbi_beam_to_fluid_assembly_manager_factory.hpp
  src/fbi/4C_fbi_beam_to_fluid_meshtying_pair_gauss_point.hpp
  src/fbi/4C_fbi_partitioned_penaltycoupling_assembly_manager.hpp
  src/fbi/4C_fbi_partitioned_penaltycoupling_assembly_manager_direct.hpp
  src/mat/4C_mat_scatra_micro_macro_coupling.hpp
  src/mixture/4C_mixture_constituent.hpp
  src/mixture/4C_mixture_constituent_elasthyper.hpp
  src/porofluidmultiphase_ele/4C_porofluidmultiphase_ele_evaluator.hpp
  src/shell7p/4C_shell7p_ele_calc_lib.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_structure.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Let selection take a map instead of vector<pair>
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/utils/src/parameters/4C_utils_parameter_list.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Make PROBLEMTYPE a required parameter
  src/inpar/4C_inpar_problemtype.cpp
  unittests/mat/4C_electrode_test.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Add missing PROBLEMTYPE in multiscale support file
  tests/input_files/elch_1D_line2_multiscale_butlervolmer_anode.mat
  tests/input_files/elch_1D_line2_multiscale_butlervolmer_cathode.mat
  tests/input_files/ssi_oneway_scatra_to_solid_3D_line2_elch_s2i_butlervolmer_multiscale_cathode.mat
Due: non-ascii-chars

InputSpec can emit data to yaml files
  src/core/io/src/4C_io_input_spec.cpp
  src/core/io/src/4C_io_input_spec.hpp
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Refactor thermo energy output
  src/inpar/4C_inpar_thermo.cpp
  src/thermo/src/implicit/4C_thermo_timint.cpp
  src/thermo/src/implicit/4C_thermo_timint.hpp
  tests/input_files/annulus-energy-thermo.csv
  tests/input_files/thermo3D_annulus_anisotropic_statics.dat
  tests/list_of_tests.cmake
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Remove explicit euler enum
  src/inpar/4C_inpar_thermo.cpp
  src/thermo/src/element/4C_thermo_ele_impl.cpp
  src/thermo/src/implicit/4C_thermo_timint.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove deleted parameters from test files
  tests/input_files/thermo_bar_DBC_genalpha.dat
  tests/input_files/thermoconvection_Tempn.dat
  tests/input_files/thermoconvection_Tempnp.dat
  tests/input_files/thermoconvection_tempnp_genalpha.dat
  tests/input_files/tsi_geonln_heatconvection_iterstagg.dat
  tests/input_files/tsi_geonln_heatflux_flexoutsurf_monolithic.dat
  tests/input_files/tsi_geonln_necking_fbar_thrplast.dat
  tests/input_files/tsi_geonln_plexichannel_varyE_OST_monolithic.dat
  tests/input_files/tsi_geonln_plexichannel_varyE_OST_monolithic_mergeTSImatrix.dat
  tests/input_files/tsi_geonln_tet4_heatflux_flexoutsurf_monolithic.dat
  tests/input_files/tsi_geonln_tsiload_hex27_flexoutsurf_monolithic.dat
  tests/input_files/tsi_heatflux_flexoutsurf_monolithic.dat
  tests/input_files/tsi_heatflux_monolithic_pbc.dat
  tests/input_files/tsi_locsys_monolithic.dat
  tests/input_files/tsi_plexichannel_varyE_monolithic.dat
  tests/input_files/volmortar3D_tsi_error.dat
Due: input-files, non-ascii-chars

Allow for defaultable groups
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Allow to match groups against group nodes
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Allow to mach lists against seq nodes
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Do not flatten mulitple one_ofs with callbacks
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

InputFile: reuse already attached InputSpecs
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_file.hpp
  src/core/io/src/4C_io_input_file_utils.cpp
  src/core/io/src/4C_io_input_file_utils.hpp
  src/core/io/tests/4C_io_input_file_test.cpp
  src/global_data/4C_global_data_read.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

InputFile: allow arbitrary FUNCT<n> sections
  src/core/io/src/4C_io_input_file.cpp
  src/global_data/4C_global_data_read.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Fix reading "none" values from yaml
  src/core/io/src/4C_io_yaml.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Implement general function for dof extraction
  src/core/fem/src/general/utils/4C_fem_general_extract_values.cpp
  src/core/fem/src/general/utils/4C_fem_general_extract_values.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Use new extraction method in solid_3D_ele
  src/solid_3D_ele/4C_solid_3D_ele_calc_eas_helpers.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_lib.hpp
  src/solid_3D_ele/4C_solid_3D_ele_evaluate.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_calc_lib.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_calc_pressure_based.cpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele_calc.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Enhance errors for condition input
  src/core/fem/src/condition/4C_fem_condition_definition.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Better errors when map/seq node does not fit spec
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add --dat-to-yaml option to 4C executable
  apps/global_full/4C_global_full_main.cpp
  src/core/comm/src/4C_comm_utils.cpp
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_file.hpp
  src/global_data/4C_global_data_read.cpp
  src/inpar/4C_inpar_validparameters.cpp
  src/inpar/4C_inpar_validparameters.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Use match_section for function input
  src/core/utils/src/functions/4C_utils_function_manager.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Use match_section for contact const laws
  src/global_data/4C_global_data_read.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Use match_section for results and cloning mat map
  src/global_data/4C_global_data_read.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove unused input helper functions
  src/core/io/src/4C_io_input_file_utils.cpp
  src/core/io/src/4C_io_input_file_utils.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Use a placeholder FUNCT<n> instead of magic number
  src/core/io/src/4C_io_input_file.cpp
  src/core/utils/src/functions/4C_utils_function_manager.cpp
  src/global_data/4C_global_data_read.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Update existing yaml input files
  tests/input_files/mixture_solid_material_viscoelasthyper.4C.yaml
  tests/input_files/solid_ele_hex8_Standard_eas_none_stressout.4C.yaml
  tests/input_files/solid_ele_hex8_Standard_shell_eas_ans.4C.yaml
  tests/input_files/solid_ele_wedge6_Standard_shell_ans.4C.yaml
  tests/input_files/solid_ele_wedge6_Standard_shell_eas_ans.4C.yaml
  tests/input_files/solid_material_prestress_iterative_spring_dashpot.4C.yaml
Due: non-ascii-chars

Let a few tests convert dat to yaml before running
  cmake/functions/four_c_testing_functions.cmake
  tests/list_of_tests.cmake
Due: non-ascii-chars

Improve the plastic materials:
  src/mat/4C_mat_plasticgtn.cpp
  src/mat/4C_mat_plasticnlnlogneohooke.cpp
  src/mat/4C_mat_plasticnlnlogneohooke.hpp
  tests/input_files/plastic_necking_eas_hard.dat
  tests/list_of_tests.cmake
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Move wear3D test to new solid elements
  tests/input_files/wear3D_modgap.dat
Due: input-files, non-ascii-chars

Update ryml to version 0.8.0
  cmake/configure/configure_ryml.cmake
Due: non-ascii-chars

Emit type metadata in a parseable format
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Yaml files use "null" instead of "none"
  src/core/io/src/4C_io_yaml.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
  tests/input_files/solid_material_prestress_iterative_spring_dashpot.4C.yaml
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars
