Repository sebproell/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Path conditions:
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/|mm$
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$

Rewrite a loop
  src/core/binstrategy/4C_binstrategy_utils.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Make PROBLEM TYPE a required parameter
  src/inpar/4C_inpar_problemtype.cpp
  unittests/mat/4C_electrode_test.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Only run UBSAN
  presets/docker/CMakePresets.json
Due: non-ascii-chars

Trap on UB
  cmake/setup_global_options.cmake
Due: non-ascii-chars

Use clang for UBSAN
  presets/docker/CMakePresets.json
Due: non-ascii-chars

Add missing PROBLEMTYPE in various files
  tests/framework-test/tutorial_fsi.head
  tests/framework-test/tutorial_fsi_3d.head
  tests/input_files/elch_1D_line2_multiscale_butlervolmer_anode.mat
  tests/input_files/elch_1D_line2_multiscale_butlervolmer_cathode.mat
  tests/input_files/ssi_oneway_scatra_to_solid_3D_line2_elch_s2i_butlervolmer_multiscale_cathode.mat
  tests/input_files/ssi_twoway_3D_line2_elch_s2i_butlervolmer_multiscale_cathode.mat
Due: non-ascii-chars

Remove dead code in exodus reader
  apps/pre_exodus/4C_pre_exodus_reader.cpp
  apps/pre_exodus/4C_pre_exodus_reader.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove exodus "quad to tri" option
  apps/pre_exodus/4C_pre_exodus.cpp
  apps/pre_exodus/4C_pre_exodus_reader.cpp
  apps/pre_exodus/4C_pre_exodus_reader.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Simplify data structures in Exodus mesh classes
  apps/pre_exodus/4C_pre_exodus.cpp
  apps/pre_exodus/4C_pre_exodus_reader.cpp
  apps/pre_exodus/4C_pre_exodus_reader.hpp
  apps/pre_exodus/4C_pre_exodus_validate.cpp
  apps/pre_exodus/4C_pre_exodus_validate.hpp
  apps/pre_exodus/4C_pre_exodus_writedat.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move Exodus::Mesh to core
  apps/pre_exodus/4C_pre_exodus.cpp
  apps/pre_exodus/4C_pre_exodus_readbc.cpp
  apps/pre_exodus/4C_pre_exodus_readbc.hpp
  apps/pre_exodus/4C_pre_exodus_validate.cpp
  apps/pre_exodus/4C_pre_exodus_validate.hpp
  apps/pre_exodus/4C_pre_exodus_writedat.cpp
  apps/pre_exodus/4C_pre_exodus_writedat.hpp
  apps/pre_exodus/CMakeLists.txt
  src/core/io/src/4C_io_exodus.cpp
  src/core/io/src/4C_io_exodus.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Small cleanup of Exodus mesh classes
  apps/pre_exodus/4C_pre_exodus_validate.cpp
  apps/pre_exodus/4C_pre_exodus_writedat.cpp
  src/core/io/src/4C_io_exodus.cpp
  src/core/io/src/4C_io_exodus.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

CMake: only copy support files unless specified
  cmake/functions/four_c_auto_define_tests.cmake
  src/core/io/tests/test_files/has_includes/folder2/include2.dat.in
Due: non-ascii-chars

Cmake: support files for framework tests
  cmake/functions/four_c_testing_functions.cmake
  tests/list_of_tests.cmake
Due: non-ascii-chars

Fix bug in structure micro-micro
  src/mat/4C_mat_micromaterial.cpp
  src/mat/4C_mat_micromaterial.hpp
  src/mat/4C_mat_micromaterial_evaluate.cpp
  src/mat/4C_mat_micromaterialgp_static.cpp
  src/structure/4C_structure_dyn_nln_drt.cpp
  tests/input_files/sohex8_multiscale_macro.dat
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Correct license identifier
  CITATION.cff
Due: non-ascii-chars

Throw if iterative linear solver does not converge
  src/core/linear_solver/src/method/4C_linear_solver_method_iterative.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method_linalg.cpp
  src/inpar/4C_inpar_solver.cpp
  tests/input_files/consinter3D_tsi_hex8_tet4.dat
  tests/input_files/f2_channel_EOS_quad4_1000x10_quad_inflow_h_diam_to_opp.dat
  tests/input_files/f2_channel_EOS_quad4_200x10_cubic_inflow.dat
  tests/input_files/f2_drivencavity32x32_Re1000_stat.dat
  tests/input_files/f3_beltrami_tet10_hdg.dat
  tests/input_files/f3_cha_8x8x8_recongradl2.dat
  tests/input_files/f3_cha_8x8x8_recongradspr.dat
  tests/input_files/f3_decaying_hit_8x8x8.dat
  tests/input_files/f3_decaying_hit_eb.dat
  tests/input_files/f3_impl_channel_pressuregrad.dat
  tests/input_files/f3_periodic_hill_w_forcing_24x12x12.dat
  tests/input_files/f3_womersley.dat
  tests/input_files/fsi_dc_mono_mtrss_ada_ab2_none.dat
  tests/input_files/scatra_forced_hit_iso_8x8x8_dsm.dat
  tests/input_files/sti_mono_2D_quad4_elch_s2i_butlervolmerpeltier_diabatic_AMG_vectorbased.dat
  tests/input_files/volmortar3D_tsi_hex8_tet4.dat
  tests/input_files/xfluid_stat_sliver_cut_instat.dat
  tests/input_files/xfluid_taylor_couette_NavSlip_eps1.0_25x25_krylov_levelset_altgeogeneration.dat
  tests/input_files/xfluid_taylor_couette_NavSlip_ri0.19_ro0.49_epsi1.0_epso1e-5_ti-2.5_to0.5_8x8_levelset_hex27.dat
Due: cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

Add a basic test for exodus mesh
  src/core/io/src/4C_io_exodus.cpp
  src/core/io/tests/4C_io_exodus_test.cpp
  src/core/io/tests/test_files/exodus/cube.exo
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Adapt pre-commit dependencies hash check
  utilities/four_c_utils/src/four_c_utils/check_workflow_dependencies_hash.py
Due: non-ascii-chars

Allow non-required section in input files
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_file.hpp
  src/core/io/src/4C_io_input_file_utils.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add testing against Trilinos develop
  .github/workflows/trilinos-develop.yml
  dependencies/trilinos_develop/trilinos/install.sh
  docker/trilinos_develop/Dockerfile
Due: non-ascii-chars

Split rebalancing into more useful parts
  src/core/io/src/4C_io_meshreader.cpp
  src/core/io/src/4C_io_meshreader.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Upload metadata and schema file nightly
  .github/workflows/nightly_tests.yml
Due: non-ascii-chars

MeshReader can directly read exodus files
  src/core/io/src/4C_io_meshreader.cpp
  src/core/io/src/4C_io_meshreader.hpp
  src/core/io/tests/4C_io_exodus_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Read node sets directly from Exodus file
  apps/global_full/4C_global_full_inp_control.cpp
  apps/pre_exodus/4C_pre_exodus_validate.cpp
  src/core/fem/src/condition/4C_fem_condition.hpp
  src/core/fem/src/condition/4C_fem_condition_definition.cpp
  src/core/io/src/4C_io_meshreader.cpp
  src/core/io/src/4C_io_meshreader.hpp
  src/global_data/4C_global_data_read.cpp
  src/global_data/4C_global_data_read.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Introduce file input for exodus
  src/core/fem/src/condition/4C_fem_condition.cpp
  src/core/fem/src/condition/4C_fem_condition.hpp
  src/core/fem/src/condition/4C_fem_condition_definition.cpp
  src/global_data/4C_global_data_read.cpp
  src/inpar/4C_inpar_validparameters.cpp
  src/ssi/4C_ssi_base.cpp
  src/structure_new/src/utils/4C_structure_new_monitor_dbc.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix printing of Trilinos git SHA
  apps/global_full/4C_global_full_main.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Add test for mesh input
  tests/input_files/contact3D_exodus_in.4C.yaml
  tests/input_files/contact3D_exodus_in.exo
  tests/list_of_tests.cmake
Due: non-ascii-chars

Update Trilinos version hash
  .github/workflows/buildtest.yml
  .github/workflows/checkcode.yml
  .github/workflows/coverage.yml
  .github/workflows/documentation.yml
  .github/workflows/nightly_tests.yml
  dependencies/current/trilinos/install.sh
  dependencies/supported_version/Trilinos.txt
  docker/README.md
Due: non-ascii-chars

Move node input into MeshReader
  src/core/io/src/4C_io_meshreader.cpp
  src/core/io/src/4C_io_nodereader.cpp
  src/core/io/src/4C_io_nodereader.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

ElementReader: remove unnecessary stuff
  src/core/io/src/4C_io_elementreader.cpp
  src/core/io/src/4C_io_elementreader.hpp
  src/core/io/src/4C_io_meshreader.cpp
  src/core/io/src/4C_io_meshreader.hpp
  src/global_data/4C_global_data_read.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove remnants of CELL(SCATRA) and OPTI
  apps/pre_exodus/4C_pre_exodus_writedat.cpp
  src/global_data/4C_global_data_read.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Simplify the DiscretizationWriter setup
  src/global_data/4C_global_data_read.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Update supported Trilinos versions
  dependencies/supported_version/Trilinos.txt
Due: non-ascii-chars

Improve ArborX interface
  src/beaminteraction/src/4C_beaminteraction_submodel_evaluator_beamcontact.cpp
  src/beaminteraction/src/4C_beaminteraction_submodel_evaluator_beamcontact.hpp
  src/core/fem/src/geometric_search/4C_fem_geometric_search_access_traits.hpp
  src/core/fem/src/geometric_search/4C_fem_geometric_search_bvh.cpp
  src/core/fem/src/geometric_search/4C_fem_geometric_search_bvh.hpp
  src/core/fem/src/geometric_search/4C_fem_geometric_search_distributed_tree.cpp
  src/core/fem/src/geometric_search/4C_fem_geometric_search_distributed_tree.hpp
  src/core/fem/src/geometric_search/4C_fem_geometric_search_utils.hpp
  src/core/fem/tests/geometric_search/4C_fem_geometric_search_distributed_test.np3.cpp
  src/core/fem/tests/geometric_search/4C_fem_geometric_search_test.cpp
  src/core/rebalance/src/4C_rebalance_graph_based.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move to Intrepid2 and refactor gauss point
  cmake/functions/four_c_configure_dependency.cmake
  src/core/fem/src/general/utils/4C_fem_general_utils_gausspoints.cpp
  src/core/fem/src/general/utils/4C_fem_general_utils_gausspoints.hpp
  src/core/fem/src/general/utils/4C_fem_general_utils_polynomial.cpp
  src/core/fem/src/general/utils/4C_fem_general_utils_shapevalues_hdg.cpp
  src/cut/4C_cut_elementhandle.cpp
  src/fluid_ele/4C_fluid_ele_calc_intfaces_stab.cpp
  src/scatra_ele/4C_scatra_ele.cpp
  src/scatra_ele/4C_scatra_ele_calc_cardiac_monodomain_hdg.cpp
  src/scatra_ele/4C_scatra_ele_hdg.cpp
  tests/cut_test/cut_test_main.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add wedge to geometry pair
  src/constraint_framework/4C_constraint_framework_embeddedmesh_interaction_pair_mortar.cpp
  src/constraint_framework/4C_constraint_framework_embeddedmesh_solid_to_solid_utils.cpp
  src/geometry_pair/4C_geometry_pair_element.hpp
  src/geometry_pair/4C_geometry_pair_element_evaluation_functions.hpp
  src/geometry_pair/4C_geometry_pair_factory.cpp
  src/geometry_pair/4C_geometry_pair_line_projection.cpp
  src/geometry_pair/4C_geometry_pair_line_to_volume.cpp
  src/geometry_pair/4C_geometry_pair_line_to_volume_gauss_point_projection.cpp
  src/geometry_pair/4C_geometry_pair_line_to_volume_segmentation.cpp
  tests/input_files/embeddedmesh_block_nurbs27_hex8_wedge6.dat
  tests/input_files/ref/embeddedmesh_block_nurbs27_hex8_wedge6-structure.pvd
  tests/input_files/ref/embeddedmesh_block_nurbs27_hex8_wedge6-vtk-files/structure-00000-0.vtu
  tests/input_files/ref/embeddedmesh_block_nurbs27_hex8_wedge6-vtk-files/structure-00000-1.vtu
  tests/input_files/ref/embeddedmesh_block_nurbs27_hex8_wedge6-vtk-files/structure-00000.pvtu
  tests/input_files/ref/embeddedmesh_block_nurbs27_hex8_wedge6-vtk-files/structure-00001-0.vtu
  tests/input_files/ref/embeddedmesh_block_nurbs27_hex8_wedge6-vtk-files/structure-00001-1.vtu
  tests/input_files/ref/embeddedmesh_block_nurbs27_hex8_wedge6-vtk-files/structure-00001.pvtu
  tests/list_of_tests.cmake
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Unify input of discretizations
  src/core/fem/src/general/utils/4C_fem_general_utils_createdis.cpp
  src/core/io/src/4C_io_meshreader.cpp
  src/core/io/src/4C_io_meshreader.hpp
  src/global_data/4C_global_data_read.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove utils namespace
  src/porofluid_pressure_based/4C_porofluid_pressure_based_dyn.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_meshtying_strategy_artery.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_meshtying_strategy_std.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_timint_implicit.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_utils.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_utils.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_base.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_dyn.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_monolithic_twoway.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_utils.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_utils.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_utils_clonestrategy.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_utils_clonestrategy.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_linebased.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_base.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_dyn.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_function.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_monolithic_twoway.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_utils.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_utils.hpp
  src/scatra/4C_scatra_timint_meshtying_strategy_artery.cpp
  src/scatra/4C_scatra_timint_poromulti.cpp
  unittests/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_utils_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars
