Repository sebproell/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

cpp-filename-includes:
  name: C++ file names and include style
  description: Check that all C++ files have the correct file name and include style
  language: system
  entry: utilities/python-venv/bin/check-filenames-and-includes
  args:
  - --paths
  - src/
  - unittests/
  - apps/
  - --files

cpp-include-guard:
  name: Include guards
  description: Check that all C++ files have the correct include guards
  language: python
  entry: utilities/python-venv/bin/check-header-guards

cpp-preprocessor:
  name: C++ preprocessor directives
  description: Check that all C++ files only use acceptable preprocessor directives
  language: python
  entry: utilities/python-venv/bin/check-preprocessor

input-files:
  name: Test input files
  description: Check input files conform to expectations
  language: python
  entry: utilities/python-venv/bin/check-test-files

non-ascii-chars:
  name: Non-ASCII characters
  language: system
  entry: ./utilities/code_checks/check_non_ascii_chars

Remove unused map replacement calls
  src/mortar/4C_mortar_utils.cpp
  src/mortar/4C_mortar_utils.hpp
  src/timestepping/4C_timestepping_mstep.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove map replacement in SSI
  src/ssi/4C_ssi_partitioned_1wc.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Update-IMCS-workstation-preset
  presets/imcs/workstation/CMakePresets.json
Due: non-ascii-chars

Rework of ssi monolithic meshtying strategy
  src/ssi/4C_ssi_dyn.cpp
  src/ssi/4C_ssi_monolithic.cpp
  src/ssi/4C_ssi_monolithic.hpp
  src/ssi/4C_ssi_monolithic_meshtying_strategy.cpp
  src/ssi/4C_ssi_monolithic_meshtying_strategy.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove doc/reference_docs dir before creating doc
  doc/documentation/CMakeLists.txt
Due: non-ascii-chars

Remove obsolete set_state() call
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_singlestep.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Move vector nullification to integrator
  src/structure_new/src/explicit/4C_structure_new_timint_explicit.cpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_singlestep.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Make LinAlg::View more general
  src/core/linalg/src/sparse/4C_linalg_map.cpp
  src/core/linalg/src/sparse/4C_linalg_map.hpp
  src/core/linalg/src/sparse/4C_linalg_multi_vector.hpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrixbase.hpp
  src/core/linalg/src/sparse/4C_linalg_vector.hpp
  src/core/linalg/src/sparse/4C_linalg_view.hpp
  src/core/utils/src/stl_extension/4C_utils_owner_or_view.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Delete unnecessary base classes
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_monolithic.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_monolithic.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_monolithic_twoway.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_partitioned.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_partitioned.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_partitioned_twoway.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_utils.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Clean up coupling pair
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_nodetopoint.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_pair.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_pair.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_surfbased.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove DebugWriter for FSI problems
  src/fpsi/4C_fpsi_monolithic.hpp
  src/fpsi/4C_fpsi_monolithic_plain.cpp
  src/fsi/src/monolithic/4C_fsi_monolithic.cpp
  src/fsi/src/monolithic/4C_fsi_monolithic.hpp
  src/fsi/src/monolithic/4C_fsi_monolithic_nonox.cpp
  src/fsi/src/monolithic/4C_fsi_monolithic_nonox.hpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_fluidfluidmonolithic_fluidsplit_nonox.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_fluidfluidmonolithic_structuresplit_nonox.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_monolithicfluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_monolithicstructuresplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_fluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_fluidsplit_sp.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_structuresplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_slidingmonolithic_fluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_slidingmonolithic_structuresplit.cpp
  src/fsi/src/partitioned/4C_fsi_partitioned.cpp
  src/fsi/src/partitioned/4C_fsi_partitioned.hpp
  src/fsi/src/partitioned/model_evaluator/4C_fsi_dirichletneumann.cpp
  src/fsi/src/partitioned/model_evaluator/4C_fsi_dirichletneumann_disp.cpp
  src/fsi/src/partitioned/model_evaluator/4C_fsi_dirichletneumann_volcoupl.cpp
  src/fsi/src/partitioned/model_evaluator/4C_fsi_dirichletneumannslideale.cpp
  src/fsi/src/utils/4C_fsi_debugwriter.cpp
  src/fsi/src/utils/4C_fsi_debugwriter.hpp
  src/fsi_xfem/4C_fsi_xfem_monolithic.cpp
  src/fsi_xfem/4C_fsi_xfem_monolithic.hpp
  src/inpar/4C_inpar_fsi.cpp
  tests/input_files/fs3i_mult_scalar_windkessel_reac.dat
  tests/input_files/fsci_simp_salz_syst.dat
  tests/input_files/tfsi_plate.dat
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Quote legacy strings when converting to YAML
  src/core/io/src/4C_io_input_file.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Migrate commit-msg hook to pre-commit
  .pre-commit-config.yaml
  utilities/code_checks/check_venv
  utilities/code_checks/commit-msg
  utilities/set_up_dev_env.sh
Due: non-ascii-chars

Modifty factory method to create a solver
  src/structure_new/src/explicit/4C_structure_new_timint_explicit.cpp
  src/structure_new/src/implicit/4C_structure_new_timint_implicit.cpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_factory.cpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_factory.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Change Generic and Nox solver ctors
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_generic.cpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_generic.hpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_nox.cpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_nox.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove obsolete classes
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_fullnewton.cpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_fullnewton.hpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_generic.hpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_nox.hpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_ptc.cpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_ptc.hpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_singlestep.cpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_singlestep.hpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_uzawa.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add workaround for old Trilinos versions
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_nox.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Add settings for various solvers
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_factory.cpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_factory.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Use correct English possessive pronouns
  src/beaminteraction/src/4C_beaminteraction_submodel_evaluator_crosslinking.cpp
  src/beaminteraction/src/4C_beaminteraction_submodel_evaluator_crosslinking.hpp
  src/constraint/4C_constraint_multipointconstraint2.cpp
  src/constraint/4C_constraint_multipointconstraint3.cpp
  src/constraint/4C_constraint_multipointconstraint3penalty.cpp
  src/core/binstrategy/4C_binstrategy.cpp
  src/core/binstrategy/4C_binstrategy_utils.cpp
  src/core/fem/src/condition/4C_fem_condition_periodic.cpp
  src/core/fem/src/condition/4C_fem_condition_periodic.hpp
  src/core/geometric_search/src/4C_geometric_search_matchingoctree.cpp
  src/core/geometric_search/src/4C_geometric_search_matchingoctree.hpp
  src/core/io/src/legacy/4C_io_legacy_table_iter.cpp
  src/cut/4C_cut_element.hpp
  src/cut/4C_cut_tetmesh.cpp
  src/fluid/4C_fluid_implicit_integration.cpp
  src/fluid_ele/4C_fluid_ele_calc_xfem_coupling_impl.hpp
  src/fsi_xfem/4C_fsi_xfem_coupling_comm_manager.cpp
  src/mat/4C_mat_damage.cpp
  src/mixture/4C_mixture_rule.hpp
  src/structure/4C_structure_timint_impl.cpp
  src/tsi/4C_tsi_partitioned.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Replace get_condition for SSI meshtying
  src/scatra/4C_scatra_timint_meshtying_strategy_s2i.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Modernize Condition utils
  src/core/fem/src/condition/4C_fem_condition_utils.cpp
  src/core/fem/src/condition/4C_fem_condition_utils.hpp
  src/core/fem/src/dofset/4C_fem_dofset_merged_wrapper.cpp
  src/coupling/src/adapter/4C_coupling_adapter.cpp
  src/fluid/4C_fluid_implicit_integration.cpp
  src/scatra/4C_scatra_utils.cpp
  src/ssi/4C_ssi_utils.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Get conditions from Discretization if possible
  src/xfem/4C_xfem_coupling_mesh.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Fix ConditionUtils
  src/core/fem/src/condition/4C_fem_condition_utils.cpp
  src/core/fem/src/condition/4C_fem_condition_utils.hpp
  src/core/fem/src/dofset/4C_fem_dofset_merged_wrapper.cpp
  src/coupling/src/adapter/4C_coupling_adapter.cpp
  src/fluid/4C_fluid_implicit_integration.cpp
  src/scatra/4C_scatra_timint_meshtying_strategy_s2i.cpp
  src/scatra/4C_scatra_utils.cpp
  src/ssi/4C_ssi_utils.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove get_condition in beam3
  src/beam3/4C_beam3_discretization_runtime_vtu_writer.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

More rework of condition utils
  src/core/fem/src/condition/4C_fem_condition_utils.cpp
  src/core/fem/src/condition/4C_fem_condition_utils.hpp
  src/core/fem/src/dofset/4C_fem_dofset_merged_wrapper.cpp
  src/coupling/src/adapter/4C_coupling_adapter.cpp
  src/fluid/4C_fluid_implicit_integration.cpp
  src/scatra/4C_scatra_timint_meshtying_strategy_s2i.cpp
  src/scatra/4C_scatra_utils.cpp
  src/ssi/4C_ssi_utils.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Change get_condition in reduced_lung
  src/core/fem/src/condition/4C_fem_condition_utils.cpp
  src/core/fem/src/condition/4C_fem_condition_utils.hpp
  src/reduced_lung/4C_reduced_lung_main.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove get_condition in artery coupling poro
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_linebased.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove unused level set function
  src/levelset/4C_levelset_algorithm.hpp
  src/levelset/4C_levelset_algorithm_utils.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove get_condition in XFEM
  src/xfem/4C_xfem_coupling_mesh.cpp
  src/xfem/4C_xfem_coupling_mesh.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove get_condition in constraint_framework
  src/constraint_framework/4C_constraint_framework_embeddedmesh_solid_to_solid_mortar_manager.cpp
  src/constraint_framework/4C_constraint_framework_embeddedmesh_solid_to_solid_utils.cpp
  src/constraint_framework/4C_constraint_framework_embeddedmesh_solid_to_solid_utils.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add missing include for older Trilinos versions
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_nox.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Add image for oldest supported dependencies
  .github/workflows/buildtest.yml
  .github/workflows/checkcode.yml
  .github/workflows/coverage.yml
  .github/workflows/docker.yml
  .github/workflows/documentation.yml
  .github/workflows/nightly_tests.yml
  dependencies/oldest_supported/trilinos/install.sh
  docker/oldest_supported/Dockerfile
Due: non-ascii-chars

Clean up PorofluidElastScatraBaseAlgorithm
  apps/global_full/4C_global_full_cal_control.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_base.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_base.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_dyn.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_dyn.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_monolithic.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_monolithic.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_partitioned.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_partitioned.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_utils.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_utils.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move tensor internals into own file
  src/core/linalg/src/dense/4C_linalg_tensor.hpp
  src/core/linalg/src/dense/4C_linalg_tensor_internals.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Rename namespace Tensor to FourTensorOperations
  src/core/linalg/src/dense/4C_linalg_fixedsizematrix_tensor_derivatives.cpp
  src/core/linalg/src/dense/4C_linalg_fixedsizematrix_tensor_derivatives.hpp
  src/core/linalg/src/dense/4C_linalg_fixedsizematrix_tensor_products.cpp
  src/core/linalg/src/dense/4C_linalg_fixedsizematrix_tensor_products.hpp
  src/core/linalg/src/dense/4C_linalg_fixedsizematrix_tensor_transformation.cpp
  src/core/linalg/src/dense/4C_linalg_fixedsizematrix_tensor_transformation.hpp
  src/core/linalg/src/dense/4C_linalg_utils_densematrix_funct.cpp
  src/core/linalg/tests/4C_linalg_utils_tensor_products_test.cpp
  src/core/linalg/tests/4C_linalg_utils_tensor_transformation_test.cpp
  src/mat/4C_mat_aaaneohooke.cpp
  src/mat/4C_mat_constraintmixture.cpp
  src/mat/4C_mat_elasthyper_service.cpp
  src/mat/4C_mat_growthremodel_elasthyper.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
  src/mat/4C_mat_multiplicative_split_defgrad_elasthyper.cpp
  src/mat/4C_mat_multiplicative_split_defgrad_elasthyper_service.hpp
  src/mat/4C_mat_muscle_combo.cpp
  src/mat/4C_mat_muscle_giantesio.cpp
  src/mat/4C_mat_muscle_weickenmeier.cpp
  src/mat/4C_mat_plastic_VarConstUpdate.cpp
  src/mat/4C_mat_plasticelasthyper.cpp
  src/mat/4C_mat_plasticgtn.cpp
  src/mat/4C_mat_plasticnlnlogneohooke.cpp
  src/mat/4C_mat_service.cpp
  src/mat/4C_mat_superelastic_sma.cpp
  src/mat/4C_mat_thermoplastichyperelast.cpp
  src/mat/4C_mat_viscoanisotropic.cpp
  src/mat/4C_mat_viscoelasthyper.cpp
  src/mat/4C_mat_visconeohooke.cpp
  src/mat/elast/4C_mat_elast_isoanisoexpo.cpp
  src/mat/elast/4C_mat_elast_isomuscle_blemker.cpp
  src/mat/elast/4C_mat_elast_remodelfiber.cpp
  src/membrane/4C_membrane_evaluate.cpp
  src/mixture/4C_mixture_constituent_elasthyper_elastin_membrane.cpp
  src/mixture/4C_mixture_growth_strategy_stiffness.cpp
  src/shell7p/4C_shell7p_ele_calc_lib.hpp
  src/solid_3D_ele/4C_solid_3D_ele_surface_traceestimate.cpp
  unittests/mat/4C_material_service_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Further test fix for ASAN
  tests/input_files/contact3D_tet4_hex8.dat
Due: input-files, non-ascii-chars

Rename PorofluidElastAlgorithm
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_artery_coupling.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_artery_coupling.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_base.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_base.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_dyn.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_monolithic.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_monolithic.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_partitioned.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_partitioned.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_utils.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_utils.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_base.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_base.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_monolithic.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_partitioned.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove a few epetra_matrix() calls
  src/core/linalg/src/sparse/4C_linalg_equilibrate.cpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrixbase.cpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrixbase.hpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_manipulation.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_manipulation.hpp
  src/core/linalg/tests/4C_linalg_utils_sparse_algebra_manipulation_test.np2.cpp
  src/core/linalg/tests/4C_linalg_utils_sparse_algebra_math_test.np2.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Path conditions:
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/|mm$
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$
