Repository sebproell/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

cpp-filename-includes:
  name: C++ file names and include style
  description: Check that all C++ files have the correct file name and include style
  language: system
  entry: utilities/python-venv/bin/check-filenames-and-includes
  args:
  - --paths
  - src/
  - unittests/
  - apps/
  - --files

cpp-include-guard:
  name: Include guards
  description: Check that all C++ files have the correct include guards
  language: python
  entry: utilities/python-venv/bin/check-header-guards

cpp-preprocessor:
  name: C++ preprocessor directives
  description: Check that all C++ files only use acceptable preprocessor directives
  language: python
  entry: utilities/python-venv/bin/check-preprocessor

input-files:
  name: Test input files
  description: Check input files conform to expectations
  language: python
  entry: utilities/python-venv/bin/check-test-files

non-ascii-chars:
  name: Non-ASCII characters
  language: system
  entry: ./utilities/code_checks/check_non_ascii_chars

Update IMCS workstation preset
  presets/imcs/workstation/CMakePresets.json
Due: non-ascii-chars

Remove last BACI headers from input files
  tests/input_files/embeddedmesh_cut_bar_under_torsion_one_element.dat
  tests/input_files/embeddedmesh_cut_integrate_bar_hex8_ele_1.dat
  tests/input_files/embeddedmesh_two_blocks_hex_hex_5x5.dat
Due: input-files, non-ascii-chars

Remove BACI symbolic link
  apps/global_full/CMakeLists.txt
Due: non-ascii-chars

Add lobatto integration for hex cell type
  src/core/fem/src/general/utils/4C_fem_general_utils_integration.cpp
  src/core/fem/src/general/utils/4C_fem_general_utils_integration.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Assume yaml filename for --to-yaml if not given
  apps/global_full/4C_global_full_main.cpp
  src/core/io/src/4C_io_input_file.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Implement p-v-based Solid-Poro-P1 element
  src/core/fem/src/general/element/4C_fem_general_element_definition.cpp
  src/global_legacy_module/4C_global_legacy_module.cpp
  src/poroelast/4C_poroelast_utils.cpp
  src/poroelast/4C_poroelast_utils_clonestrategy.cpp
  src/poroelast_scatra/4C_poroelast_scatra_utils.cpp
  src/poroelast_scatra/4C_poroelast_scatra_utils_clonestrategy.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_calc_lib.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_calc_lib_p1.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_calc_pressure_velocity_based.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_calc_pressure_velocity_based.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_factory.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_factory.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based_evaluate.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based_p1.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based_p1.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based_p1_evaluate.cpp
  tests/input_files/poro_3D_hex8_p1.dat
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Remove remnant of old SoSH8 element
  apps/pre_exodus/4C_pre_exodus_readbc.hpp
  doc/readthedocs/elementtypes.rst
  doc/readthedocs/tut_fsi_preexo.rst
  src/adapter/4C_adapter_str_fsiwrapper.hpp
  src/core/fem/src/general/element/4C_fem_general_element_definition.cpp
  src/global_legacy_module/4C_global_legacy_module.cpp
  src/so3/4C_so3_hex8.hpp
  src/so3/4C_so3_hex8_eas.cpp
  src/so3/4C_so3_hex8_evaluate.cpp
  src/so3/4C_so3_nullspace.cpp
  src/so3/4C_so3_sh8.cpp
  src/so3/4C_so3_sh8.hpp
  src/so3/4C_so3_sh8_evaluate.cpp
  src/so3/4C_so3_sh8_input.cpp
  src/so3/4C_so3_sh8_service.cpp
  tests/framework-test/tutorial_fsi_3d.bc
  tests/framework-test/tutorial_fsi_3d.head
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Implement STC in new time integration framework
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_linearsystem_scaling.cpp
  tests/input_files/stc-mltube-sosh8.dat
Due: cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

Remove STC in old time integration framework
  src/adapter/4C_adapter_str_structure.cpp
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_element_actions.hpp
  src/so3/4C_so3_hex8.hpp
  src/so3/4C_so3_nurbs27_evaluate.cpp
  src/structure/4C_structure_timint.hpp
  src/structure/4C_structure_timint_expl.hpp
  src/structure/4C_structure_timint_impl.cpp
  src/structure/4C_structure_timint_impl.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add selection in schema
  utilities/create_json_schema.py
  utilities/metadata_utils.py
Due: non-ascii-chars

Rework new selection to work with magic_enum
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move beaminteraction potential input to physics
  src/beamcontact/4C_beamcontact_beam3contact_manager.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_input.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_input.hpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_pair_beam_to_beam.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_pair_beam_to_sphere.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_params.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_params.hpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_runtime_visualization_output_params.hpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_submodel_evaluator.cpp
  src/inpar/4C_inpar_beampotential.hpp
  src/inpar/4C_inpar_validconditions.cpp
  src/inpar/4C_inpar_validparameters.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move enum ConstitutiveLawType to namespace CONTACT
  src/contact/4C_contact_strategy_factory.cpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_brokenrational_contactconstitutivelaw.hpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_contactconstitutivelaw.cpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_contactconstitutivelaw.hpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_contactconstitutivelaw_parameter.hpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_cubic_contactconstitutivelaw.hpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_linear_contactconstitutivelaw.hpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_mirco_contactconstitutivelaw.hpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_power_contactconstitutivelaw.hpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_valid_laws.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove old solid-poro elements
  doc/readthedocs/elementtypes.rst
  src/contact/4C_contact_nitsche_integrator_fsi.cpp
  src/contact/4C_contact_nitsche_integrator_poro.cpp
  src/core/fem/src/general/element/4C_fem_general_element_definition.cpp
  src/global_legacy_module/4C_global_legacy_module.cpp
  src/poroelast/4C_poroelast_utils.cpp
  src/poroelast/4C_poroelast_utils_clonestrategy.cpp
  src/poroelast_scatra/4C_poroelast_scatra_utils.cpp
  src/poroelast_scatra/4C_poroelast_scatra_utils_clonestrategy.cpp
  src/so3/4C_so3_poro.cpp
  src/so3/4C_so3_poro.hpp
  src/so3/4C_so3_poro.inst.hpp
  src/so3/4C_so3_poro_eletypes.cpp
  src/so3/4C_so3_poro_eletypes.hpp
  src/so3/4C_so3_poro_evaluate.cpp
  src/so3/4C_so3_poro_p1.cpp
  src/so3/4C_so3_poro_p1.hpp
  src/so3/4C_so3_poro_p1.inst.hpp
  src/so3/4C_so3_poro_p1_eletypes.cpp
  src/so3/4C_so3_poro_p1_eletypes.hpp
  src/so3/4C_so3_poro_p1_evaluate.cpp
  src/so3/4C_so3_poro_p1_scatra.cpp
  src/so3/4C_so3_poro_p1_scatra.hpp
  src/so3/4C_so3_poro_p1_scatra_eletypes.cpp
  src/so3/4C_so3_poro_p1_scatra_eletypes.hpp
  src/so3/4C_so3_poro_scatra.cpp
  src/so3/4C_so3_poro_scatra.hpp
  src/so3/4C_so3_poro_scatra.inst.hpp
  src/so3/4C_so3_poro_scatra_eletypes.cpp
  src/so3/4C_so3_poro_scatra_eletypes.hpp
  src/so3/4C_so3_poro_scatra_evaluate.cpp
  src/solid_3D_ele/4C_solid_3D_ele_factory.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Update pre-commit to version 4.1.0
  utilities/requirements.txt
Due: non-ascii-chars

Convert AdhesionType to enum class
  src/contact/4C_contact_input.cpp
  src/contact/4C_contact_input.hpp
  src/contact/4C_contact_interface.cpp
  src/contact/4C_contact_manager.cpp
  src/contact/4C_contact_strategy_factory.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused enum declarations and utils
  src/contact/4C_contact_input.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_contactdata.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_data.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused enum & occurences across the code
  src/contact/4C_contact_input.hpp
  src/contact/4C_contact_paramsinterface.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_data.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Update docs and version check for set_up_dev_env
  doc/readthedocs/installation.rst
  utilities/set_up_dev_env.sh
Due: non-ascii-chars

Convert NitscheWeighting enum to enum class
  src/contact/4C_contact_input.cpp
  src/contact/4C_contact_input.hpp
  src/contact/4C_contact_nitsche_integrator.cpp
  src/contact/4C_contact_nitsche_strategy.cpp
  src/contact/4C_contact_utils.cpp
  src/inpar/4C_inpar_tsi.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove helper to convert Yes/No to bool
  src/inpar/4C_inpar_boolifyparameters.cpp
  src/inpar/4C_inpar_boolifyparameters.hpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_aux.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_globaldata.cpp
  src/structure/4C_structure_timint_impl_nox.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Make "Disable Implicit Weighting" a bool
  tests/input_files/beam_flow_solver.xml
  tests/input_files/contact3D_nitsche_hex8_skew_segm_newtonLS_new_struc.xml
  tests/input_files/contact3D_nitsche_hex8_sym_coulomb_new_struc.xml
  tests/input_files/contact_two_beams_horizontal_new_struc.xml
  tests/input_files/fbi_part_struct_solver.xml
  tests/input_files/fsi_part_struct_solver.xml
  tests/input_files/fsi_part_struct_solver_potential_LJ.xml
  tests/input_files/plastic_necking_eas.xml
  tests/input_files/rough_contact_solver.xml
  tests/input_files/sohex8_eas_new_struc.xml
  tests/input_files/sohex8fbar_cooks_nl_new_struc.xml
  tests/input_files/soshw6_thin_nonlinear_pinched_hemisphere.xml
  tests/input_files/ssi_part_struct_solver.xml
  tests/input_files/tsi_meshtying_nurbs.xml
Due: non-ascii-chars

Move solid nullspace to solid_3D_ele
  src/ale/4C_ale_ale2.cpp
  src/ale/4C_ale_ale3.cpp
  src/ale/4C_ale_ale3_nurbs.cpp
  src/beam3/4C_beam3_reissner.cpp
  src/bele/4C_bele_bele3.cpp
  src/membrane/4C_membrane_eletypes.cpp
  src/shell_kl_nurbs/src/4C_shell_kl_nurbs.cpp
  src/so3/4C_so3_nullspace.cpp
  src/so3/4C_so3_nullspace.hpp
  src/solid_3D_ele/4C_solid_3D_ele.cpp
  src/solid_3D_ele/4C_solid_3D_ele_nullspace.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_based.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based.cpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele.cpp
  src/torsion3/4C_torsion3.cpp
  src/truss3/4C_truss3.cpp
  src/w1/4C_w1.cpp
  src/w1/4C_w1_nurbs.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add further 1D Gauss rules
  src/core/fem/src/general/utils/4C_fem_general_utils_integration.cpp
  src/core/fem/src/general/utils/4C_fem_general_utils_integration.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Use std::format for error and assertion messages
  src/core/utils/src/exceptions/4C_utils_exceptions.cpp
  src/core/utils/src/exceptions/4C_utils_exceptions.hpp
  src/core/utils/tests/exceptions/4C_utils_exceptions_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add implementation for C++23 std::unreachable()
  src/beaminteraction/src/4C_beaminteraction_beam_to_solid_conditions.cpp
  src/core/utils/src/stl_extension/c++23/4C_utils_std23_unreachable.hpp
  src/core/utils/src/stl_extension/c++23/CMakeLists.txt
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move EHL inpar to physics
  src/ehl/4C_ehl_base.cpp
  src/ehl/4C_ehl_base.hpp
  src/ehl/4C_ehl_dyn.cpp
  src/ehl/4C_ehl_input.cpp
  src/ehl/4C_ehl_input.hpp
  src/ehl/4C_ehl_monolithic.cpp
  src/ehl/4C_ehl_monolithic.hpp
  src/inpar/4C_inpar_ehl.hpp
  src/inpar/4C_inpar_validconditions.cpp
  src/inpar/4C_inpar_validparameters.cpp
  src/inpar/CMakeLists.txt
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move FBI inpar to physics
  src/fbi/4C_fbi_adapter_constraintbridge.cpp
  src/fbi/4C_fbi_beam_to_fluid_assembly_manager_factory.cpp
  src/fbi/4C_fbi_beam_to_fluid_meshtying_pair_factory.cpp
  src/fbi/4C_fbi_beam_to_fluid_meshtying_params.cpp
  src/fbi/4C_fbi_beam_to_fluid_meshtying_params.hpp
  src/fbi/4C_fbi_beam_to_fluid_mortar_manager.cpp
  src/fbi/4C_fbi_constraintenforcer.cpp
  src/fbi/4C_fbi_constraintenforcer_factory.cpp
  src/fbi/4C_fbi_immersedcoupler_factory.cpp
  src/fbi/4C_fbi_input.cpp
  src/fbi/4C_fbi_input.hpp
  src/fsi/src/4C_fsi_dyn.cpp
  src/fsi/src/partitioned/model_evaluator/4C_fsi_dirichletneumann_vel.cpp
  src/inpar/4C_inpar_fbi.hpp
  src/inpar/4C_inpar_validparameters.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Manually start nighlty tests
  .github/workflows/nightly_tests.yml
Due: non-ascii-chars

Remove unused input parameter and enum
  src/contact/4C_contact_input.hpp
  src/inpar/4C_inpar_tsi.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Unify spelling of ADHESION options
  src/contact/4C_contact_input.cpp
  src/contact/4C_contact_input.hpp
  src/contact/4C_contact_interface.cpp
  src/contact/4C_contact_manager.cpp
  src/contact/4C_contact_strategy_factory.cpp
  tests/input_files/poro_2D_contact_closed_bound.dat
  tests/input_files/poro_2D_quad4_poroporocontact.dat
  tests/input_files/poro_new_solid_nitsche_contact3D_twoelem.dat
  tests/input_files/poro_solid_contact3D_twoelem.dat
  tests/input_files/poro_solid_contact3D_twoelem_wonopen.dat
  tests/input_files/poro_solid_nitsche_contact3D_twoelem.dat
  tests/input_files/poro_solid_nitsche_contact3D_twoelem_twosided.dat
  tests/input_files/poro_solid_nitsche_contact3D_twoelem_wonopen.dat
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Switch FrictionType enum to enum class
  src/adapter/4C_adapter_coupling_ehl_mortar.cpp
  src/contact/4C_contact_abstract_strategy.cpp
  src/contact/4C_contact_input.cpp
  src/contact/4C_contact_input.hpp
  src/contact/4C_contact_interface.cpp
  src/contact/4C_contact_interface_assemble.cpp
  src/contact/4C_contact_interface_roundrobin.cpp
  src/contact/4C_contact_interface_tools.cpp
  src/contact/4C_contact_lagrange_strategy.cpp
  src/contact/4C_contact_line_coupling.cpp
  src/contact/4C_contact_manager.cpp
  src/contact/4C_contact_meshtying_manager.cpp
  src/contact/4C_contact_meshtying_strategy_factory.cpp
  src/contact/4C_contact_nitsche_integrator.cpp
  src/contact/4C_contact_nitsche_strategy_fpi.hpp
  src/contact/4C_contact_nitsche_strategy_fsi.hpp
  src/contact/4C_contact_penalty_strategy.cpp
  src/contact/4C_contact_strategy_factory.cpp
  src/contact/4C_contact_tsi_interface.cpp
  src/contact/4C_contact_wear_interface.cpp
  src/contact/4C_contact_wear_interface_tools.cpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_utils.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Path conditions:
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/|mm$
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$
