Repository sebproell/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Path conditions:
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/|mm$
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$

Replace fprint with std::cout
  src/thermo/src/implicit/4C_thermo_timint_impl.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove thermo explicit time integration
  src/thermo/src/4C_thermo_adapter.cpp
  src/thermo/src/explicit/4C_thermo_timint_expl.cpp
  src/thermo/src/explicit/4C_thermo_timint_expl.hpp
  src/thermo/src/explicit/4C_thermo_timint_expleuler.cpp
  src/thermo/src/explicit/4C_thermo_timint_expleuler.hpp
  src/thermo/src/explicit/CMakeLists.txt
  src/thermo/src/implicit/4C_thermo_timint.cpp
  src/thermo/src/implicit/4C_thermo_timint.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove historical backgorund of cmake presets
  doc/readthedocs/developer_cmake.rst
Due: none

Consistent naming of multiphysics in the repo
  CITATION.cff
  README.md
  doc/doxygen/index.doc
  doc/readthedocs/about.rst
  doc/readthedocs/index.rst
  doc/readthedocs/materials.rst
Due: non-ascii-chars

Fix small bug during restart of p-v-based so-poro
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_calc_pressure_velocity_based.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based_evaluate.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Set enum parameters directly instead of via string
  src/adapter/4C_adapter_scatra_base_algorithm.cpp
  src/contact/4C_contact_manager.cpp
  src/contact/4C_contact_meshtying_manager.cpp
  src/contact/4C_contact_meshtying_strategy_factory.cpp
  src/elemag/4C_elemag_dyn.cpp
  src/scatra/4C_scatra_timint_elch_scl.cpp
  src/ssi/4C_ssi_utils.cpp
  src/ssti/4C_ssti_algorithm.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

First version of new reduced lung model
  apps/global_full/4C_global_full_cal_control.cpp
  src/CMakeLists.txt
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_problem_type.hpp
  src/global_data/4C_global_data_read.cpp
  src/inpar/4C_inpar_problemtype.cpp
  src/red_airways/4C_red_airways_elementbase.hpp
  src/reduced_lung/4C_reduced_lung_helpers.cpp
  src/reduced_lung/4C_reduced_lung_helpers.hpp
  src/reduced_lung/4C_reduced_lung_main.cpp
  src/reduced_lung/4C_reduced_lung_main.hpp
  src/reduced_lung/CMakeLists.txt
  tests/input_files/reduced_lung_3_aw_2_tu.dat
  tests/input_files/reduced_lung_aw_bifurcation_flow.dat
  tests/input_files/reduced_lung_aw_bifurcation_no_flow.dat
  tests/input_files/reduced_lung_serial_airways_flow.dat
  tests/input_files/reduced_lung_serial_airways_no_flow.dat
  tests/input_files/reduced_lung_terminal_unit.dat
  tests/list_of_tests.cmake
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Fix a parser bug for single defaulted dat params
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Let trim() remove all kinds of whitespace
  src/core/utils/src/string_utils/4C_utils_string.cpp
  src/core/utils/tests/string_utils/4C_utils_string_test.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

InputSpec: Trim descriptions when printing to dat
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Ensure that ParameterList names stay correct
  src/beamcontact/4C_beamcontact_beam3contact_octtree.cpp
  src/core/io/src/4C_io_input_file_utils.cpp
  src/core/io/src/4C_io_input_parameter_container.cpp
  src/core/io/src/4C_io_input_parameter_container.hpp
  src/core/io/tests/4C_io_input_parameter_container_test.cpp
  src/global_data/4C_global_data_read.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move implementation of spring-dashpot from so3surf
  src/constraint/4C_constraint_springdashpot.cpp
  src/constraint/4C_constraint_springdashpot.hpp
  src/constraint/4C_constraint_springdashpot_manager.cpp
  src/core/fem/tests/utils/4C_fem_general_element_dof_matrix_test.cpp
  src/inpar/4C_inpar_structure.cpp
  src/so3/4C_so3_surface.hpp
  src/so3/4C_so3_surface_evaluate.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_springdashpot.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Implement core get_element_dof_matrix
  src/core/fem/src/general/utils/4C_fem_general_element_dof_matrix.hpp
  src/core/fem/tests/utils/4C_fem_general_element_dof_matrix_test.cpp
  src/core/fem/tests/utils/CMakeLists.txt
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix number of dofs of robin bc in input files
  tests/input_files/cardiovascular0d_arterialproxdist_structure_direct_genalpha.dat
  tests/input_files/cardiovascular0d_arterialproxdist_structure_direct_genalpha_mor.dat
  tests/input_files/cardiovascular0d_arterialproxdist_structure_direct_genalpha_new_struc.dat
  tests/input_files/cardiovascular0d_syspulcirculation_2chamber_structure_direct_genalpha.dat
  tests/input_files/cardiovascular0d_syspulcirculation_2chamber_structure_simple_genalpha.dat
  tests/input_files/cardiovascular0d_syspulcirculation_2chamber_structure_statprestress.dat
  tests/input_files/cardiovascular0d_syspulcirculation_2chamber_structurecontactpenalty_direct_genalpha.dat
  tests/input_files/fs3i_mult_scalar_windkessel_reac.dat
  tests/input_files/spring_dashpot_sohex8_new.dat
  tests/input_files/spring_dashpot_sohex8_old.dat
  tests/input_files/spring_dashpot_sohex8_prestress_new.dat
  tests/input_files/spring_dashpot_sohex8_prestress_old.dat
  tests/input_files/spring_dashpot_struct_bc.dat
Due: input-files, non-ascii-chars

Use Noneable<path> for optional xml files
  src/core/linear_solver/src/amgnxn/4C_linear_solver_amgnxn_preconditioner.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method_linalg.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_muelu.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_teko.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_globaldata.cpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_utils.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Don't link to single parameters in docs
  doc/readthedocs/boundaryconditions.rst
  doc/readthedocs/geometrydefinition.rst
  doc/readthedocs/introduction_solvers.rst
  doc/readthedocs/struct_dynamics.rst
Due: none

Move computation of surface area from so3surface
  src/constraint/4C_constraint_springdashpot.cpp
  src/so3/4C_so3_surface.hpp
  src/so3/4C_so3_surface_evaluate.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add link to list of maintainers to code of conduct
  CODE_OF_CONDUCT.md
Due: none

Remove STRUCT_CURRENT_VOLUME output option
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_element_actions.hpp
  src/inpar/4C_inpar_io.cpp
  src/inpar/4C_inpar_wear.cpp
  src/so3/4C_so3_hex8.hpp
  src/so3/4C_so3_hex8_evaluate.cpp
  src/so3/4C_so3_sh8_evaluate.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_group.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_group.hpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_interface_required.hpp
  src/structure/4C_structure_timint.cpp
  src/structure/4C_structure_timint.hpp
  src/structure_new/src/4C_structure_new_integrator.cpp
  src/structure_new/src/4C_structure_new_integrator.hpp
  src/structure_new/src/4C_structure_new_timint_base.cpp
  src/structure_new/src/4C_structure_new_timint_base.hpp
  src/structure_new/src/4C_structure_new_timint_basedataio.cpp
  src/structure_new/src/4C_structure_new_timint_basedataio.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_data.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_data.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_structure.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_structure.hpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_timint_noxinterface.cpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_timint_noxinterface.hpp
  src/w1/4C_w1_evaluate.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

InputParameterContainer can store lists of itself
  src/core/io/src/4C_io_input_parameter_container.cpp
  src/core/io/src/4C_io_input_parameter_container.hpp
  src/core/io/tests/4C_io_input_parameter_container_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix out of bounds access due to wrong map
  src/reduced_lung/4C_reduced_lung_main.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

CI: remove docker build attestation
  .github/actions/build_dependencies/action.yml
  .github/workflows/docker.yml
  .github/workflows/docker_prebuilt_4c.yml
Due: non-ascii-chars

Input: ensure printable names + descriptions
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add InputSpecBuilders::list()
  src/core/io/src/4C_io_input_spec.cpp
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

InputSpec: support more expresive map<string,T>
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/src/4C_io_value_parser.hpp
  src/core/io/src/4C_io_yaml.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
  src/core/io/tests/4C_io_value_parser_test.cpp
  src/core/utils/src/functions/4C_utils_function.cpp
  src/core/utils/src/functions/4C_utils_function_manager.cpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_function.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

cleanup nullspace calculation and use const
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_muelu.cpp
  src/structure/4C_structure_timint_impl.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Fix MueLuPreconditioner structure and nullspace assignment
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_muelu.cpp
  src/structure/4C_structure_timint_impl.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

modify preconditioner_muelu so AZREUSE>1 works
  src/adapter/4C_adapter_str_structure.cpp
  src/core/fem/src/discretization/4C_fem_discretization.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method.hpp
  src/core/linear_solver/src/method/4C_linear_solver_method_iterative.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method_linalg.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_muelu.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_muelu.hpp
  src/inpar/4C_inpar_solver.cpp
  src/structure/4C_structure_timint_impl.cpp
  src/structure_new/src/linear_solver/4C_structure_new_solver_factory.cpp
  tests/input_files/contact3D_sp_dual_simple.dat
  tests/input_files/contact3D_sp_std_braess_sarazin.dat
  tests/input_files/contact3D_sp_std_simple.dat
  tests/input_files/contact3D_sp_std_uzawa.dat
  tests/input_files/meshtying3D_sp_dual_simple.dat
  tests/input_files/meshtying3D_sp_std_braess_sarazin.dat
  tests/input_files/meshtying3D_sp_std_simple.dat
  tests/input_files/meshtying3D_sp_std_uzawa.dat
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Cleanup pointers, casts and docu
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_muelu.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_muelu.hpp
  src/structure/4C_structure_timint_impl.cpp
  src/structure_new/src/linear_solver/4C_structure_new_solver_factory.cpp
  tests/input_files/contact3D_sp_dual_simple.dat
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Add const qualifier
  src/core/linear_solver/src/method/4C_linear_solver_method_parameters.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method_parameters.hpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_muelu.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix data type in documentation
  src/core/linear_solver/src/method/4C_linear_solver_method_parameters.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Simplify input of poro multiphase functions
  src/poromultiphase_scatra/4C_poromultiphase_scatra_function.cpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_function.hpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_function_parameters.cpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_function_parameters.hpp
  unittests/poromultiphase_scatra/4C_poromultiphase_scatra_function_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Update metadata file to emit lists
  src/core/io/src/4C_io_input_file_utils.cpp
  src/global_legacy_module/4C_global_legacy_module.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Add missing definitions of class Solver
  src/structure_new/src/4C_structure_new_integrator.cpp
  src/structure_new/src/utils/4C_structure_new_utils.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Improve GTN
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/mat/4C_mat_plasticgtn.cpp
  src/mat/4C_mat_plasticgtn.hpp
  tests/input_files/mat_gtn_patch_test.dat
  tests/input_files/mat_gtn_solid_necking_bar_with_f0_fc_h8.dat
  tests/input_files/mat_gtn_solid_necking_bar_with_f0_h8.dat
  tests/list_of_tests.cmake
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Use transpose of displacements to avoid copies
  src/core/fem/src/general/utils/4C_fem_general_element_dof_matrix.hpp
  src/core/fem/tests/utils/4C_fem_general_element_dof_matrix_test.cpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_displacement_based.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_lib.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_lib_mulf.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_shell_ans_lib.hpp
  src/solid_3D_ele/4C_solid_3D_ele_neumann_evaluator.cpp
  unittests/solid_3D_ele/4C_solid_3D_ele_calc_lib_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Reorganize InputFile and valid sections
  apps/global_full/4C_global_full_inp_control.cpp
  apps/global_full/4C_global_full_main.cpp
  apps/pre_exodus/4C_pre_exodus_validate.cpp
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_file.hpp
  src/core/io/tests/4C_io_input_file_test.cpp
  src/global_data/4C_global_data_read.cpp
  src/global_data/4C_global_data_read.hpp
  src/global_legacy_module/4C_global_legacy_module.cpp
  src/global_legacy_module/4C_global_legacy_module.hpp
  unittests/mat/4C_electrode_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

InputFile knows what it expects
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_file_utils.cpp
  src/core/io/tests/4C_io_input_file_test.cpp
  src/global_data/4C_global_data_read.cpp
  unittests/mat/4C_electrode_test.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove obsolete END sections
  tests/input_files/elch_1D_line2_multiscale_butlervolmer_anode.mat
  tests/input_files/elch_1D_line2_multiscale_butlervolmer_cathode.mat
  tests/input_files/scatra_1D_line2_multiscale_constperm_micro1.mat
  tests/input_files/scatra_1D_line2_multiscale_constperm_micro2.mat
  unittests/mat/4C_electrode_test.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars
