Repository sebproell/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

cpp-filename-includes:
  name: C++ file names and include style
  description: Check that all C++ files have the correct file name and include style
  language: system
  entry: utilities/python-venv/bin/check-filenames-and-includes
  args:
  - --paths
  - src/
  - unittests/
  - apps/
  - --files

cpp-include-guard:
  name: Include guards
  description: Check that all C++ files have the correct include guards
  language: python
  entry: utilities/python-venv/bin/check-header-guards

cpp-preprocessor:
  name: C++ preprocessor directives
  description: Check that all C++ files only use acceptable preprocessor directives
  language: python
  entry: utilities/python-venv/bin/check-preprocessor

input-files:
  name: Test input files
  description: Check input files conform to expectations
  language: python
  entry: utilities/python-venv/bin/check-test-files

non-ascii-chars:
  name: Non-ASCII characters
  language: system
  entry: ./utilities/code_checks/check_non_ascii_chars

Build depencies + deal.II image
  .github/workflows/buildtest.yml
  .github/workflows/checkcode.yml
  .github/workflows/coverage.yml
  .github/workflows/documentation.yml
  .github/workflows/nightly_tests.yml
  dependencies/dealii/install.sh
  docker/dependencies/compute_dependencies_hash.sh
  docker/dependencies_dealii/Dockerfile
  tests/testconfig/.gitlab-ci.yml
Due: non-ascii-chars

Make cutoff_radius optional
  src/beaminteraction/src/potential/4C_beaminteraction_potential_input.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_pair_beam_to_beam.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_pair_beam_to_sphere.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_params.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_params.hpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_submodel_evaluator.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Make potential_reduction_length optional
  src/beaminteraction/src/potential/4C_beaminteraction_potential_input.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_pair_beam_to_beam.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_pair_beam_to_beam.hpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_params.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_params.hpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_submodel_evaluator.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove .gitlab-ci.yml
  tests/testconfig/.gitlab-ci.yml
  tests/testconfig/README.md
  utilities/four_c_utils/src/four_c_utils/check_workflow_dependencies_hash.py
Due: non-ascii-chars

Add dummy job to set up docker image with deal.II
  .github/workflows/docker_dealii.yml
Due: non-ascii-chars

Disable failing test with unclear fix
  tests/list_of_tests.cmake
Due: non-ascii-chars

Move porofluid pressure-based input to physics
  src/inpar/4C_inpar_porofluid_pressure_based.hpp
  src/inpar/4C_inpar_porofluid_pressure_based_elast.hpp
  src/inpar/4C_inpar_porofluid_pressure_based_elast_scatra.hpp
  src/inpar/4C_inpar_validconditions.cpp
  src/inpar/4C_inpar_validparameters.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_dyn.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_input.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_input.hpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_meshtying_strategy_base.hpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_timint_implicit.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_timint_implicit.hpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_utils.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_utils.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_base.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_dyn.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_input.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_input.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_monolithic_twoway.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_monolithic_twoway.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_partitioned_twoway.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_partitioned_twoway.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_utils.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_utils.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_base.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_base.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_dyn.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_input.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_input.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_monolithic_twoway.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_monolithic_twoway.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_utils.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_utils.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove a do-nothing pre-evaluate
  src/fluid_ele/4C_fluid_ele_calc_poro.cpp
  src/fluid_ele/4C_fluid_ele_calc_poro.hpp
  src/fluid_ele/4C_fluid_ele_calc_poro_p1.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Simplify beaminteraction potential params
  src/beamcontact/4C_beamcontact_beam3contact_manager.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_input.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_pair_base.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_pair_base.hpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_pair_beam_to_beam.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_pair_beam_to_sphere.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_params.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_params.hpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_submodel_evaluator.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_submodel_evaluator.hpp
  tests/input_files/beam3eb_genalpha_BTB_contact_elstat_attraction_twocrossedbeams.dat
  tests/input_files/beam3r_herm2line3_backweuler_browndyn_repLJ_singlelengthspec_smallsepapprox_twocrossedbeams.dat
  tests/input_files/beam3r_herm2line3_backweuler_browndyn_vanderWaals_doublelengthspec_smallsepapprox_regularization_constextpol_twocrossedbeams.dat
  tests/input_files/beam3r_herm2line3_backweuler_browndyn_vanderWaals_doublelengthspec_smallsepapprox_regularization_linextpol_twocrossedbeams.dat
  tests/input_files/beam3r_herm2line3_backweuler_browndyn_vanderWaals_doublelengthspec_smallsepapprox_twocrossedbeams.dat
  tests/input_files/beam3r_herm2line3_backweuler_browndyn_vanderWaals_singlelengthspec_smallsepapprox_twocrossedbeams.dat
  tests/input_files/beam3r_herm2line3_static_BTBpotential_repulsiveLennardJones_beamrotatingoverarc.dat
  tests/input_files/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_regularization_linextpol_twocrossedbeams_pulloff.dat
  tests/input_files/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_regularization_linextpol_twocrossedbeams_pulloff.dat
  tests/input_files/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_regularization_linextpol_twocrossedbeams_pulloff_FAD.dat
  tests/input_files/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_regularization_linextpol_twocrossedbeams_pulloff_highereleGIDisslave.dat
  tests/input_files/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_twocrossedbeams_pulloff.dat
  tests/input_files/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_twocrossedbeams_pulloff_FAD.dat
  tests/input_files/beam3r_herm2line3_static_vdW_singlelengthsspec_smallsepapprox_simple_end_point_potential_reduction_strategy.dat
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Simplify beam potential runtime output params
  src/beaminteraction/src/potential/4C_beaminteraction_potential_input.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_params.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_params.hpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_runtime_visualization_output_params.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_runtime_visualization_output_params.hpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_submodel_evaluator.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove function domain_map_not_epetra
  src/constraint/4C_constraint_solver.cpp
  src/constraint_framework/4C_constraint_framework_submodelevaluator_base.cpp
  src/contact/4C_contact_lagrange_strategy.cpp
  src/contact/4C_contact_lagrange_strategy_poro.cpp
  src/contact/4C_contact_meshtying_lagrange_strategy.cpp
  src/contact/4C_contact_nox_nln_contact_linearsystem.cpp
  src/core/linalg/src/sparse/4C_linalg_blocksparsematrix.hpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrixbase.hpp
  src/core/linalg/src/sparse/4C_linalg_sparseoperator.hpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_manipulation.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.cpp
  src/core/linear_solver/src/amgnxn/4C_linear_solver_amgnxn_objects.cpp
  src/core/linear_solver/src/amgnxn/4C_linear_solver_amgnxn_vcycle.cpp
  src/coupling/src/adapter/4C_coupling_adapter.cpp
  src/coupling/src/adapter/4C_coupling_adapter_converter.cpp
  src/coupling/src/adapter/4C_coupling_adapter_volmortar.cpp
  src/fpsi/4C_fpsi_monolithic_plain.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_monolithicfluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_fluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_mortarmonolithic_structuresplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_slidingmonolithic_fluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_slidingmonolithic_structuresplit.cpp
  src/fsi_xfem/4C_fsi_xfem_coupling_comm_manager.cpp
  src/mortar/4C_mortar_utils.cpp
  src/poroelast/4C_poroelast_monolithic.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_linearsystem.cpp
  src/ssi/4C_ssi_monolithic_meshtying_strategy.cpp
  src/ssti/4C_ssti_monolithic_assemble_strategy.cpp
  src/sti/4C_sti_monolithic.cpp
  src/structure/4C_structure_timint.cpp
  src/structure/4C_structure_timint_impl.cpp
  src/structure_new/src/4C_structure_new_timint_base.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Only communicate small sections when reading yaml
  src/core/io/src/4C_io_input_file.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Add 4C logo to readme
  README.md
Due: none

Correct set zero of structure velocity
  src/porofluid_pressure_based_ele/4C_porofluid_pressure_based_ele_evaluator.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Let Copilot rewrite a barely readable function
  src/core/io/src/4C_io_input_file_utils.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Read NURBS knot vectors on rank 0 only
  src/core/io/src/4C_io_input_file_utils.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove an expensive include from LinAlg::Map
  src/core/linalg/src/sparse/4C_linalg_map.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove pre_evaluate from LubricationType
  src/lubrication/src/4C_lubrication_ele.hpp
  src/lubrication/src/4C_lubrication_ele_action.hpp
  src/lubrication/src/4C_lubrication_ele_evaluate.cpp
  src/lubrication/src/4C_lubrication_timint_implicit.cpp
  src/lubrication/src/4C_lubrication_timint_stat.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove pre_evaluate for fluid and poro
  src/fluid/4C_fluid_implicit_integration.cpp
  src/fluid/4C_fluid_timint_poro.cpp
  src/fluid_ele/4C_fluid_ele.hpp
  src/fluid_ele/4C_fluid_ele_action.hpp
  src/fluid_ele/4C_fluid_ele_evaluate.cpp
  src/fluid_ele/4C_fluid_ele_poro_evaluate.cpp
  src/fluid_xfluid/4C_fluid_xfluid.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_timint_implicit.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_timint_ost.cpp
  src/porofluid_pressure_based_ele/4C_porofluid_pressure_based_ele.hpp
  src/porofluid_pressure_based_ele/4C_porofluid_pressure_based_ele_action.hpp
  src/porofluid_pressure_based_ele/4C_porofluid_pressure_based_ele_evaluate.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Use match_section if possible
  src/core/fem/src/condition/4C_fem_condition_definition.cpp
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_parameter_container.hpp
  src/global_data/4C_global_data_read.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Avoid one internal copy of the yaml tree
  src/core/io/src/4C_io_input_file.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove huge section heuristic from input file
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_file.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove InputFile::in_section from public interface
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_file.hpp
  src/core/io/tests/4C_io_input_file_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix documentation badge
  README.md
  utilities/assets/badges/documentation_documentation.svg
Due: non-ascii-chars

Remove pre_evaluate in Scatra
  src/levelset/4C_levelset_algorithm_reinit.cpp
  src/scatra/4C_scatra_timint_bdf2.cpp
  src/scatra/4C_scatra_timint_elch.cpp
  src/scatra/4C_scatra_timint_genalpha.cpp
  src/scatra/4C_scatra_timint_implicit.cpp
  src/scatra/4C_scatra_timint_implicit_service.cpp
  src/scatra/4C_scatra_timint_meshtying_strategy_s2i.cpp
  src/scatra/4C_scatra_timint_ost.cpp
  src/scatra/4C_scatra_timint_stat.cpp
  src/scatra/4C_scatra_timint_stat_hdg.cpp
  src/scatra_ele/4C_scatra_ele.hpp
  src/scatra_ele/4C_scatra_ele_action.hpp
  src/scatra_ele/4C_scatra_ele_evaluate.cpp
  src/scatra_ele/4C_scatra_ele_hdg.cpp
  src/ssi/4C_ssi_manifold_utils.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove pre_evaluate in fluid
  src/fluid/4C_fluid_implicit_integration.cpp
  src/fluid/4C_fluid_timint_bdf2.cpp
  src/fluid/4C_fluid_timint_genalpha.cpp
  src/fluid/4C_fluid_timint_loma.cpp
  src/fluid/4C_fluid_timint_ost.cpp
  src/fluid/4C_fluid_timint_stat.cpp
  src/fluid/4C_fluid_timint_stat_hdg.cpp
  src/fluid_ele/4C_fluid_ele.hpp
  src/fluid_ele/4C_fluid_ele_action.hpp
  src/fluid_ele/4C_fluid_ele_evaluate.cpp
  src/fluid_ele/4C_fluid_ele_hdg.cpp
  src/fluid_ele/4C_fluid_ele_hdg_weak_comp.cpp
  src/fluid_ele/4C_fluid_ele_poro.hpp
  src/fluid_ele/4C_fluid_ele_poro_evaluate.cpp
  src/fluid_xfluid/4C_fluid_xfluid.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove ElementFactory::pre_evaluate
  src/core/comm/src/4C_comm_parobjectfactory.cpp
  src/core/comm/src/4C_comm_parobjectfactory.hpp
  src/core/fem/src/discretization/4C_fem_discretization_evaluate.cpp
  src/core/fem/src/discretization/4C_fem_discretization_utils_evaluate.cpp
  src/core/fem/src/general/element/4C_fem_general_elementtype.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Enhance legacy section metadata with more info
  src/global_data/4C_global_data_read.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Emit metadata for legacy particle sections
  src/global_data/4C_global_data_read.cpp
  src/particle_engine/4C_particle_engine_enums.cpp
  src/particle_engine/4C_particle_engine_enums.hpp
  src/particle_engine/4C_particle_engine_particlereader.cpp
  src/particle_engine/4C_particle_engine_particlereader.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Clean up node parsing code
  src/core/io/src/4C_io_nodereader.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Fix COORD identifier in red airway tests
  tests/input_files/red_airway_5000_airway_acinus_collapsible.dat
  tests/input_files/reduced_lung_3_aw_2_tu.dat
  tests/input_files/reduced_lung_aw_bifurcation_flow.dat
  tests/input_files/reduced_lung_aw_bifurcation_no_flow.dat
  tests/input_files/reduced_lung_serial_airways_flow.dat
  tests/input_files/reduced_lung_serial_airways_no_flow.dat
  tests/input_files/reduced_lung_terminal_unit.dat
Due: input-files, non-ascii-chars

Build dependencies + deal.II image
  .github/actions/build_dependencies/action.yml
  .github/actions/check_docker_build_required/action.yml
  .github/actions/compute-and-check-dependencies-hash/action.yml
  .github/workflows/buildtest.yml
  .github/workflows/checkcode.yml
  .github/workflows/coverage.yml
  .github/workflows/docker.yml
  .github/workflows/docker_dealii.yml
  .github/workflows/documentation.yml
  .github/workflows/nightly_tests.yml
  dependencies/dealii/install.sh
  docker/dependencies/Dockerfile
  docker/dependencies_dealii/Dockerfile
  docker/dependencies_dealii/compute_dependencies_hash.sh
Due: non-ascii-chars

Use c4 (part of ryml) to parse doubles and ints
  src/core/io/src/4C_io_value_parser.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Reduce includes for ParObjectFactory
  src/contact/4C_contact_friction_node.hpp
  src/contact/4C_contact_line_coupling.hpp
  src/core/comm/src/4C_comm_parobjectfactory.hpp
  src/core/fem/src/dofset/4C_fem_dofset_definedmapping_wrapper.hpp
  src/core/fem/src/dofset/4C_fem_dofset_pbc.hpp
  src/core/fem/src/nurbs_discretization/4C_fem_nurbs_discretization_knotvector.cpp
  src/cut/4C_cut_cutwizard.hpp
  src/fluid_ele/4C_fluid_ele_calc_intfaces_stab.hpp
  src/mortar/4C_mortar_node.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

CMake: option FOUR_C_ENABLE_IWYU
  cmake/functions/four_c_auto_define_module.cmake
  cmake/setup_global_options.cmake
Due: non-ascii-chars

Enhance build time analysis with ninjatracing
  .github/workflows/nightly_tests.yml
Due: non-ascii-chars

Update custom pre-commit hook for file check
  .pre-commit-config.yaml
  utilities/four_c_utils/pyproject.toml
  utilities/four_c_utils/src/four_c_utils/check_filenames.py
  utilities/four_c_utils/src/four_c_utils/check_filenames_and_includes.py
  utilities/four_c_utils/src/four_c_utils/check_includes.py
Due: non-ascii-chars

Fix file names
  src/core/fem/tests/geometric_search/4C_fem_geometric_search_create_bounding_volumes_test.hpp
  src/core/fem/tests/geometric_search/4C_fem_geometric_search_distributed_test.np3.cpp
  src/core/fem/tests/geometric_search/4C_fem_geometric_search_test.cpp
  src/core/fem/tests/geometry/4C_fem_geometry_element_volume_test.cpp
  src/core/utils/tests/functions/4C_utils_function_library_test.cpp
  src/core/utils/tests/functions/4C_utils_functionvariables_test.cpp
  src/core/utils/tests/functions/4C_utils_symbolic_expression_test.cpp
  src/core/utils/tests/numerics/4C_utils_cubic_spline_interpolation_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Path conditions:
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/|mm$
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$
