Repository sebproell/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Path conditions:
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/|mm$
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$

Minor enhancements to all_of and one_of
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Generalize YamlEmitter to refer to yaml nodes
  src/core/io/src/4C_io_yaml.cpp
  src/core/io/src/4C_io_yaml.hpp
  src/core/io/src/4C_io_yaml_emitter.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Implement InputSpec::match on yaml nodes
  src/core/io/src/4C_io_input_file_utils.cpp
  src/core/io/src/4C_io_input_parameter_container.cpp
  src/core/io/src/4C_io_input_parameter_container.hpp
  src/core/io/src/4C_io_input_spec.cpp
  src/core/io/src/4C_io_input_spec.hpp
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Enable yaml input matchers in InputFile
  src/core/io/src/4C_io_input_file.cpp
  src/global_data/4C_global_data_read.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Warn InputSpec user_defined should not be used
  src/core/io/src/4C_io_input_spec_builders.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Minor fixes and asserts in InputSpecs
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
  src/inpar/4C_inpar_s2i.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Breaking changes in condition input
  apps/create_rtdfiles/4C_create_rtdfiles_utils.cpp
  apps/pre_exodus/4C_pre_exodus_writedat.cpp
  apps/pre_exodus/4C_pre_exodus_writedat.hpp
  src/core/fem/src/condition/4C_fem_condition_definition.cpp
  src/core/fem/src/discretization/4C_fem_discretization_utils.hpp
  src/core/fem/src/dofset/4C_fem_dofset_definedmapping_wrapper.hpp
  src/core/io/src/4C_io_input_file_utils.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix boundary conditions in current main
  tests/input_files/poro_new_solid_nitsche_contact3D_twoelem_new_struc.dat
  tests/input_files/poro_solid_nitsche_contact3D_twoelem_twosided_new_struc.dat
  tests/input_files/poro_solid_nitsche_contact3D_twoelem_wonopen_new_struc.dat
Due: input-files, non-ascii-chars

Implement user-friendly yaml error handling
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_spec.cpp
  src/core/io/src/4C_io_input_spec.hpp
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/src/4C_io_yaml.cpp
  src/core/io/src/4C_io_yaml.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add CITATION.cff to the repository
  CITATION.cff
Due: non-ascii-chars

Remove InputSpec::user_defined
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/mat/4C_mat_muscle_combo.cpp
  src/mixture/4C_mixture_rule_map.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Github: enable dependabot updates for actions
  .github/dependabot.yml
Due: non-ascii-chars

Fix print_unknown_section
  src/core/io/src/4C_io_input_file.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Conversion InputParameterContainer to Teuchos::PL
  src/core/io/src/4C_io_input_parameter_container.cpp
  src/core/io/src/4C_io_input_parameter_container.hpp
  src/core/io/tests/4C_io_input_parameter_container_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add README on how to build the docs
  doc/README.md
Due: none

Extend used sections to fix restart problems
  apps/global_full/4C_global_full_inp_control.cpp
  apps/pre_exodus/4C_pre_exodus_validate.cpp
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_file.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Rewrite the CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

InputSpec: clearly state supported types
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/src/4C_io_yaml.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move some integration routines to Core
  src/core/fem/src/general/element/4C_fem_general_element_integration.hpp
  src/core/fem/src/general/utils/4C_fem_general_utils_gausspoints.hpp
  src/core/fem/tests/general/4C_fem_general_element_integration_test.cpp
  src/so3/4C_so3_poro.cpp
  src/solid_3D_ele/4C_solid_3D_ele_calc.cpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_lib.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_lib_integration.hpp
  src/solid_3D_ele/4C_solid_3D_ele_neumann_evaluator.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_calc_pressure_based.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_calc_pressure_velocity_based.cpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele_calc.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Allow yaml to read a few more values as bools
  src/core/io/src/4C_io_yaml.cpp
  src/core/io/src/4C_io_yaml.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unnecessary manual export
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_structure.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_structure.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Enable Nitsche contact in p-v-solid-poro element
  src/contact/4C_contact_nitsche_integrator_poro.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_calc_lib_nitsche.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based_evaluate.cpp
  tests/input_files/new_solidporo_pressure_velocity_based_nitsche_contact3D_twoelem.dat
  tests/input_files/new_solidporo_pressure_velocity_based_nitsche_contact3D_twoelem_wonopen_new_struc.dat
  tests/list_of_tests.cmake
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Just set necessary parameters in unit tests
  unittests/beaminteraction/4C_beaminteraction_beam_to_solid_volume_meshtying_mortar_test.cpp
  unittests/fbi/4C_beam_to_fluid_meshtying_pair_gauss_point_test.cpp
  unittests/geometry_pair/4C_geometry_pair_line_to_surface_test.cpp
  unittests/geometry_pair/4C_geometry_pair_line_to_volume_segmentation_test.cpp
  unittests/mat/4C_inelastic_defgrad_factors_test.cpp
  unittests/mat/4C_multiplicative_split_defgrad_elasthyper_test.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

ValueParser: allow tokens delimited by quotes
  src/core/io/src/4C_io_value_parser.cpp
  src/core/io/src/4C_io_value_parser.hpp
  src/core/io/tests/4C_io_value_parser_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

InputFile::match_section against a InputSpec
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_file.hpp
  src/core/io/tests/4C_io_input_file_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix a bug with a single defaulted parameter
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Minor cleanup of output parameter class
  src/structure_new/src/output/4C_structure_new_discretization_runtime_output_params.cpp
  src/structure_new/src/output/4C_structure_new_discretization_runtime_output_params.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add to_string functions for fluid enums
  src/fluid/4C_fluid_implicit_integration.cpp
  src/inpar/4C_inpar_fluid.cpp
  src/inpar/4C_inpar_fluid.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Avoid Teuchos::getStringValue
  src/adapter/4C_adapter_str_structure.cpp
  src/adapter/4C_adapter_str_structure_new.cpp
  src/core/io/src/4C_io_input_file_utils.cpp
  src/fsi/src/partitioned/4C_fsi_partitioned.cpp
  src/inpar/4C_inpar_IO_monitor_structure_dbc.cpp
  src/inpar/4C_inpar_IO_monitor_structure_dbc.hpp
  src/red_airways/4C_red_airways_implicitintegration.cpp
  src/structure_new/src/utils/4C_structure_new_monitor_dbc.cpp
  src/structure_new/src/utils/4C_structure_new_timint_basedataio_monitor_dbc.cpp
  src/thermo/src/4C_thermo_adapter.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Change LNM name
  doc/readthedocs/4Csetup.rst
  tests/input_files/mat_iso_viscoplast_refJC_log_substep.dat
  tests/input_files/mat_transviso_viscoplast_refJC_log_substep.dat
  tests/input_files/mat_transviso_viscoplast_refJC_standard_substep.dat
Due: input-files, non-ascii-chars

Update links from GitLab to GitHub
  doc/readthedocs/4Csetup.rst
  doc/readthedocs/about.rst
  doc/readthedocs/coverage_report.rst
  doc/readthedocs/developer_cluster.rst
  doc/readthedocs/doxygen.rst
  doc/readthedocs/tutorial_contact_3d.md
  tests/framework-test/tutorial_contact_3d.md
Due: none

Remove institutes from setup guide
  doc/readthedocs/4Csetup.rst
Due: none

Cleanup thermo dyn
  src/thermo/src/4C_thermo_dyn.cpp
  src/thermo/src/4C_thermo_dyn.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Cleanup thermo adapter
  src/thermo/src/4C_thermo_adapter.cpp
  src/thermo/src/4C_thermo_adapter.hpp
  src/thermo/src/4C_thermo_dyn.cpp
  src/tsi/4C_tsi_algorithm.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Simplify prepare time step procedure
  src/thermo/src/4C_thermo_adapter.hpp
  src/thermo/src/implicit/4C_thermo_timint.hpp
  src/thermo/src/implicit/4C_thermo_timint_impl.cpp
  src/thermo/src/implicit/4C_thermo_timint_impl.hpp
  src/tsi/4C_tsi_partitioned.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Some small beauty
  src/thermo/src/implicit/4C_thermo_timint.hpp
  src/thermo/src/implicit/4C_thermo_timint_impl.cpp
  src/thermo/src/implicit/4C_thermo_timint_impl.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Cleanup thermo adapter and timeinit
  src/thermo/src/4C_thermo_adapter.hpp
  src/thermo/src/CMakeLists.txt
  src/thermo/src/implicit/4C_thermo_timint.cpp
  src/thermo/src/implicit/4C_thermo_timint.hpp
  src/thermo/src/implicit/4C_thermo_timint_genalpha.cpp
  src/thermo/src/implicit/4C_thermo_timint_genalpha.hpp
  src/thermo/src/implicit/4C_thermo_timint_impl.cpp
  src/thermo/src/implicit/4C_thermo_timint_impl.hpp
  src/thermo/src/implicit/4C_thermo_timint_ost.cpp
  src/thermo/src/implicit/4C_thermo_timint_ost.hpp
  src/thermo/src/implicit/4C_thermo_timint_statics.cpp
  src/thermo/src/implicit/4C_thermo_timint_statics.hpp
  src/thermo/src/implicit/CMakeLists.txt
  src/thermo/src/utils/4C_thermo_resulttest.cpp
  src/tsi/4C_tsi_partitioned.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove finite difference check
  src/thermo/src/4C_thermo_adapter.hpp
  src/thermo/src/implicit/4C_thermo_timint.hpp
  src/thermo/src/implicit/4C_thermo_timint_impl.cpp
  src/thermo/src/implicit/4C_thermo_timint_impl.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars
