Repository sebproell/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

cpp-filename-includes:
  name: C++ file names and include style
  description: Check that all C++ files have the correct file name and include style
  language: system
  entry: utilities/python-venv/bin/check-filenames-and-includes
  args:
  - --paths
  - src/
  - unittests/
  - apps/
  - --files

cpp-include-guard:
  name: Include guards
  description: Check that all C++ files have the correct include guards
  language: python
  entry: utilities/python-venv/bin/check-header-guards

cpp-preprocessor:
  name: C++ preprocessor directives
  description: Check that all C++ files only use acceptable preprocessor directives
  language: python
  entry: utilities/python-venv/bin/check-preprocessor

input-files:
  name: Test input files
  description: Check input files conform to expectations
  language: python
  entry: utilities/python-venv/bin/check-test-files

non-ascii-chars:
  name: Non-ASCII characters
  language: system
  entry: ./utilities/code_checks/check_non_ascii_chars

Implement p-v-based Solid-Poro-Scatra element
  src/inpar/4C_inpar_scatra.cpp
  src/inpar/4C_inpar_scatra.hpp
  src/poroelast_scatra/4C_poroelast_scatra_utils_clonestrategy.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_factory.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_based.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based_evaluate.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_properties.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_utils.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Use new p-v Solid-Poro-Scatra element in tests
  tests/input_files/fps3i_reaction.dat
  tests/input_files/poro_3D_scatra_homogeneous_coupling_reacstart.dat
  tests/input_files/poro_3D_scatra_mono_hex8.dat
  tests/input_files/poro_3D_scatra_part_hex8.dat
  tests/input_files/poro_scatra_contact3D_two_cubes.dat
Due: input-files, non-ascii-chars

Delete unused gmsh from xfem
  src/fluid_xfluid/4C_fluid_xfluid.cpp
  src/xfem/4C_xfem_coupling_fpi_mesh.cpp
  src/xfem/4C_xfem_coupling_fpi_mesh.hpp
  src/xfem/4C_xfem_coupling_mesh.cpp
  src/xfem/4C_xfem_mesh_projector.cpp
  src/xfem/4C_xfem_mesh_projector.hpp
  src/xfem/4C_xfem_xfluid_contact_communicator.cpp
  src/xfem/4C_xfem_xfluid_contact_communicator.hpp
  src/xfem/4C_xfem_xfluid_timeInt.cpp
  src/xfem/4C_xfem_xfluid_timeInt.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move thermo input params to thermo module
  src/contact/4C_contact_lagrange_strategy_tsi.cpp
  src/inpar/4C_inpar_io.cpp
  src/inpar/4C_inpar_thermo.hpp
  src/inpar/4C_inpar_validconditions.cpp
  src/inpar/4C_inpar_validparameters.cpp
  src/thermo/src/4C_thermo_adapter.cpp
  src/thermo/src/4C_thermo_adapter.hpp
  src/thermo/src/element/4C_thermo_ele_boundary_impl.cpp
  src/thermo/src/element/4C_thermo_ele_impl.cpp
  src/thermo/src/element/4C_thermo_ele_impl.hpp
  src/thermo/src/implicit/4C_thermo_timint.cpp
  src/thermo/src/implicit/4C_thermo_timint.hpp
  src/thermo/src/implicit/4C_thermo_timint_genalpha.cpp
  src/thermo/src/implicit/4C_thermo_timint_genalpha.hpp
  src/thermo/src/implicit/4C_thermo_timint_impl.cpp
  src/thermo/src/implicit/4C_thermo_timint_impl.hpp
  src/thermo/src/implicit/4C_thermo_timint_ost.hpp
  src/thermo/src/implicit/4C_thermo_timint_statics.hpp
  src/thermo/src/utils/4C_thermo_aux.cpp
  src/thermo/src/utils/4C_thermo_aux.hpp
  src/thermo/src/utils/4C_thermo_inpar.cpp
  src/thermo/src/utils/4C_thermo_inpar.hpp
  src/tsi/4C_tsi_monolithic.cpp
  src/tsi/4C_tsi_monolithic.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move thermo vtk output inpar to thermo module
  src/inpar/4C_inpar_IO_runtime_output_thermo.cpp
  src/inpar/4C_inpar_IO_runtime_output_thermo.hpp
  src/inpar/4C_inpar_validparameters.cpp
  src/thermo/src/implicit/4C_thermo_timint.cpp
  src/thermo/src/utils/4C_thermo_inpar.cpp
  tests/input_files/thermo3D_annulus_anisotropic_statics.dat
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Rename thermo inpar to input
  src/contact/4C_contact_lagrange_strategy_tsi.cpp
  src/inpar/4C_inpar_io.cpp
  src/inpar/4C_inpar_validconditions.cpp
  src/inpar/4C_inpar_validparameters.cpp
  src/thermo/src/4C_thermo_adapter.cpp
  src/thermo/src/4C_thermo_adapter.hpp
  src/thermo/src/element/4C_thermo_ele_boundary_impl.cpp
  src/thermo/src/element/4C_thermo_ele_impl.cpp
  src/thermo/src/element/4C_thermo_ele_impl.hpp
  src/thermo/src/utils/4C_thermo_aux.hpp
  src/thermo/src/utils/4C_thermo_input.cpp
  src/thermo/src/utils/4C_thermo_input.hpp
  src/tsi/4C_tsi_monolithic.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove modified parameter list from NOX
  src/inpar/4C_inpar_solver_nonlin.cpp
  src/structure_new/src/implicit/4C_structure_new_impl_generic.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove correction step variables
  src/contact/4C_contact_paramsinterface.hpp
  src/structure_new/src/implicit/4C_structure_new_impl_generic.cpp
  src/structure_new/src/implicit/4C_structure_new_impl_generic.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_data.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_data.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_manager.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_manager.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add solid mechanics tutorial
  apps/create_rtdfiles/4C_create_rtdfiles_utils.cpp
  apps/create_rtdfiles/4C_create_rtdfiles_utils.hpp
  doc/readthedocs-config/conf.py.in
  doc/readthedocs/4Csetup.rst
  doc/readthedocs/4Csimulation.rst
  doc/readthedocs/figures/tut_solid-deformed.jpg
  doc/readthedocs/figures/tut_solid-geometry.jpg
  doc/readthedocs/figures/tut_solid-mesh.jpg
  doc/readthedocs/figures/tut_solid-mesh.svg
  doc/readthedocs/figures/tut_solid_flow_chart.jpg
  doc/readthedocs/figures/tut_solid_flow_chart.tex
  doc/readthedocs/figures/tutorial_solid_graph.png
  doc/readthedocs/materials.rst
  doc/readthedocs/tut_fluid_preexo.rst
  doc/readthedocs/tut_fsi_preexo_2d.rst
  doc/readthedocs/tut_introduction.rst
  doc/readthedocs/tut_solid_preexo.rst
  doc/readthedocs/tutorials.rst
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/mat/4C_mat_plasticnlnlogneohooke.cpp
  src/mat/4C_mat_plasticnlnlogneohooke.hpp
  tests/framework-test/tutorial_solid.bc
  tests/framework-test/tutorial_solid.e
  tests/framework-test/tutorial_solid.head
  tests/framework-test/tutorial_solid.jou
  tests/input_files/plastic_necking_eas.dat
  tests/input_files/plastic_necking_eas_hard.dat
  tests/list_of_tests.cmake
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Simplify input data internals of InputSpecBuilders
  src/core/io/src/4C_io_input_spec_builders.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Ignore memory leaks (from MPI) for yaml convert
  cmake/functions/four_c_testing_functions.cmake
Due: non-ascii-chars

Refactor solid element input
  src/inpar/4C_inpar_structure.hpp
  src/solid_3D_ele/4C_solid_3D_ele.cpp
  src/solid_3D_ele/4C_solid_3D_ele.hpp
  src/solid_3D_ele/4C_solid_3D_ele_utils.cpp
  src/solid_3D_ele/4C_solid_3D_ele_utils.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_based.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based.cpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused XFEM member variable
  src/xfem/4C_xfem_xfluid_timeInt.cpp
  src/xfem/4C_xfem_xfluid_timeInt.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

InputSpec: arbitrarily nested vectors and maps
  src/core/io/src/4C_io_input_parameter_container.hpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/src/4C_io_input_types.hpp
  src/core/io/src/4C_io_value_parser.hpp
  src/core/io/src/4C_io_yaml.cpp
  src/core/io/src/4C_io_yaml.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
  src/core/io/tests/4C_io_value_parser_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove EAS none from new pressure based solid poro
  tests/input_files/new_solidporo_pressure_based_ele_poromultielast_3D_hex8.dat
  tests/input_files/new_solidporo_pressure_based_ele_poromultielast_3D_hex8_mono.dat
  tests/input_files/new_solidporo_pressure_based_ele_poromultielast_3D_hex8_mono_FD.dat
  tests/input_files/new_solidporo_pressure_based_ele_poromultielast_3D_hex8_part.dat
  tests/input_files/new_solidporo_pressure_based_ele_poromultielastscatra_3D_hex8_2_volfracs_mono_FD.dat
  tests/input_files/new_solidporo_pressure_based_ele_poromultielastscatra_3D_hex8_linebased_artery_coupling_mono_GPTS.dat
  tests/input_files/new_solidporo_pressure_based_ele_poromultielastscatra_3D_hex8_linebased_artery_coupling_mono_network.dat
  tests/input_files/new_solidporo_pressure_based_ele_poromultielastscatra_3D_hex8_linebased_artery_coupling_part_MP.dat
  tests/input_files/new_solidporo_pressure_based_ele_poromultielastscatra_3D_hex8_linebased_artery_coupling_part_network.dat
  tests/input_files/new_solidporo_pressure_based_ele_poromultielastscatra_3D_hex8_mono_FD.dat
  tests/input_files/new_solidporo_pressure_based_ele_poromultielastscatra_3D_hex8_mono_tumor.dat
  tests/input_files/new_solidporo_pressure_based_ele_poromultielastscatra_3D_hex8_nodetopoint_artery_airway_coupling_mono.dat
Due: input-files, non-ascii-chars

Remove initTests from SingleStep solver
  src/solver_nonlin_nox/4C_solver_nonlin_nox_solver_factory.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_solver_singlestep.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_solver_singlestep.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Extract InputParameterContainer::add to own header
  src/core/io/src/4C_io_input_parameter_container.cpp
  src/core/io/src/4C_io_input_parameter_container.hpp
  src/core/io/src/4C_io_input_parameter_container.templates.hpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_parameter_container_test.cpp
  unittests/mat/4C_electrode_test.cpp
  unittests/mat/4C_inelastic_defgrad_factors_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

CI: make 4C upload and download more flexible
  .github/actions/download_4C_build/action.yml
  .github/actions/upload_4C_build/action.yml
  .github/workflows/buildtest.yml
  .github/workflows/coverage.yml
  .github/workflows/nightly_tests.yml
Due: non-ascii-chars

Quote string values and descriptions in yaml
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/src/4C_io_yaml.cpp
  src/core/io/src/4C_io_yaml.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Record compile time tracing in nightly tests
  .github/workflows/nightly_tests.yml
Due: non-ascii-chars

Allow to read yaml files with --- document markers
  src/core/io/src/4C_io_input_file.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Use bool for parameter with only true/false values
  src/adapter/4C_adapter_fld_base_algorithm.cpp
  src/fluid/4C_fluid_DbcHDG.cpp
  src/fluid/4C_fluid_implicit_integration.cpp
  src/fluid/4C_fluid_timint_red.cpp
  src/inpar/4C_inpar_fluid.cpp
  src/inpar/4C_inpar_fluid.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove energy/momentum and untested debug output
  src/contact/4C_contact_abstract_strategy.cpp
  src/contact/4C_contact_abstract_strategy.hpp
  src/contact/4C_contact_meshtying_abstract_strategy.cpp
  src/contact/4C_contact_meshtying_abstract_strategy.hpp
  src/inpar/4C_inpar_contact.cpp
  src/inpar/4C_inpar_contact.hpp
  src/mortar/4C_mortar_strategy_base.hpp
  src/structure/4C_structure_timint.cpp
  tests/input_files/new_solidporo_pressure_velocity_based_nitsche_contact3D_twoelem.dat
  tests/input_files/poro_2D_contact_closed_bound.dat
  tests/input_files/poro_2D_quad4_poroporocontact.dat
  tests/input_files/poro_new_solid_nitsche_contact3D_twoelem.dat
  tests/input_files/poro_scatra_contact3D_two_cubes.dat
  tests/input_files/poro_solid_contact3D_twoelem.dat
  tests/input_files/poro_solid_contact3D_twoelem_wonopen.dat
  tests/input_files/poro_solid_nitsche_contact3D_twoelem.dat
  tests/input_files/poro_solid_nitsche_contact3D_twoelem_twosided.dat
  tests/input_files/poro_solid_nitsche_contact3D_twoelem_wonopen.dat
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Switch BEAMS_DAMPING input paremter to boolean
  src/beamcontact/4C_beamcontact_beam3contact.cpp
  src/beamcontact/4C_beamcontact_beam3contact_manager.cpp
  src/beamcontact/4C_beamcontact_beam3contactnew.cpp
  src/beamcontact/4C_beamcontact_input.cpp
  src/beamcontact/4C_beamcontact_input.hpp
  src/beaminteraction/4C_beaminteraction_beam_to_beam_contact_params.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Improve error for wrong selection value in dat
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Rename MASSLIN options to avoid bool confusion
  src/inpar/4C_inpar_structure.cpp
  tests/framework-test/tutorial_fsi_3d.head
  tests/input_files/elasthyper_IsotropicMat_stress_free_reference.dat
  tests/input_files/elasthyper_toolbox_testmaterial.dat
  tests/input_files/fpsi_ofsiinterface.dat
  tests/input_files/homogenized-constrained-mixture-cyl-aniso-impl-nofibdir.dat
  tests/input_files/mixture_elast_hyper.dat
  tests/input_files/mixture_elast_hyper_dynamic.dat
  tests/input_files/mixture_elast_hyper_function.dat
  tests/input_files/mixture_elast_hyper_map.dat
  tests/input_files/mixture_solid_material.dat
  tests/input_files/mixture_solid_material_dynamic.dat
  tests/input_files/new_solidporo_pressure_velocity_based_nitsche_contact3D_twoelem.dat
  tests/input_files/plastic_damage_doublenotched_HEX27.dat
  tests/input_files/poro_2D_quad4_poroporocontact.dat
  tests/input_files/poro_new_solid_nitsche_contact3D_twoelem.dat
  tests/input_files/poro_scatra_contact3D_two_cubes.dat
  tests/input_files/poro_solid_contact3D_twoelem.dat
  tests/input_files/poro_solid_contact3D_twoelem_wonopen.dat
  tests/input_files/poro_solid_nitsche_contact3D_twoelem.dat
  tests/input_files/poro_solid_nitsche_contact3D_twoelem_twosided.dat
  tests/input_files/poro_solid_nitsche_contact3D_twoelem_wonopen.dat
  tests/input_files/sosh8_eas_cfrp_tape_monitor_dbc.dat
  tests/input_files/spring_dashpot_prestress_new.dat
  tests/input_files/spring_dashpot_prestress_old.dat
  tests/input_files/tsi_geonln_tsiload_hex27_flexoutsurf_monolithic.dat
Due: cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

Rename value of CONTACT_REGULARIZATION
  src/inpar/4C_inpar_contact.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Reduce number of header in header includes
  src/inpar/4C_inpar_scatra.hpp
  src/particle_algorithm/4C_particle_algorithm.cpp
  src/particle_algorithm/4C_particle_algorithm_utils.cpp
  src/particle_algorithm/4C_particle_algorithm_utils.hpp
  src/particle_engine/4C_particle_engine.cpp
  src/particle_interaction/4C_particle_interaction_dem.cpp
  src/particle_interaction/4C_particle_interaction_dem_contact.cpp
  src/particle_interaction/4C_particle_interaction_material_handler.hpp
  src/particle_interaction/4C_particle_interaction_sph.cpp
  src/particle_interaction/4C_particle_interaction_sph_density.cpp
  src/particle_interaction/4C_particle_interaction_sph_equationofstate_bundle.cpp
  src/particle_interaction/4C_particle_interaction_sph_heatloss_evaporation.cpp
  src/particle_interaction/4C_particle_interaction_sph_heatsource.cpp
  src/particle_interaction/4C_particle_interaction_sph_momentum.cpp
  src/particle_interaction/4C_particle_interaction_sph_open_boundary.cpp
  src/particle_interaction/4C_particle_interaction_sph_phase_change.cpp
  src/particle_interaction/4C_particle_interaction_sph_surface_tension.cpp
  src/particle_interaction/4C_particle_interaction_sph_surface_tension_interface_viscosity.cpp
  src/particle_interaction/4C_particle_interaction_sph_temperature.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_utils.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Enable Noneable in selection
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/src/4C_io_input_types.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
  src/core/utils/src/parameters/4C_utils_parameter_list.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_based.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_utils.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix bug in cut levelsetinteraction
  src/cut/4C_cut_combintersection.cpp
  src/cut/4C_cut_levelsetintersection.cpp
  src/cut/4C_cut_levelsetintersection.hpp
  src/levelset/4C_levelset_intersection_utils.cpp
  tests/cut_test/cut_test_main.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Replace erroneous nullptr MPI_COMM initialization
  src/adapter/4C_adapter_coupling_nonlin_mortar.cpp
  src/core/comm/src/4C_comm_utils.cpp
  src/core/io/src/4C_io_pstream.cpp
  src/mortar/4C_mortar_interface.cpp
  src/mortar/4C_mortar_strategy_base.cpp
  src/mortar/4C_mortar_strategy_factory.cpp
  src/mortar/4C_mortar_strategy_factory.hpp
  src/structure_new/src/4C_structure_new_timint_basedataglobalstate.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_data.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_data.hpp
  src/xfem/4C_xfem_multi_field_mapextractor.cpp
  unittests/geometry_pair/4C_geometry_pair_line_to_volume_segmentation_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix Noneable for containers
  src/core/io/src/4C_io_input_types.hpp
  src/core/io/src/4C_io_yaml.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Path conditions:
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/|mm$
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$
