Repository sebproell/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

cpp-filename-includes:
  name: C++ file names and include style
  description: Check that all C++ files have the correct file name and include style
  language: system
  entry: utilities/python-venv/bin/check-filenames-and-includes
  args:
  - --paths
  - src/
  - unittests/
  - apps/
  - --files

cpp-include-guard:
  name: Include guards
  description: Check that all C++ files have the correct include guards
  language: python
  entry: utilities/python-venv/bin/check-header-guards

cpp-preprocessor:
  name: C++ preprocessor directives
  description: Check that all C++ files only use acceptable preprocessor directives
  language: python
  entry: utilities/python-venv/bin/check-preprocessor

input-files:
  name: Test input files
  description: Check input files conform to expectations
  language: python
  entry: utilities/python-venv/bin/check-test-files

non-ascii-chars:
  name: Non-ASCII characters
  language: system
  entry: ./utilities/code_checks/check_non_ascii_chars

Switch ConstraintDirection enum to enum class
  src/adapter/4C_adapter_coupling_ehl_mortar.cpp
  src/contact/4C_contact_abstract_data_container.cpp
  src/contact/4C_contact_abstract_strategy.cpp
  src/contact/4C_contact_input.cpp
  src/contact/4C_contact_input.hpp
  src/contact/4C_contact_interface.cpp
  src/contact/4C_contact_interface_assemble.cpp
  src/contact/4C_contact_lagrange_strategy.cpp
  src/contact/4C_contact_lagrange_strategy_tsi.cpp
  src/contact/4C_contact_manager.cpp
  src/contact/4C_contact_penalty_strategy.cpp
  src/contact/4C_contact_strategy_factory.cpp
  src/contact/4C_contact_tsi_interface.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Switch SystemType enum to enum class
  src/adapter/4C_adapter_str_structure.cpp
  src/contact/4C_contact_abstract_strategy.cpp
  src/contact/4C_contact_abstract_strategy.hpp
  src/contact/4C_contact_input.cpp
  src/contact/4C_contact_input.hpp
  src/contact/4C_contact_lagrange_strategy.cpp
  src/contact/4C_contact_lagrange_strategy_tsi.cpp
  src/contact/4C_contact_lagrange_strategy_wear.cpp
  src/contact/4C_contact_manager.cpp
  src/contact/4C_contact_meshtying_abstract_strategy.cpp
  src/contact/4C_contact_meshtying_lagrange_strategy.cpp
  src/contact/4C_contact_meshtying_manager.cpp
  src/contact/4C_contact_meshtying_poro_lagrange_strategy.cpp
  src/contact/4C_contact_meshtying_strategy_factory.cpp
  src/contact/4C_contact_monocoupled_lagrange_strategy.cpp
  src/contact/4C_contact_strategy_factory.cpp
  src/contact/4C_contact_wear_interface.cpp
  src/mortar/4C_mortar_strategy_base.cpp
  src/structure/4C_structure_timint.cpp
  src/structure/4C_structure_timint_impl.cpp
  src/structure_new/src/4C_structure_new_timint_basedataglobalstate.cpp
  src/structure_new/src/linear_solver/4C_structure_new_solver_factory.cpp
  src/structure_new/src/linear_solver/4C_structure_new_solver_factory.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_contact.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_meshtying.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Enum class for SolvingStrategy and ProblemType
  src/adapter/4C_adapter_coupling_ehl_mortar.cpp
  src/adapter/4C_adapter_coupling_nonlin_mortar.cpp
  src/adapter/4C_adapter_coupling_poro_mortar.cpp
  src/adapter/4C_adapter_str_structure.cpp
  src/adapter/4C_adapter_str_structure_new.cpp
  src/contact/4C_contact_abstract_data_container.cpp
  src/contact/4C_contact_abstract_strategy.cpp
  src/contact/4C_contact_coupling3d.cpp
  src/contact/4C_contact_input.cpp
  src/contact/4C_contact_input.hpp
  src/contact/4C_contact_integrator.cpp
  src/contact/4C_contact_integrator_factory.cpp
  src/contact/4C_contact_interface.cpp
  src/contact/4C_contact_interface_tools.cpp
  src/contact/4C_contact_lagrange_strategy_wear.cpp
  src/contact/4C_contact_manager.cpp
  src/contact/4C_contact_meshtying_abstract_strategy.cpp
  src/contact/4C_contact_meshtying_manager.cpp
  src/contact/4C_contact_meshtying_penalty_strategy.cpp
  src/contact/4C_contact_meshtying_strategy_factory.cpp
  src/contact/4C_contact_nitsche_integrator.cpp
  src/contact/4C_contact_penalty_strategy.cpp
  src/contact/4C_contact_strategy_factory.cpp
  src/contact/4C_contact_utils.cpp
  src/ehl/4C_ehl_base.cpp
  src/mortar/4C_mortar_interface.cpp
  src/ssi/4C_ssi_base.cpp
  src/structure/4C_structure_timint.cpp
  src/structure/4C_structure_timint_expl.cpp
  src/structure/4C_structure_timint_impl.cpp
  src/structure_new/src/4C_structure_new_timint_basedataglobalstate.cpp
  src/structure_new/src/linear_solver/4C_structure_new_solver_factory.cpp
  src/structure_new/src/linear_solver/4C_structure_new_solver_factory.hpp
  src/tsi/4C_tsi_algorithm.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove SoBase class
  src/adapter/4C_adapter_str_structure_new.cpp
  src/beaminteraction/src/4C_beaminteraction_calc_utils.cpp
  src/beaminteraction/src/4C_beaminteraction_contact_pair.cpp
  src/contact/4C_contact_nitsche_integrator.cpp
  src/contact/4C_contact_nitsche_integrator_poro.cpp
  src/poroelast/4C_poroelast_base.cpp
  src/poroelast/4C_poroelast_utils.cpp
  src/poroelast/4C_poroelast_utils_clonestrategy.cpp
  src/poroelast_scatra/4C_poroelast_scatra_utils_setup.hpp
  src/so3/4C_so3_base.cpp
  src/so3/4C_so3_base.hpp
  src/w1/4C_w1.cpp
  src/w1/4C_w1.hpp
  src/xfem/4C_xfem_coupling_mesh.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Use std::format for error and assertion messages
  src/core/utils/src/exceptions/4C_utils_exceptions.cpp
  src/core/utils/src/exceptions/4C_utils_exceptions.hpp
  src/core/utils/tests/exceptions/4C_utils_exceptions_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add implementation for C++23 std::unreachable()
  src/beaminteraction/src/4C_beaminteraction_beam_to_solid_conditions.cpp
  src/core/utils/src/stl_extension/c++23/4C_utils_std23_unreachable.hpp
  src/core/utils/src/stl_extension/c++23/CMakeLists.txt
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move SolidLine to solid_3D_ele from so3
  src/core/fem/src/general/element/4C_fem_general_element_integration.hpp
  src/fsi/src/utils/4C_fsi_utils.cpp
  src/so3/4C_so3_line.cpp
  src/so3/4C_so3_line.hpp
  src/so3/4C_so3_line_evaluate.cpp
  src/so3/4C_so3_surface.cpp
  src/solid_3D_ele/4C_solid_3D_ele.cpp
  src/solid_3D_ele/4C_solid_3D_ele_evaluate.cpp
  src/solid_3D_ele/4C_solid_3D_ele_line.cpp
  src/solid_3D_ele/4C_solid_3D_ele_line.hpp
  src/solid_3D_ele/4C_solid_3D_ele_neumann_evaluator.cpp
  src/solid_3D_ele/4C_solid_3D_ele_neumann_evaluator.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_based.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based_p1.cpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele.cpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele_evaluate.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Adapt test tolerance of explicit timeint tests
  src/solid_3D_ele/4C_solid_3D_ele_line.cpp
  src/solid_3D_ele/4C_solid_3D_ele_line.hpp
  tests/input_files/sosh8_freeflying_ruler_sta.dat
  tests/input_files/sosh8_freeflying_ruler_sta_centrdiff_new_restart.dat
  tests/input_files/sosh8_freeflying_ruler_sta_new_restart.dat
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Remove dim template from so-ele Nitsche evaluator
  src/contact/4C_contact_nitsche_integrator.cpp
  src/contact/4C_contact_nitsche_integrator_fsi.cpp
  src/contact/4C_contact_nitsche_integrator_poro.cpp
  src/solid_3D_ele/4C_solid_3D_ele.hpp
  src/solid_3D_ele/4C_solid_3D_ele_calc_lib_nitsche.hpp
  src/solid_3D_ele/4C_solid_3D_ele_evaluate.cpp
  src/xfem/4C_xfem_coupling_mesh.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Membranes can now be written to output using vtk
  apps/post_monitor/4C_post_monitor.cpp
  apps/post_monitor/4C_post_monitor.hpp
  apps/post_processor/4C_post_processor.cpp
  apps/post_processor/4C_post_processor_single_field_writers.cpp
  apps/post_processor/4C_post_processor_single_field_writers.hpp
  apps/post_processor/4C_post_processor_structure_stress.cpp
  src/inpar/4C_inpar_IO_runtime_vtk_output_structure.cpp
  src/inpar/4C_inpar_io.cpp
  src/inpar/4C_inpar_structure.hpp
  src/membrane/4C_membrane_evaluate.cpp
  src/post/4C_post_common.cpp
  src/post/4C_post_common.hpp
  src/structure_new/src/4C_structure_new_timint_base.cpp
  src/structure_new/src/4C_structure_new_timint_base.hpp
  src/structure_new/src/4C_structure_new_timint_basedataio.cpp
  src/structure_new/src/4C_structure_new_timint_basedataio.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_data.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_data.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_structure.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_structure.hpp
  src/structure_new/src/output/4C_structure_new_discretization_runtime_output_params.cpp
  src/structure_new/src/output/4C_structure_new_discretization_runtime_output_params.hpp
  tests/input_files/membrane_patch_new_struct.dat
  tests/input_files/ref/membrane_patch_new_struct/vtk-files/structure-00006-0.vtu
  tests/input_files/ref/membrane_patch_new_struct/vtk-files/structure-00006-1.vtu
  tests/input_files/ref/membrane_patch_new_struct/vtk-files/structure-00006.pvtu
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Add missing ConditionType enum strings
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_conditions.cpp
  src/ehl/4C_ehl_input.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove old metadata and schema files
  apps/global_full/CMakeLists.txt
Due: non-ascii-chars

Fix bug in cmake testing functions for omp threads
  cmake/functions/four_c_testing_functions.cmake
Due: non-ascii-chars

Improve error message in metadata utils
  utilities/metadata_utils.py
Due: non-ascii-chars

Fix missing group in MIRCO parameter input
  src/contact/4C_contact_strategy_factory.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Move so3_surface to solid_3D_ele
  src/cardiovascular0d/4C_cardiovascular0d.cpp
  src/cardiovascular0d/4C_cardiovascular0d_4elementwindkessel.cpp
  src/cardiovascular0d/4C_cardiovascular0d_arterialproxdist.cpp
  src/cardiovascular0d/4C_cardiovascular0d_respiratory_syspulperiphcirculation.cpp
  src/cardiovascular0d/4C_cardiovascular0d_syspulcirculation.cpp
  src/fsi/src/utils/4C_fsi_utils.cpp
  src/fsi/src/utils/4C_fsi_utils.hpp
  src/mortar/4C_mortar_element.cpp
  src/so3/4C_so3_surface.cpp
  src/so3/4C_so3_surface.hpp
  src/solid_3D_ele/4C_solid_3D_ele.cpp
  src/solid_3D_ele/4C_solid_3D_ele_surface.cpp
  src/solid_3D_ele/4C_solid_3D_ele_surface.hpp
  src/solid_3D_ele/4C_solid_3D_ele_surface_evaluate.cpp
  src/solid_3D_ele/4C_solid_3D_ele_surface_traceestimate.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_based.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based_p1.cpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele.cpp
  src/ssi/4C_ssi_clonestrategy.cpp
  src/w1/4C_w1_line_evaluate.cpp
  src/xfem/4C_xfem_coupling_mesh.cpp
  src/xfem/4C_xfem_xfluid_contact_communicator.cpp
  src/xfem/4C_xfem_xfluid_contact_communicator.hpp
  unittests/geometry_pair/4C_geometry_pair_line_to_surface_patch_geometry_test.hpp
  unittests/geometry_pair/4C_geometry_pair_line_to_surface_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove so3 module
  src/CMakeLists.txt
  src/adapter/CMakeLists.txt
  src/ale/CMakeLists.txt
  src/beam3/CMakeLists.txt
  src/beaminteraction/src/CMakeLists.txt
  src/bele/CMakeLists.txt
  src/cardiovascular0d/CMakeLists.txt
  src/contact/CMakeLists.txt
  src/fsi/src/CMakeLists.txt
  src/fsi/src/monolithic/CMakeLists.txt
  src/fsi/src/monolithic/model_evaluator/CMakeLists.txt
  src/fsi/src/monolithic/nonlinear_solver/CMakeLists.txt
  src/fsi/src/partitioned/CMakeLists.txt
  src/fsi/src/partitioned/model_evaluator/CMakeLists.txt
  src/fsi/src/partitioned/nonlinear_solver/CMakeLists.txt
  src/fsi/src/utils/CMakeLists.txt
  src/global_legacy_module/CMakeLists.txt
  src/mat/CMakeLists.txt
  src/membrane/CMakeLists.txt
  src/mortar/CMakeLists.txt
  src/poroelast/CMakeLists.txt
  src/poroelast_scatra/CMakeLists.txt
  src/scatra_ele/CMakeLists.txt
  src/so3/CMakeLists.txt
  src/solid_3D_ele/CMakeLists.txt
  src/solid_poro_3D_ele/CMakeLists.txt
  src/ssti/CMakeLists.txt
  src/stru_multi/CMakeLists.txt
  src/structure/CMakeLists.txt
  src/structure_new/src/linear_solver/CMakeLists.txt
  src/torsion3/CMakeLists.txt
  src/truss3/CMakeLists.txt
  src/tsi/CMakeLists.txt
  src/w1/CMakeLists.txt
  src/xfem/CMakeLists.txt
  unittests/CMakeLists.txt
  unittests/contact/4C_contact_element_reference_configuration_test.cpp
  unittests/contact/CMakeLists.txt
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Add gitignore
  .gitignore
Due: non-ascii-chars

Fix base image for prebuilt 4C Dockerfile
  docker/prebuilt_4C/Dockerfile
Due: non-ascii-chars

Change porofluidmultiphase folder and files
  apps/global_full/4C_global_full_cal_control.cpp
  src/CMakeLists.txt
  src/adapter/4C_adapter_porofluidmultiphase_wrapper.cpp
  src/adapter/CMakeLists.txt
  src/inpar/4C_inpar_porofluid_pressure_based.cpp
  src/inpar/4C_inpar_porofluid_pressure_based.hpp
  src/inpar/4C_inpar_validparameters.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_dyn.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_dyn.hpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_meshtying_strategy_artery.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_meshtying_strategy_artery.hpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_meshtying_strategy_base.hpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_meshtying_strategy_std.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_meshtying_strategy_std.hpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_resulttest.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_resulttest.hpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_timint_implicit.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_timint_implicit.hpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_timint_ost.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_timint_ost.hpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_utils.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_utils.hpp
  src/porofluid_pressure_based/CMakeLists.txt
  src/poromultiphase/4C_poromultiphase_base.cpp
  src/poromultiphase/4C_poromultiphase_utils.cpp
  src/poromultiphase/CMakeLists.txt
  src/poromultiphase_scatra/4C_poromultiphase_scatra_artery_coupling_linebased.cpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_artery_coupling_nonconforming.cpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_base.hpp
  src/poromultiphase_scatra/CMakeLists.txt
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add minimal 4C docker image
  .github/workflows/docker_prebuilt_4c.yml
  docker/prebuilt_4C_minimal/Dockerfile
  docker/prebuilt_4C_minimal/README.md
  presets/docker/CMakePresets.json
Due: non-ascii-chars

Remove now unused input helpers
  src/core/utils/src/parameters/4C_utils_parameter_list.cpp
  src/core/utils/src/parameters/4C_utils_parameter_list.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Change poromultiphase files
  apps/global_full/4C_global_full_cal_control.cpp
  src/CMakeLists.txt
  src/adapter/4C_adapter_porofluid_pressure_based.hpp
  src/adapter/4C_adapter_porofluid_pressure_based_wrapper.cpp
  src/adapter/4C_adapter_porofluid_pressure_based_wrapper.hpp
  src/inpar/4C_inpar_porofluid_pressure_based_elast.cpp
  src/inpar/4C_inpar_porofluid_pressure_based_elast.hpp
  src/inpar/4C_inpar_validparameters.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_timint_implicit.hpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_utils.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_adapter.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_base.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_base.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_dyn.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_dyn.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_monolithic.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_monolithic.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_monolithic_twoway.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_monolithic_twoway.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_partitioned.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_partitioned.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_partitioned_twoway.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_partitioned_twoway.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_utils.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_utils.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_utils_clonestrategy.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_utils_clonestrategy.hpp
  src/porofluid_pressure_based_elast/CMakeLists.txt
  src/poromultiphase_scatra/4C_poromultiphase_scatra_base.cpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_base.hpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_monolithic_twoway.cpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_partitioned_twoway.cpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_utils.cpp
  src/poromultiphase_scatra/CMakeLists.txt
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Emit knowledge about elements to metadata
  src/core/fem/src/general/element/4C_fem_general_element_definition.hpp
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_file.hpp
  src/global_data/4C_global_data_read.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Change potential type to enum class
  src/beamcontact/4C_beamcontact_beam3contact_manager.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_input.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_input.hpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_pair_beam_to_beam.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_pair_beam_to_sphere.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_params.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_params.hpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_submodel_evaluator.cpp
  tests/input_files/beam3eb_genalpha_BTB_contact_elstat_attraction_twocrossedbeams.dat
  tests/input_files/beam3eb_genalpha_BTB_contact_elstat_attraction_twocrossedbeams_FAD.dat
  tests/input_files/beam3eb_genalpha_BTSPH_contact_elstat_attraction.dat
  tests/input_files/beam3r_herm2line3_backweuler_browndyn_repLJ_singlelengthspec_smallsepapprox_twocrossedbeams.dat
  tests/input_files/beam3r_herm2line3_backweuler_browndyn_vanderWaals_doublelengthspec_smallsepapprox_regularization_constextpol_twocrossedbeams.dat
  tests/input_files/beam3r_herm2line3_backweuler_browndyn_vanderWaals_doublelengthspec_smallsepapprox_regularization_linextpol_twocrossedbeams.dat
  tests/input_files/beam3r_herm2line3_backweuler_browndyn_vanderWaals_doublelengthspec_smallsepapprox_twocrossedbeams.dat
  tests/input_files/beam3r_herm2line3_backweuler_browndyn_vanderWaals_singlelengthspec_smallsepapprox_twocrossedbeams.dat
  tests/input_files/beam3r_herm2line3_genalpha_liegroup_BTB_contact_elstat_attraction_twocrossedbeams.dat
  tests/input_files/beam3r_herm2line3_static_BTBpotential_repulsiveLennardJones_beamrotatingoverarc.dat
  tests/input_files/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_regularization_linextpol_twocrossedbeams_pulloff.dat
  tests/input_files/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_regularization_linextpol_twocrossedbeams_pulloff.dat
  tests/input_files/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_regularization_linextpol_twocrossedbeams_pulloff_FAD.dat
  tests/input_files/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_regularization_linextpol_twocrossedbeams_pulloff_highereleGIDisslave.dat
  tests/input_files/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_twocrossedbeams_pulloff.dat
  tests/input_files/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_twocrossedbeams_pulloff_FAD.dat
  tests/input_files/beam3r_herm2line3_static_vdW_singlelengthsspec_smallsepapprox_simple_end_point_potential_reduction_strategy.dat
  tests/input_files/beam3wk_line3tan_genalpha_liegroup_BTB_contact_elstat_attraction_twocrossedbeams.dat
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Change Potential Regularization Type to enum class
  src/beaminteraction/src/potential/4C_beaminteraction_potential_input.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_input.hpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_pair_beam_to_beam.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_params.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_params.hpp
  tests/input_files/beam3r_herm2line3_backweuler_browndyn_vanderWaals_doublelengthspec_smallsepapprox_regularization_constextpol_twocrossedbeams.dat
  tests/input_files/beam3r_herm2line3_backweuler_browndyn_vanderWaals_doublelengthspec_smallsepapprox_regularization_linextpol_twocrossedbeams.dat
  tests/input_files/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_regularization_linextpol_twocrossedbeams_pulloff.dat
  tests/input_files/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_regularization_linextpol_twocrossedbeams_pulloff.dat
  tests/input_files/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_regularization_linextpol_twocrossedbeams_pulloff_FAD.dat
  tests/input_files/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_regularization_linextpol_twocrossedbeams_pulloff_highereleGIDisslave.dat
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Update Potential MasterSlaveChoice enum
  src/beaminteraction/src/potential/4C_beaminteraction_potential_input.hpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_params.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Change Potential Strategy Type to enum class
  src/beaminteraction/src/potential/4C_beaminteraction_potential_input.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_input.hpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_pair_beam_to_beam.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_pair_beam_to_sphere.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_params.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_params.hpp
  tests/input_files/beam3eb_genalpha_BTB_contact_elstat_attraction_twocrossedbeams.dat
  tests/input_files/beam3eb_genalpha_BTB_contact_elstat_attraction_twocrossedbeams_FAD.dat
  tests/input_files/beam3eb_genalpha_BTSPH_contact_elstat_attraction.dat
  tests/input_files/beam3r_herm2line3_backweuler_browndyn_repLJ_singlelengthspec_smallsepapprox_twocrossedbeams.dat
  tests/input_files/beam3r_herm2line3_backweuler_browndyn_vanderWaals_doublelengthspec_smallsepapprox_regularization_constextpol_twocrossedbeams.dat
  tests/input_files/beam3r_herm2line3_backweuler_browndyn_vanderWaals_doublelengthspec_smallsepapprox_regularization_linextpol_twocrossedbeams.dat
  tests/input_files/beam3r_herm2line3_backweuler_browndyn_vanderWaals_doublelengthspec_smallsepapprox_twocrossedbeams.dat
  tests/input_files/beam3r_herm2line3_backweuler_browndyn_vanderWaals_singlelengthspec_smallsepapprox_twocrossedbeams.dat
  tests/input_files/beam3r_herm2line3_genalpha_liegroup_BTB_contact_elstat_attraction_twocrossedbeams.dat
  tests/input_files/beam3r_herm2line3_static_BTBpotential_repulsiveLennardJones_beamrotatingoverarc.dat
  tests/input_files/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_regularization_linextpol_twocrossedbeams_pulloff.dat
  tests/input_files/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_regularization_linextpol_twocrossedbeams_pulloff.dat
  tests/input_files/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_regularization_linextpol_twocrossedbeams_pulloff_FAD.dat
  tests/input_files/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_regularization_linextpol_twocrossedbeams_pulloff_highereleGIDisslave.dat
  tests/input_files/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_twocrossedbeams_pulloff.dat
  tests/input_files/beam3r_herm2line3_static_LJ_singlelengthspec_smallsepapprox_simple_twocrossedbeams_pulloff_FAD.dat
  tests/input_files/beam3r_herm2line3_static_vdW_singlelengthsspec_smallsepapprox_simple_end_point_potential_reduction_strategy.dat
  tests/input_files/beam3wk_line3tan_genalpha_liegroup_BTB_contact_elstat_attraction_twocrossedbeams.dat
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Remove outdated input for beam potential
  src/beaminteraction/src/potential/4C_beaminteraction_potential_input.cpp
  src/beaminteraction/src/potential/4C_beaminteraction_potential_params.cpp
  tests/input_files/beam3eb_genalpha_BTSPH_contact_elstat_attraction.dat
Due: cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

Create LinAlg::View for our wrappers
  src/contact/4C_contact_lagrange_strategy_wear.cpp
  src/core/fem/tests/utils/4C_fem_general_element_dof_matrix_test.cpp
  src/core/linalg/src/sparse/4C_linalg_blocksparsematrix.cpp
  src/core/linalg/src/sparse/4C_linalg_multi_vector.hpp
  src/core/linalg/src/sparse/4C_linalg_projected_precond.cpp
  src/core/linalg/src/sparse/4C_linalg_vector.hpp
  src/core/linalg/src/sparse/4C_linalg_view.hpp
  src/core/linalg/tests/4C_linalg_vector_test.np2.cpp
  src/core/linear_solver/src/amgnxn/4C_linear_solver_amgnxn_preconditioner.cpp
  src/coupling/src/adapter/4C_coupling_adapter.cpp
  src/ehl/4C_ehl_base.cpp
  src/fsi/src/monolithic/nonlinear_solver/4C_fsi_nox_group.cpp
  src/fsi/src/monolithic/nonlinear_solver/4C_fsi_nox_linearsystem.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_group.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_linearsystem.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_singlestep_group.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_solver_ptc.cpp
  src/structure/4C_structure_timint_noxlinsys.cpp
  src/structure_new/src/implicit/4C_structure_new_impl_generic.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_contact.cpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_linearsystem_scaling.cpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_timint_noxinterface.cpp
  src/structure_new/src/utils/4C_structure_new_dbc.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Path conditions:
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/|mm$
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$
