Repository sebproell/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

cpp-filename-includes:
  name: C++ file names and include style
  description: Check that all C++ files have the correct file name and include style
  language: system
  entry: utilities/python-venv/bin/check-filenames-and-includes
  args:
  - --paths
  - src/
  - unittests/
  - apps/
  - --files

cpp-include-guard:
  name: Include guards
  description: Check that all C++ files have the correct include guards
  language: python
  entry: utilities/python-venv/bin/check-header-guards

cpp-preprocessor:
  name: C++ preprocessor directives
  description: Check that all C++ files only use acceptable preprocessor directives
  language: python
  entry: utilities/python-venv/bin/check-preprocessor

input-files:
  name: Test input files
  description: Check input files conform to expectations
  language: python
  entry: utilities/python-venv/bin/check-test-files

non-ascii-chars:
  name: Non-ASCII characters
  language: system
  entry: ./utilities/code_checks/check_non_ascii_chars

Remove unnecessary copies to self
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_nox.cpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_singlestep.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Update pre-commit hooks
  .pre-commit-config.yaml
Due: non-ascii-chars

Add vtu output to reduced lung
  src/reduced_lung/4C_reduced_lung_helpers.cpp
  src/reduced_lung/4C_reduced_lung_helpers.hpp
  src/reduced_lung/4C_reduced_lung_main.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Apply CamelCase to EMBEDDEDMESH namespace
  src/constraint_framework/4C_constraint_framework_embeddedmesh_interaction_pair.cpp
  src/constraint_framework/4C_constraint_framework_embeddedmesh_interaction_pair.hpp
  src/constraint_framework/4C_constraint_framework_embeddedmesh_interaction_pair_mortar.cpp
  src/constraint_framework/4C_constraint_framework_embeddedmesh_interaction_pair_mortar.hpp
  src/constraint_framework/4C_constraint_framework_embeddedmesh_params.hpp
  src/constraint_framework/4C_constraint_framework_embeddedmesh_solid_to_solid_mortar_manager.cpp
  src/constraint_framework/4C_constraint_framework_embeddedmesh_solid_to_solid_mortar_manager.hpp
  src/constraint_framework/4C_constraint_framework_embeddedmesh_solid_to_solid_utils.cpp
  src/constraint_framework/4C_constraint_framework_embeddedmesh_solid_to_solid_utils.hpp
  src/constraint_framework/4C_constraint_framework_submodelevaluator_embeddedmesh.cpp
  src/constraint_framework/4C_constraint_framework_submodelevaluator_embeddedmesh.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove some includes related to Epetra
  src/cardiovascular0d/4C_cardiovascular0d.hpp
  src/cardiovascular0d/4C_cardiovascular0d_4elementwindkessel.hpp
  src/cardiovascular0d/4C_cardiovascular0d_arterialproxdist.hpp
  src/cardiovascular0d/4C_cardiovascular0d_manager.hpp
  src/cardiovascular0d/4C_cardiovascular0d_respiratory_syspulperiphcirculation.hpp
  src/cardiovascular0d/4C_cardiovascular0d_syspulcirculation.hpp
  src/constraint/4C_constraint_manager.hpp
  src/constraint/4C_constraint_penalty.hpp
  src/constraint/4C_constraint_solver.hpp
  src/constraint/4C_constraint_springdashpot_manager.hpp
  src/contact/4C_contact_nitsche_utils.cpp
  src/core/fem/src/general/utils/4C_fem_general_extract_values.cpp
  src/core/linalg/src/sparse/4C_linalg_krylov_projector.cpp
  src/core/linalg/src/sparse/4C_linalg_krylov_projector.hpp
  src/core/linalg/src/sparse/4C_linalg_projected_precond.hpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrixbase.hpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_create.hpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.hpp
  src/core/linalg/tests/4C_linalg_vector_test.np2.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method_linalg.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method_linalg.hpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_type.hpp
  src/ehl/4C_ehl_monolithic.hpp
  src/fsi/src/monolithic/nonlinear_solver/4C_fsi_nox_linearsystem.cpp
  src/fsi/src/partitioned/nonlinear_solver/4C_fsi_nox_jacobian.cpp
  src/fsi/src/partitioned/nonlinear_solver/4C_fsi_nox_jacobian.hpp
  src/mixture/4C_mixture_rule_function.cpp
  src/mixture/4C_mixture_rule_growthremodel.cpp
  src/mixture/4C_mixture_rule_map.cpp
  src/mixture/4C_mixture_rule_simple.cpp
  src/mortar/4C_mortar_matrix_transform.cpp
  src/mortar/4C_mortar_utils.hpp
  src/poroelast_scatra/4C_poroelast_scatra_utils.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_problem.cpp
  src/stru_multi/4C_stru_multi_microstatic.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move red_airways input to physics
  src/inpar/4C_inpar_bio.cpp
  src/inpar/4C_inpar_bio.hpp
  src/inpar/4C_inpar_validconditions.cpp
  src/inpar/4C_inpar_validparameters.cpp
  src/red_airways/4C_red_airways_dyn_drt.cpp
  src/red_airways/4C_red_airways_implicitintegration.cpp
  src/red_airways/4C_red_airways_input.cpp
  src/red_airways/4C_red_airways_input.hpp
  src/red_airways/4C_red_airways_tissue.cpp
  tests/input_files/red_airway_1airway_acinus_collapsible.dat
  tests/input_files/red_airway_2_acinus_of_3Exponential_alveolar_ducts.dat
  tests/input_files/red_airway_3airway_2acinus_awacinter.dat
  tests/input_files/red_airway_5000_airway_acinus_collapsible.dat
  tests/input_files/red_airway_acinus_VolumetricOgden.dat
  tests/input_files/red_airway_acinus_VolumetricOgden_prestress.dat
  tests/input_files/red_airway_acinus_inter_acinar.dat
  tests/input_files/red_airway_acinus_inter_acinar_box.dat
  tests/input_files/red_airway_acinus_of_3Exponential_alveolar_ducts.dat
  tests/input_files/red_airway_acinus_switchFlowPressureBC.dat
  tests/input_files/red_airway_acinus_volumedep_Ppl.dat
  tests/input_files/red_airway_one_acinus_DoubleExponential.dat
  tests/input_files/red_airway_one_acinus_Exponential.dat
  tests/input_files/red_airway_one_acinus_NeoHookean.dat
  tests/input_files/red_airway_tissue_coupling.dat
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Increase version to 2025.2.0
  VERSION
Due: non-ascii-chars

Fix docker workflow
  .github/workflows/docker.yml
Due: non-ascii-chars

Call post_setup() for the auxiliary time integrator
  src/adapter/4C_adapter_str_timeada_joint.cpp
  src/adapter/4C_adapter_str_timeada_joint.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove obsolete wrapper
  src/adapter/4C_adapter_str_timeada_joint.cpp
  src/adapter/4C_adapter_str_timeada_joint.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Increase version to 2025.3.0-dev
  VERSION
Due: non-ascii-chars

Add example for two connected Point Couplings
  src/core/fem/src/discretization/4C_fem_discretization.cpp
  src/core/fem/src/dofset/4C_fem_dofset.cpp
  tests/input_files/sohex8_two-connected-pointcouplings.xml
  tests/input_files/sohex8_two-connected-pointcouplings.yaml
  tests/list_of_tests.cmake
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Make the Point Coupling dof based not node based
  src/core/fem/src/dofset/4C_fem_dofset.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Put valid conditions in global legacy module
  apps/create_rtdfiles/4C_create_rtdfiles_wrapper.cpp
  apps/global_full/4C_global_full_main.cpp
  apps/pre_exodus/4C_pre_exodus.cpp
  apps/pre_exodus/4C_pre_exodus_writedat.cpp
  src/global_data/4C_global_data_read.cpp
  src/global_legacy_module/4C_global_legacy_module.cpp
  src/global_legacy_module/4C_global_legacy_module_validconditions.cpp
  src/global_legacy_module/4C_global_legacy_module_validconditions.hpp
  src/module_registry/4C_module_registry_callbacks.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Put magic_enum reflection into EnumTools namespace
  doc/documentation/src/developer_guide/codingguidelines.rst
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/src/4C_io_value_parser.hpp
  src/core/io/src/4C_io_yaml.hpp
  src/core/linalg/src/dense/4C_linalg_utils_densematrix_funct.hpp
  src/core/linalg/src/dense/4C_linalg_utils_tensor_interpolation.cpp
  src/core/linalg/src/dense/4C_linalg_utils_tensor_interpolation.hpp
  src/core/utils/src/stl_extension/4C_utils_enum.hpp
  src/poroelast/4C_poroelast_monolithic.cpp
  src/poroelast_scatra/4C_poroelast_scatra_monolithic.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_timint_implicit.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_monolithic.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_monolithic_twoway.cpp
  src/solid_3D_ele/4C_solid_3D_ele_factory.cpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele_factory.cpp
  src/structure/4C_structure_timint.cpp
  src/structure_new/src/4C_structure_new_timint_base.cpp
  src/thermo/src/implicit/4C_thermo_timint_genalpha.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Constrain InputParameterContainer supported types
  src/core/io/src/4C_io_input_parameter_container.hpp
  src/core/io/src/4C_io_input_parameter_container.templates.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Refactor unstable test
  tests/input_files/f3_cha_xwall_6x8x6_grad_ol2p_bs_ramp_ale_mfs.dat
  tests/list_of_tests.cmake
Due: input-files, non-ascii-chars

Remove PoroFluidMultiphase meshtying std
  src/porofluid_pressure_based/4C_porofluid_pressure_based_meshtying_strategy_artery.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_meshtying_strategy_artery.hpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_meshtying_strategy_base.hpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_meshtying_strategy_std.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_meshtying_strategy_std.hpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_resulttest.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_timint_implicit.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_timint_implicit.hpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_timint_ost.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Replace assert with FOUR_C_ASSERT
  src/constraint/4C_constraint_springdashpot.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Exodus: reorder indices for hex27
  apps/pre_exodus/4C_pre_exodus_validate.cpp
  apps/pre_exodus/4C_pre_exodus_writedat.cpp
  src/core/io/src/4C_io_exodus.cpp
  src/core/io/src/4C_io_exodus.hpp
  src/core/io/src/4C_io_meshreader.cpp
  src/global_data/4C_global_data_read.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add runtime output to arteries
  src/art_net/4C_art_net_explicitintegration.cpp
  src/art_net/4C_art_net_explicitintegration.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix out of bounds lookup in reduced lung
  src/reduced_lung/4C_reduced_lung_helpers.cpp
  src/reduced_lung/4C_reduced_lung_helpers.hpp
  src/reduced_lung/4C_reduced_lung_main.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Call post_setup() for restart
  src/adapter/4C_adapter_str_timeada_joint.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

List all our CMake variables in the documentation
  doc/documentation/CMakeLists.txt
  doc/documentation/scripts/extract_cmake_variables.sh
  doc/documentation/src/developer_guide/developer_cmake.rst
  doc/documentation/src/installation/installation.rst
Due: non-ascii-chars

Merge timint classes
  src/adapter/4C_adapter_porofluid_pressure_based_wrapper.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_dyn.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_timint_implicit.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_timint_implicit.hpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_timint_ost.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_timint_ost.hpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_utils.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unnecessary comments and return
  src/porofluid_pressure_based/4C_porofluid_pressure_based_timint_implicit.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove unnecessary code paths in InputFile
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_file.hpp
  src/core/io/tests/4C_io_input_file_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add deal.II as an optional dependency
  CMakeLists.txt
  cmake/configure/configure_deal.II.cmake
  cmake/setup_install.cmake
  cmake/templates/4CConfig.cmake.in
  cmake/templates/4CSettings.cmake.in
  cmake/templates/deal.II.cmake.in
  dependencies/supported_version/deal.II.txt
Due: non-ascii-chars

CMake: ensure that cache variables are set
  CMakeLists.txt
  cmake/functions/four_c_auto_define_tests.cmake
  cmake/functions/four_c_configure_dependency.cmake
  cmake/functions/four_c_process_global_option.cmake
  cmake/functions/four_c_testing_functions.cmake
  cmake/setup_tests.cmake
Due: non-ascii-chars

Remove untested code related to the problem type
  apps/post_monitor/4C_post_monitor.cpp
  apps/post_processor/4C_post_processor.cpp
  src/adapter/4C_adapter_fld_base_algorithm.cpp
  src/adapter/4C_adapter_scatra_base_algorithm.cpp
  src/adapter/4C_adapter_scatra_fluid_coupling_algorithm.cpp
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_problem_type.hpp
  src/global_data/4C_global_data_read.cpp
  src/inpar/4C_inpar_problemtype.cpp
  src/levelset/4C_levelset_algorithm.hpp
  src/levelset/4C_levelset_timint_ost.cpp
  src/levelset/4C_levelset_timint_ost.hpp
  src/levelset/4C_levelset_timint_stat.cpp
  src/levelset/4C_levelset_timint_stat.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove INVALID_TEMPLATE_QUALIFIER
  src/adapter/4C_adapter_str_structure_new.cpp
  src/scatra_ele/4C_scatra_ele_calc_lsreinit.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_group_prepostoperator.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_linearsystem_prepostoperator.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_linesearch_prepostoperator.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_structure.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Initial support for conversion from 4C to deal.II
  src/CMakeLists.txt
  src/deal_ii/CMakeLists.txt
  src/deal_ii/src/4C_deal_ii_context.hpp
  src/deal_ii/src/4C_deal_ii_context_implementation.hpp
  src/deal_ii/src/4C_deal_ii_dofs.cpp
  src/deal_ii/src/4C_deal_ii_dofs.hpp
  src/deal_ii/src/4C_deal_ii_element_conversion.hpp
  src/deal_ii/src/4C_deal_ii_triangulation.cpp
  src/deal_ii/src/4C_deal_ii_triangulation.hpp
  src/deal_ii/src/4C_deal_ii_vector_conversion.cpp
  src/deal_ii/src/4C_deal_ii_vector_conversion.hpp
  src/deal_ii/src/CMakeLists.txt
  src/deal_ii/tests/4C_deal_ii_create_discretization_helper_test.hpp
  src/deal_ii/tests/4C_deal_ii_triangulation_parallel_test.np3.cpp
  src/deal_ii/tests/4C_deal_ii_triangulation_serial_test.cpp
  src/deal_ii/tests/4C_deal_ii_vector_mapping_test.np2.cpp
  src/deal_ii/tests/CMakeLists.txt
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Path conditions:
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/|mm$
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$
