Repository sebproell/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Path conditions:
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/|mm$
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$

Some cleanup of the ssi module
  src/ssi/4C_ssi_base.cpp
  src/ssi/4C_ssi_base.hpp
  src/ssi/4C_ssi_coupling.cpp
  src/ssi/4C_ssi_manifold_utils.cpp
  src/ssi/4C_ssi_monolithic.cpp
  src/ssi/4C_ssi_monolithic.hpp
  src/ssi/4C_ssi_partitioned.cpp
  src/ssi/4C_ssi_partitioned_1wc.cpp
  src/ssi/4C_ssi_partitioned_2wc.cpp
  src/ssi/4C_ssi_utils.cpp
  src/ssi/4C_ssi_utils.hpp
  src/ssti/4C_ssti_algorithm.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Clarify set_node_ids_one_based_index
  src/core/fem/src/general/element/4C_fem_general_element.cpp
  src/core/fem/src/general/element/4C_fem_general_element.hpp
  src/core/io/src/4C_io_elementreader.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add a fluid test with direct mesh input
  tests/input_files/fluid_exodus_in.4C.yaml
  tests/input_files/fluid_exodus_in.exo
  tests/list_of_tests.cmake
Due: non-ascii-chars

Enable direct exodus input for all fields
  src/inpar/4C_inpar_validparameters.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Add get nodes from element block
  src/global_data/4C_global_data_read.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Clean up input enums
  src/porofluid_pressure_based/4C_porofluid_pressure_based_dyn.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_input.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_input.hpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_timint_implicit.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_timint_implicit.hpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_utils.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_input.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_input.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_monolithic_twoway.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_partitioned_twoway.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_base.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_base.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_input.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_input.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_monolithic_twoway.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove outdated GeometryType input enum
  src/core/io/src/4C_io_geometry_type.hpp
  src/core/io/src/4C_io_meshreader.hpp
  src/global_data/4C_global_data_read.cpp
  src/inpar/4C_inpar_IO_monitor_structure_dbc.cpp
  src/inpar/4C_inpar_IO_runtime_vtp_output_structure.cpp
  src/inpar/4C_inpar_fluid.cpp
  src/inpar/4C_inpar_structure.cpp
  src/thermo/src/utils/4C_thermo_input.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove GEOMETRY parameter from test files
  tests/input_files/contact3D_exodus_in.4C.yaml
  tests/input_files/f3_channel_EOS_hex8_10x10x10_quad_inflow_altgeogeneration.dat
  tests/input_files/f3_channel_EOS_wedge15_10x10x10_quad_inflow_altgeogeneration.dat
  tests/input_files/f3_forced_hit_geogen_hdg.dat
  tests/input_files/f3_kimmoin_stat_24x24x1_wedge15_pseudo2D.dat
  tests/input_files/f3_stokes_residualbased_rotboxgeom.dat
  tests/input_files/fbi_mortar_solidcoupling.dat
  tests/input_files/fsi_dc3D_part_ait_ga_ost_xwall.dat
  tests/input_files/homogenized-constrained-mixture-cyl-aniso-impl-nofibdir.dat
  tests/input_files/sohex8_disp_altgeogeneration.dat
  tests/input_files/tfsi_plate.dat
  tests/input_files/xfluid_couette_NavSlip_eps1.6_g-1.0_mu0.16_altgeogeneration_movingls_fully_weakly_verticalcut.dat
  tests/input_files/xfluid_couette_NavSlip_eps1.6_g-1.0_mu0.1_altgeogeneration.dat
  tests/input_files/xfluid_couette_NavSlip_eps1.6_g-1.0_mu0.1_altgeogeneration_wedge6.dat
  tests/input_files/xfluid_forward_facing_step_stationary_NavSlip_eps1.6_16x16_NIT_altgeogeneration.dat
  tests/input_files/xfluid_ls_neumann_inflow_stab.dat
  tests/input_files/xfluid_mesh_neumann_inflow_stab.dat
  tests/input_files/xfluid_moving_torus_NavSlip_vareps_levelset_psmoothed_8x8x16.dat
  tests/input_files/xfluid_oseen_urquiza_square_NavSlip_eps1.0_40x40_mesh_altgeogeneration.dat
  tests/input_files/xfluid_taylor_couette_NavSlip_eps1.0_25x25_krylov_levelset_altgeogeneration.dat
  tests/input_files/xfluid_taylor_couette_NavSlip_ri0.19_ro0.49_epsi1.0_epso1e-5_ti-2.5_to0.5_8x8_levelset_hex27.dat
  tests/input_files/xfpsci_twoelem_pp.dat
  tests/input_files/xfpsci_twoelem_ps.dat
  tests/input_files/xfsci_twoelem.dat
  tests/input_files/xfsi_3D_boxes.dat
Due: input-files, non-ascii-chars

Fix link on landing page of doxygen documentation
  doc/doxygen/index.doc
Due: non-ascii-chars

Collect all mesh input helpers inside MeshReader
  src/core/io/src/4C_io_domainreader.cpp
  src/core/io/src/4C_io_domainreader.hpp
  src/core/io/src/4C_io_elementreader.cpp
  src/core/io/src/4C_io_elementreader.hpp
  src/core/io/src/4C_io_meshreader.cpp
  src/core/io/src/4C_io_meshreader.hpp
  src/global_data/4C_global_data_read.cpp
  src/inpar/4C_inpar_validparameters.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Increase flexibility of ValueParser
  src/core/io/src/4C_io_value_parser.cpp
  src/core/io/src/4C_io_value_parser.hpp
  src/core/io/tests/4C_io_value_parser_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Update Trilinos root in IMCS preset
  presets/imcs/workstation/CMakePresets.json
Due: non-ascii-chars

Update geometric search implementation
  cmake/configure/configure_ArborX.cmake
  src/core/fem/tests/CMakeLists.txt
  src/core/geometric_search/CMakeLists.txt
  src/core/geometric_search/src/4C_geometric_search_access_traits.hpp
  src/core/geometric_search/src/4C_geometric_search_bounding_volume.hpp
  src/core/geometric_search/src/4C_geometric_search_bvh.cpp
  src/core/geometric_search/src/4C_geometric_search_bvh.hpp
  src/core/geometric_search/src/4C_geometric_search_distributed_tree.cpp
  src/core/geometric_search/src/4C_geometric_search_distributed_tree.hpp
  src/core/geometric_search/src/4C_geometric_search_input.cpp
  src/core/geometric_search/src/4C_geometric_search_input.hpp
  src/core/geometric_search/src/4C_geometric_search_matchingoctree.cpp
  src/core/geometric_search/src/4C_geometric_search_matchingoctree.hpp
  src/core/geometric_search/src/4C_geometric_search_params.cpp
  src/core/geometric_search/src/4C_geometric_search_params.hpp
  src/core/geometric_search/src/4C_geometric_search_utils.cpp
  src/core/geometric_search/src/4C_geometric_search_utils.hpp
  src/core/geometric_search/src/4C_geometric_search_visualization.cpp
  src/core/geometric_search/src/4C_geometric_search_visualization.hpp
  src/core/geometric_search/src/CMakeLists.txt
  src/core/geometric_search/src/script/kdop_generate_possible_intersection_planes.wls
  src/core/geometric_search/tests/4C_geometric_search_create_bounding_volumes_test.hpp
  src/core/geometric_search/tests/4C_geometric_search_distributed_test.np3.cpp
  src/core/geometric_search/tests/4C_geometric_search_test.cpp
  src/core/geometric_search/tests/CMakeLists.txt
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix some includes
  src/beam3/4C_beam3_base.cpp
  src/beaminteraction/src/4C_beaminteraction_submodel_evaluator_beamcontact.cpp
  src/core/fem/src/condition/4C_fem_condition_periodic.cpp
  src/core/fem/src/dofset/4C_fem_dofset_definedmapping_wrapper.cpp
  src/core/fem/src/dofset/4C_fem_dofset_merged_wrapper.cpp
  src/core/fem/src/general/element/4C_fem_general_element.cpp
  src/core/geometric_search/src/4C_geometric_search_access_traits.hpp
  src/core/rebalance/src/4C_rebalance_binning_based.cpp
  src/core/rebalance/src/4C_rebalance_graph_based.cpp
  src/core/rebalance/src/4C_rebalance_graph_based.hpp
  src/coupling/src/adapter/4C_coupling_adapter.cpp
  src/fluid_turbulence/4C_fluid_turbulence_transfer_turb_inflow.cpp
  src/inpar/4C_inpar_validparameters.cpp
  src/rigidsphere/4C_rigidsphere_evaluate.cpp
  src/ssi/4C_ssi_utils.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add schema for partial 4C.part.yaml
  utilities/create_json_schema.py
Due: non-ascii-chars

Minor bugfixes in documentation
  doc/documentation/developer_cmake.rst
  doc/documentation/developer_dirstructure.rst
  doc/documentation/installation.rst
Due: none

Update documentation on doxygen
  doc/documentation/doxygen.rst
Due: none

Remove occurrences of "rtd"
  README.md
  apps/create_rtdfiles/CMakeLists.txt
Due: non-ascii-chars

Revert "Merge pull request #673 from maxfirmbach/Update-ArborX-hash-to-v2.0"
  cmake/configure/configure_ArborX.cmake
  src/beam3/4C_beam3_base.cpp
  src/beaminteraction/src/4C_beaminteraction_submodel_evaluator_beamcontact.cpp
  src/core/fem/src/CMakeLists.txt
  src/core/fem/src/condition/4C_fem_condition_periodic.cpp
  src/core/fem/src/dofset/4C_fem_dofset_definedmapping_wrapper.cpp
  src/core/fem/src/dofset/4C_fem_dofset_merged_wrapper.cpp
  src/core/fem/src/general/element/4C_fem_general_element.cpp
  src/core/fem/src/geometric_search/4C_fem_geometric_search_access_traits.hpp
  src/core/fem/src/geometric_search/4C_fem_geometric_search_bounding_volume.hpp
  src/core/fem/src/geometric_search/4C_fem_geometric_search_bvh.cpp
  src/core/fem/src/geometric_search/4C_fem_geometric_search_bvh.hpp
  src/core/fem/src/geometric_search/4C_fem_geometric_search_distributed_tree.cpp
  src/core/fem/src/geometric_search/4C_fem_geometric_search_distributed_tree.hpp
  src/core/fem/src/geometric_search/4C_fem_geometric_search_matchingoctree.cpp
  src/core/fem/src/geometric_search/4C_fem_geometric_search_matchingoctree.hpp
  src/core/fem/src/geometric_search/4C_fem_geometric_search_params.cpp
  src/core/fem/src/geometric_search/4C_fem_geometric_search_params.hpp
  src/core/fem/src/geometric_search/4C_fem_geometric_search_utils.cpp
  src/core/fem/src/geometric_search/4C_fem_geometric_search_utils.hpp
  src/core/fem/src/geometric_search/4C_fem_geometric_search_visualization.cpp
  src/core/fem/src/geometric_search/4C_fem_geometric_search_visualization.hpp
  src/core/fem/src/geometric_search/CMakeLists.txt
  src/core/fem/src/geometric_search/script/kdop_generate_possible_intersection_planes.wls
  src/core/fem/tests/CMakeLists.txt
  src/core/fem/tests/geometric_search/4C_fem_geometric_search_create_bounding_volumes_test.hpp
  src/core/fem/tests/geometric_search/4C_fem_geometric_search_distributed_test.np3.cpp
  src/core/fem/tests/geometric_search/4C_fem_geometric_search_test.cpp
  src/core/fem/tests/geometric_search/CMakeLists.txt
  src/core/geometric_search/src/CMakeLists.txt
  src/core/rebalance/src/4C_rebalance_binning_based.cpp
  src/core/rebalance/src/4C_rebalance_graph_based.cpp
  src/core/rebalance/src/4C_rebalance_graph_based.hpp
  src/coupling/src/adapter/4C_coupling_adapter.cpp
  src/fluid_turbulence/4C_fluid_turbulence_transfer_turb_inflow.cpp
  src/inpar/4C_inpar_geometric_search.cpp
  src/inpar/4C_inpar_geometric_search.hpp
  src/inpar/4C_inpar_validparameters.cpp
  src/rigidsphere/4C_rigidsphere_evaluate.cpp
  src/ssi/4C_ssi_utils.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Rework tensor interpolation framework
  src/core/linalg/src/dense/4C_linalg_utils_tensor_interpolation.cpp
  src/core/linalg/src/dense/4C_linalg_utils_tensor_interpolation.hpp
  src/core/linalg/tests/4C_linalg_utils_tensor_interpolation_test.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.hpp
  tests/input_files/mat_iso_viscoplast_refJC_log_substep.dat
  tests/input_files/mat_transviso_viscoplast_refJC_log_substep.dat
  tests/input_files/mat_transviso_viscoplast_refJC_standard_substep.dat
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Move some tests to UMFPACK
  tests/input_files/beam3r_herm2line3_static_locsys.dat
  tests/input_files/cardiovascular0d_arterialproxdist_structure_direct_genalpha_mor.dat
  tests/input_files/fbi_twoway_obstacle.dat
  tests/input_files/locsys_beam_pointcoupling.dat
  tests/input_files/poromultielastscatra_2D_quad4_linebased_artery_coupling_vessel_collapse.dat
  tests/input_files/solid_material_prestress_iterative_spring_dashpot.4C.yaml
  tests/input_files/xfsi_3D_boxes.dat
Due: input-files, non-ascii-chars

Update Trilinos config and hash
  .github/workflows/buildtest.yml
  .github/workflows/checkcode.yml
  .github/workflows/coverage.yml
  .github/workflows/documentation.yml
  .github/workflows/nightly_tests.yml
  dependencies/current/trilinos/install.sh
  dependencies/supported_version/Trilinos.txt
  dependencies/trilinos_develop/trilinos/install.sh
Due: non-ascii-chars

Remove unnecessary default logoutput (periodic BC)
  src/constraint_framework/4C_constraint_framework_submodelevaluator_base.cpp
  src/constraint_framework/4C_constraint_framework_submodelevaluator_mpc.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Update documentation on doxygen
  doc/documentation/src/developer_guide/doxygen.rst
Due: none

Update internal package version number
  dependencies/supported_version/Trilinos.txt
Due: non-ascii-chars

Move tests to only use one processor
  tests/list_of_tests.cmake
Due: non-ascii-chars

Move TSI input to module folder
  src/inpar/4C_inpar_plasticity.cpp
  src/inpar/4C_inpar_tsi.hpp
  src/inpar/4C_inpar_validparameters.cpp
  src/mat/4C_mat_plastic_VarConstUpdate.hpp
  src/mat/4C_mat_plasticelasthyper.cpp
  src/mat/4C_mat_plasticelasthyper.hpp
  src/tsi/4C_tsi_algorithm.cpp
  src/tsi/4C_tsi_dyn.cpp
  src/tsi/4C_tsi_input.cpp
  src/tsi/4C_tsi_input.hpp
  src/tsi/4C_tsi_monolithic.cpp
  src/tsi/4C_tsi_monolithic.hpp
  src/tsi/4C_tsi_partitioned.cpp
  src/tsi/4C_tsi_partitioned.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Rename PoroMultiPhase classes
  apps/global_full/4C_global_full_cal_control.cpp
  src/adapter/4C_adapter_algorithmbase.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_adapter.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_artery_coupling.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_artery_coupling.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_clonestrategy.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_clonestrategy.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_dyn.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_dyn.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_input.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_monolithic.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_monolithic.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_monolithic_twoway.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_monolithic_twoway.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_partitioned.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_partitioned.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_partitioned_twoway.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_partitioned_twoway.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_utils.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_utils.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_utils_clonestrategy.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_base.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_monolithic_twoway.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_monolithic_twoway.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_partitioned_twoway.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused TSI define flags
  src/mat/4C_mat_damage.cpp
  src/mat/4C_mat_plasticlinelast.cpp
  src/mat/4C_mat_robinson.cpp
  src/mat/4C_mat_thermoplastichyperelast.cpp
  src/mat/4C_mat_thermoplasticlinelast.cpp
  src/thermo/src/element/4C_thermo_ele_boundary_impl.cpp
  src/thermo/src/element/4C_thermo_ele_impl.cpp
  src/thermo/src/element/4C_thermo_ele_impl.hpp
  src/tsi/4C_tsi_defines.hpp
  src/tsi/4C_tsi_monolithic.cpp
  src/tsi/4C_tsi_partitioned.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Update testing docs
  doc/documentation/src/developer_guide/developmentguide.rst
  doc/documentation/src/developer_guide/testing.rst
Due: none

Update docs on naming conventions
  doc/documentation/src/developer_guide/codingguidelines.rst
Due: none

Remove C-style typedefs for structs and enums
  src/core/io/src/legacy/4C_io_legacy_table.cpp
  src/core/io/src/legacy/4C_io_legacy_table_iter.cpp
  src/core/io/src/legacy/4C_io_legacy_table_iter.hpp
  src/fsi/src/4C_fsi_dyn.cpp
  src/inpar/4C_inpar_bio.hpp
  src/inpar/4C_inpar_fsi.hpp
  src/mat/elast/4C_mat_elast_aniso_structuraltensor_strategy.hpp
  src/post/4C_post_filter_base.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Rename method to avoid confusion
  src/fsi/src/partitioned/model_evaluator/4C_fsi_str_model_evaluator_partitioned.cpp
  src/structure_new/src/explicit/4C_structure_new_timint_explicit.cpp
  src/structure_new/src/implicit/4C_structure_new_timint_implicit.cpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_generic.cpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_generic.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove obsolete accessor
  src/structure_new/src/implicit/4C_structure_new_timint_implicit.cpp
  src/structure_new/src/implicit/4C_structure_new_timint_implicit.hpp
  src/structure_new/src/implicit/4C_structure_new_timint_implicitbase.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove obsolete group() method
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_generic.cpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_generic.hpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_singlestep.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars
