Repository sebproell/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

cpp-filename-includes:
  name: C++ file names and include style
  description: Check that all C++ files have the correct file name and include style
  language: system
  entry: utilities/python-venv/bin/check-filenames-and-includes
  args:
  - --paths
  - src/
  - unittests/
  - apps/
  - --files

cpp-include-guard:
  name: Include guards
  description: Check that all C++ files have the correct include guards
  language: python
  entry: utilities/python-venv/bin/check-header-guards

cpp-preprocessor:
  name: C++ preprocessor directives
  description: Check that all C++ files only use acceptable preprocessor directives
  language: python
  entry: utilities/python-venv/bin/check-preprocessor

input-files:
  name: Test input files
  description: Check input files conform to expectations
  language: python
  entry: utilities/python-venv/bin/check-test-files

non-ascii-chars:
  name: Non-ASCII characters
  language: system
  entry: ./utilities/code_checks/check_non_ascii_chars

Fix: Change fiber compression condition to I4 < 1 - Changed fiber compression condition to I4 < 1. - Adapted test results to reflect the changes.
  src/mixture/4C_mixture_constituent_remodelfiber_lib.hpp
  tests/input_files/mixture_prestress_isochoric_spring_dashpot.dat
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Condense all_ofs in metadata
  utilities/metadata_utils.py
Due: non-ascii-chars

Resolve one header-in-header include
  src/adapter/4C_adapter_coupling_ehl_mortar.cpp
  src/constraint/4C_constraint_penalty.cpp
  src/contact/4C_contact_interface.cpp
  src/contact/4C_contact_interface_assemble.cpp
  src/contact/4C_contact_lagrange_strategy.cpp
  src/contact/4C_contact_lagrange_strategy_poro.cpp
  src/contact/4C_contact_lagrange_strategy_tsi.cpp
  src/contact/4C_contact_lagrange_strategy_wear.cpp
  src/contact/4C_contact_manager.cpp
  src/contact/4C_contact_meshtying_manager.cpp
  src/contact/4C_contact_nitsche_strategy_ssi.cpp
  src/contact/4C_contact_penalty_strategy.cpp
  src/contact/4C_contact_tsi_interface.cpp
  src/contact/4C_contact_wear_interface.cpp
  src/contact/4C_contact_wear_interface_tools.cpp
  src/core/binstrategy/4C_binstrategy_utils.cpp
  src/core/comm/src/4C_comm_utils_factory.hpp
  src/core/fem/src/condition/4C_fem_condition_utils.cpp
  src/core/io/src/4C_io_elementreader.cpp
  src/coupling/src/adapter/4C_coupling_adapter.cpp
  src/fluid_turbulence/4C_fluid_turbulence_transfer_turb_inflow.hpp
  src/mat/4C_mat_micromaterial_evaluate.cpp
  src/particle_engine/4C_particle_engine.cpp
  src/poroelast/4C_poroelast_monolithic.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_linebased.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_nodetopoint.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_surfbased.cpp
  src/porofluid_pressure_based_ele/4C_porofluid_pressure_based_ele.cpp
  src/shell7p/4C_shell7p_utils.cpp
  src/structure/4C_structure_timint_ab2.cpp
  src/structure/4C_structure_timint_centrdiff.cpp
  src/structure/4C_structure_timint_expl.cpp
  src/structure/4C_structure_timint_expleuler.cpp
  src/structure_new/src/output/4C_structure_new_gauss_point_data_output_manager.hpp
  src/xfem/4C_xfem_xfield_field_coupling.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Validate size read from_parameter for yaml files
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Allow multiple beam contact pairs for element pair
  src/beaminteraction/src/4C_beaminteraction_conditions.cpp
  src/beaminteraction/src/4C_beaminteraction_conditions.hpp
  src/beaminteraction/src/4C_beaminteraction_contact_pair.cpp
  src/beaminteraction/src/4C_beaminteraction_contact_pair.hpp
  src/beaminteraction/src/4C_beaminteraction_submodel_evaluator_beamcontact.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Check if node definition is identical to section
  src/core/io/src/4C_io_input_file_utils.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

InputSpec: push all_of params into one_ofs
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Update to new ArborX version
  src/core/fem/src/geometric_search/4C_fem_geometric_search_access_traits.hpp
  src/core/fem/src/geometric_search/4C_fem_geometric_search_bvh.cpp
  src/core/fem/src/geometric_search/4C_fem_geometric_search_distributed_tree.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

CMake: install find modules centrally
  cmake/configure/configure_Backtrace.cmake
  cmake/configure/configure_CLN.cmake
  cmake/configure/configure_FFTW.cmake
  cmake/configure/configure_Qhull.cmake
  cmake/setup_install.cmake
Due: non-ascii-chars

CMake: Remove a duplicated file for install
  cmake/templates/4CTargets.cmake.in
Due: non-ascii-chars

CMake: don't be overly specific for install paths
  cmake/configure/configure_ArborX.cmake
  cmake/configure/configure_MIRCO.cmake
  cmake/configure/configure_magic_enum.cmake
  cmake/configure/configure_ryml.cmake
Due: non-ascii-chars

Update path of FOUR_C_ARBORX_ROOT
  cmake/configure/configure_ArborX.cmake
Due: non-ascii-chars

Remove unused matrix split method
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_manipulation.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_manipulation.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Update docs on configuration
  doc/documentation/installation.rst
Due: none

Update docs with supported dependency versions
  doc/documentation/installation.rst
Due: none

Clean up boost dependency
  apps/create_rtdfiles/4C_create_rtdfiles_utils.cpp
  apps/create_rtdfiles/4C_create_rtdfiles_wrapper.cpp
  cmake/configure/configure_Boost.cmake
  src/constraint_framework/4C_constraint_framework_submodelevaluator_mpc.hpp
  src/core/linalg/src/sparse/4C_linalg_view.hpp
  src/core/utils/src/string_utils/4C_utils_string.cpp
  src/core/utils/src/string_utils/4C_utils_string.hpp
  src/cut/4C_cut_find_cycles.hpp
  src/cut/4C_cut_pointgraph.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove not needed namespace open and close
  src/core/fem/src/geometric_search/4C_fem_geometric_search_access_traits.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add post setup call to StructPoro material
  src/mat/4C_mat_structporo.cpp
  src/mat/4C_mat_structporo.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add Google Benchmark for benchmark testing
  cmake/functions/four_c_auto_define_benchmark_tests.cmake
  cmake/setup_tests.cmake
  src/core/linalg/benchmark_tests/4C_linalg_tensor_benchmark.cpp
  src/core/linalg/benchmark_tests/CMakeLists.txt
  src/core/linalg/src/dense/4C_linalg_tensor.hpp
  tests/benchmark_tests/4C_benchmark_tests_main.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Update IMCS cluster preset
  presets/imcs/cluster/CMakePresets.json
Due: non-ascii-chars

Add scatra function cylinder magnet
  src/core/utils/src/functions/4C_utils_function.hpp
  src/global_legacy_module/4C_global_legacy_module.cpp
  src/scatra/4C_scatra_functions.cpp
  src/scatra/4C_scatra_functions.hpp
  src/scatra/4C_scatra_timint_implicit.cpp
  src/scatra/4C_scatra_timint_implicit.hpp
  src/scatra_ele/4C_scatra_ele_calc.cpp
  tests/input_files/scatra_2D_external_force_magnet.4C.yaml
  tests/list_of_tests.cmake
  unittests/CMakeLists.txt
  unittests/scatra/4C_scatra_functions_test.cpp
  unittests/scatra/CMakeLists.txt
  utilities/metadata_utils.py
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix bug in --to-yaml
  apps/global_full/4C_global_full_main.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Use our yaml wrapper to emit yaml
  src/core/io/src/4C_io_input_spec.cpp
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/src/4C_io_yaml.cpp
  src/core/io/src/4C_io_yaml.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add zlib as dependecy
  CMakeLists.txt
  cmake/configure/configure_ZLIB.cmake
  cmake/setup_install.cmake
  cmake/templates/4CConfig.cmake.in
  cmake/templates/4CSettings.cmake.in
  cmake/templates/ZLIB.cmake.in
Due: non-ascii-chars

Switch ssti input files from dat to yaml
  tests/input_files/ssti_mono_3D_2blocks_elch_temp_dep_diff.4C.yaml
  tests/input_files/ssti_mono_3D_2blocks_elch_temp_dep_diff.dat
  tests/input_files/ssti_mono_3D_3hex8_elch_s2i_butlervolmerthermo_growthlaw.4C.yaml
  tests/input_files/ssti_mono_3D_3hex8_elch_s2i_butlervolmerthermo_growthlaw.dat
  tests/input_files/ssti_mono_3D_6hex8_elch_s2i_butlervolmerthermo_BGS-AMG_3x3.4C.yaml
  tests/input_files/ssti_mono_3D_6hex8_elch_s2i_butlervolmerthermo_BGS-AMG_3x3.dat
  tests/input_files/ssti_mono_3D_6hex8_elch_s2i_butlervolmerthermo_cycling.4C.yaml
  tests/input_files/ssti_mono_3D_6hex8_elch_s2i_butlervolmerthermo_cycling.dat
  tests/input_files/ssti_mono_3D_tet4_batt_with_anode_plate_and_current_collectors_elch_s2i_butlervolmer_BGS_AMG_11x11.4C.yaml
  tests/input_files/ssti_mono_3D_tet4_batt_with_anode_plate_and_current_collectors_elch_s2i_butlervolmer_BGS_AMG_11x11.dat
  tests/list_of_tests.cmake
Due: input-files, non-ascii-chars

Let --to-yaml correctly resolve relative paths
  apps/global_full/4C_global_full_main.cpp
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_file.hpp
  src/core/io/src/4C_io_yaml.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Usage of converged mechanical state for pseudo
  src/scatra_ele/4C_scatra_ele_boundary_calc.cpp
  src/ssi/4C_ssi_base.cpp
  src/ssi/4C_ssi_str_model_evaluator_base.cpp
  src/ssi/4C_ssi_str_model_evaluator_base.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_generic.hpp
  tests/input_files/ssi_mono_3D_hex8_battery_with_current_collectors_elch_s2i_pseudo_contact.dat
  tests/input_files/ssi_mono_3D_hex8_scatra_s2i_constperm_pseudo_contact.dat
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Docker: don't use a separate image for deal.II
  .github/workflows/buildtest.yml
  .github/workflows/checkcode.yml
  .github/workflows/coverage.yml
  .github/workflows/docker.yml
  .github/workflows/documentation.yml
  .github/workflows/nightly_tests.yml
  dependencies/current/dealii/install.sh
  docker/dependencies/Dockerfile
  docker/dependencies_dealii/Dockerfile
  docker/dependencies_dealii/compute_dependencies_hash.sh
Due: non-ascii-chars

Let pre_exodus write yaml files
  apps/pre_exodus/4C_pre_exodus.cpp
  apps/pre_exodus/4C_pre_exodus_writedat.cpp
  apps/pre_exodus/4C_pre_exodus_writedat.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove default.head
  apps/pre_exodus/4C_pre_exodus.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Cleanup of dat references in pre_exodus
  apps/pre_exodus/4C_pre_exodus.cpp
  apps/pre_exodus/4C_pre_exodus_readbc.cpp
  apps/pre_exodus/4C_pre_exodus_readbc.hpp
  apps/pre_exodus/4C_pre_exodus_validate.cpp
  apps/pre_exodus/4C_pre_exodus_validate.hpp
  apps/pre_exodus/4C_pre_exodus_writedat.cpp
  apps/pre_exodus/4C_pre_exodus_writedat.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Convert tutorial tests to yaml
  cmake/functions/four_c_testing_functions.cmake
  tests/framework-test/tutorial_battery.head
  tests/framework-test/tutorial_contact_3d.head
  tests/framework-test/tutorial_fluid.head
  tests/framework-test/tutorial_fsi.head
  tests/framework-test/tutorial_fsi_3d.head
  tests/framework-test/tutorial_solid.head
Due: non-ascii-chars

Remove test of default.head in pre_exodus
  cmake/functions/four_c_testing_functions.cmake
  tests/list_of_tests.cmake
Due: non-ascii-chars

Remove an unused member
  src/structure/4C_structure_timint.cpp
  src/structure/4C_structure_timint.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove various helpers to dump dat style content
  apps/create_rtdfiles/4C_create_rtdfiles_utils.cpp
  apps/global_full/4C_global_full_inp_control.cpp
  apps/global_full/4C_global_full_main.cpp
  src/core/fem/src/general/element/4C_fem_general_element_definition.cpp
  src/core/fem/src/general/element/4C_fem_general_element_definition.hpp
  src/core/io/src/4C_io_input_file_utils.cpp
  src/core/io/src/4C_io_input_file_utils.hpp
  src/global_data/4C_global_data.cpp
  src/global_data/4C_global_data.hpp
  src/inpar/4C_inpar_validconditions.cpp
  src/inpar/4C_inpar_validconditions.hpp
  src/inpar/4C_inpar_validparameters.cpp
  src/inpar/4C_inpar_validparameters.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Delete gmsh related to beaminteraction and to beamcontact
  src/beamcontact/4C_beamcontact_beam3contact_manager.cpp
  src/beamcontact/4C_beamcontact_beam3contact_manager.hpp
  src/beamcontact/4C_beamcontact_beam3tosolidcontact.cpp
  src/beamcontact/4C_beamcontact_beam3tosolidcontact.hpp
  src/beamcontact/4C_beamcontact_input.cpp
  src/beamcontact/4C_beamcontact_input.hpp
  src/beamcontact/4C_beamcontact_str_model_evaluator_beaminteraction_old.cpp
  src/beaminteraction/src/4C_beaminteraction_beam_to_beam_contact_defines.hpp
  src/structure/4C_structure_timint.cpp
  src/structure/4C_structure_timint_impl.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Rewrite a loop
  src/core/binstrategy/4C_binstrategy_utils.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Add option for undefined behavior sanitizer
  cmake/setup_global_options.cmake
Due: non-ascii-chars

Enable UBSAN in nightly sanitizers
  presets/docker/CMakePresets.json
Due: non-ascii-chars

HACK: run nightly in fork
  .github/workflows/nightly_tests.yml
Due: non-ascii-chars

Path conditions:
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/|mm$
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$
