Repository sebproell/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Path conditions:
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/|mm$
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$

Update Merge -> Pull Request in Template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/pull_request_template.md
Due: none

Enable all sections in JSON schema
  apps/global_full/CMakeLists.txt
  cmake/python/requirements.txt
  utilities/create_json_schema.py
  utilities/metadata_utils.py
Due: non-ascii-chars

Use Noneable for MAT in bele3
  src/bele/4C_bele_bele3.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove CONTACT_REGULARIZATION
  src/contact/4C_contact_abstract_data_container.cpp
  src/contact/4C_contact_abstract_data_container.hpp
  src/contact/4C_contact_abstract_strategy.cpp
  src/contact/4C_contact_abstract_strategy.hpp
  src/contact/4C_contact_lagrange_strategy.cpp
  src/contact/4C_contact_lagrange_strategy.hpp
  src/contact/4C_contact_manager.cpp
  src/contact/4C_contact_strategy_factory.cpp
  src/inpar/4C_inpar_contact.cpp
  src/inpar/4C_inpar_contact.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove .required = false in elements
  src/mat/4C_mat_anisotropy.cpp
  src/mat/4C_mat_anisotropy_cylinder_coordinate_system_manager.cpp
  src/mat/4C_mat_anisotropy_utils.cpp
  src/mat/4C_mat_constraintmixture.cpp
  src/mat/4C_mat_crystal_plasticity.cpp
  src/mat/4C_mat_growthremodel_elasthyper.cpp
  src/mat/4C_mat_membrane_active_strain.cpp
  src/mat/4C_mat_myocard.cpp
  src/mat/4C_mat_plasticelasthyper.cpp
  src/mat/4C_mat_viscoanisotropic.cpp
  src/mat/elast/4C_mat_elast_coupanisoneohooke.cpp
  src/mat/elast/4C_mat_elast_coupanisoneohooke_VarProp.cpp
  src/mat/elast/4C_mat_elast_coupanisopow.cpp
  src/mat/elast/4C_mat_elast_couptransverselyisotropic.cpp
  src/mat/elast/4C_mat_elast_isoanisoexpo.cpp
  src/mat/elast/4C_mat_elast_summand.cpp
  src/membrane/4C_membrane_eletypes.cpp
  src/scatra_ele/4C_scatra_ele.cpp
  src/shell7p/4C_shell7p_ele.cpp
  src/shell7p/4C_shell7p_ele_scatra.cpp
  src/so3/4C_so3_hex27.cpp
  src/so3/4C_so3_hex8.cpp
  src/so3/4C_so3_poro.cpp
  src/so3/4C_so3_poro_eletypes.cpp
  src/so3/4C_so3_sh8.cpp
  src/so3/4C_so3_tet10.cpp
  src/so3/4C_so3_tet4.cpp
  src/solid_3D_ele/4C_solid_3D_ele.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based.cpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele.cpp
  src/w1/4C_w1_poro.cpp
  src/w1/4C_w1_poro_eletypes.cpp
  unittests/mat/4C_inelastic_defgrad_factors_test.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove unused STRENGTH and GROWTHTRIG parameters
  src/so3/4C_so3_hex27.cpp
  src/so3/4C_so3_hex8.cpp
  src/so3/4C_so3_sh8.cpp
  src/so3/4C_so3_tet10.cpp
  src/so3/4C_so3_tet4.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Make an elemag parameter required
  src/inpar/4C_inpar_elemag.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Make shell type required
  src/shell7p/4C_shell7p_ele_scatra.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Make SPC a required parameter
  src/elemag/4C_elemag_diff_ele.cpp
  src/elemag/4C_elemag_ele.cpp
  src/fluid_ele/4C_fluid_ele_hdg.cpp
  src/fluid_ele/4C_fluid_ele_hdg_weak_comp.cpp
  src/scatra_ele/4C_scatra_ele_hdg.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Make BOOLEANTYPE required
  src/inpar/4C_inpar_xfem.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Make TAG a required parameter
  src/inpar/4C_inpar_xfem.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Use Noneable for function COMPONENT
  src/core/utils/src/functions/4C_utils_function.cpp
  src/core/utils/src/functions/4C_utils_function_manager.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Make NUMCONSTANTS and CONSTANTS defaulted
  src/core/utils/src/functions/4C_utils_function_manager.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Clean up red airways optional input parameters
  src/mat/4C_mat_maxwell_0d_acinus_DoubleExponential.cpp
  src/mat/4C_mat_maxwell_0d_acinus_Exponential.cpp
  src/mat/4C_mat_maxwell_0d_acinus_Ogden.cpp
  src/red_airways/4C_red_airways_acinus.cpp
  src/red_airways/4C_red_airways_airway.cpp
  src/red_airways/4C_red_airways_elem_params.hpp
  src/red_airways/4C_red_airways_input.cpp
  tests/input_files/red_airway_1airway_acinus_collapsible.dat
  tests/input_files/red_airway_2_acinus_of_3Exponential_alveolar_ducts.dat
  tests/input_files/red_airway_3airway_2acinus_awacinter.dat
  tests/input_files/red_airway_5000_airway_acinus_collapsible.dat
  tests/input_files/red_airway_acinus_VolumetricOgden.dat
  tests/input_files/red_airway_acinus_VolumetricOgden_prestress.dat
  tests/input_files/red_airway_acinus_inter_acinar.dat
  tests/input_files/red_airway_acinus_inter_acinar_box.dat
  tests/input_files/red_airway_acinus_of_3Exponential_alveolar_ducts.dat
  tests/input_files/red_airway_acinus_switchFlowPressureBC.dat
  tests/input_files/red_airway_acinus_volumedep_Ppl.dat
  tests/input_files/red_airway_one_acinus_DoubleExponential.dat
  tests/input_files/red_airway_one_acinus_Exponential.dat
  tests/input_files/red_airway_one_acinus_NeoHookean.dat
  tests/input_files/reduced_lung_3_aw_2_tu.dat
  tests/input_files/reduced_lung_terminal_unit.dat
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Add input specs to poromultiphasescatra functions
  src/poromultiphase_scatra/4C_poromultiphase_scatra_function.cpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_function.hpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_function_parameters.cpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_function_parameters.hpp
  tests/input_files/poromultielastscatra_2D_quad4_linebased_artery_coupling_vessel_collapse.dat
  tests/input_files/poromultielastscatra_2D_quad4_linebased_artery_coupling_vessel_collapse_free_hanging.dat
  tests/input_files/poromultielastscatra_2D_quad4_tumor_angiogenesis.dat
  unittests/poromultiphase_scatra/4C_poromultiphase_scatra_function_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Remove .required = false in result tests
  src/core/utils/src/result_test/4C_utils_result_test.cpp
  src/global_legacy_module/4C_global_legacy_module.cpp
  src/structure_new/src/utils/4C_structure_new_resulttest.cpp
  src/structure_new/src/utils/4C_structure_new_resulttest.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove .required = false in materials
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/mat/4C_mat_fluidporo_singlephase.cpp
  src/mat/4C_mat_scatra_reaction.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove .required = false for INCLUDES section
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/tests/test_files/yaml_includes/main.yaml
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove unused interpolate_porosity_to_given_point
  src/so3/4C_so3_poro.hpp
  src/so3/4C_so3_poro_p1_evaluate.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove specialized method from solid poro
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_calc_lib.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix problems in input of solid_poro
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_calc_lib.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add 4C Community description
  doc/readthedocs/4Ccommunity.rst
  doc/readthedocs/community_roles.rst
  doc/readthedocs/developer_life_cycle.rst
  doc/readthedocs/index.rst
Due: none

Remove .required option for parameter
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Make all parameter types noneable
  utilities/create_json_schema.py
  utilities/metadata_utils.py
Due: non-ascii-chars

Remove ScaTraEleCalcRefConcReac
  src/fs3i/4C_fs3i.cpp
  src/inpar/4C_inpar_scatra.cpp
  src/inpar/4C_inpar_scatra.hpp
  src/membrane/4C_membrane_scatra.cpp
  src/scatra_ele/4C_scatra_ele_boundary_calc_refconc_reac.cpp
  src/scatra_ele/4C_scatra_ele_boundary_calc_refconc_reac.hpp
  src/scatra_ele/4C_scatra_ele_boundary_evaluate.cpp
  src/scatra_ele/4C_scatra_ele_boundary_factory.cpp
  src/scatra_ele/4C_scatra_ele_calc_refconc_reac.cpp
  src/scatra_ele/4C_scatra_ele_calc_refconc_reac.hpp
  src/scatra_ele/4C_scatra_ele_calc_utils.cpp
  src/scatra_ele/4C_scatra_ele_evaluate.cpp
  src/scatra_ele/4C_scatra_ele_factory.cpp
  src/scatra_ele/4C_scatra_ele_input.cpp
  src/shell7p/4C_shell7p_ele_scatra.cpp
  src/so3/4C_so3_poro_p1_scatra.cpp
  src/so3/4C_so3_poro_scatra.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_utils.hpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele_lib.cpp
  src/ssi/4C_ssi_partitioned_2wc.cpp
  src/w1/4C_w1_poro_p1_scatra.cpp
  src/w1/4C_w1_poro_scatra.cpp
  src/w1/4C_w1_scatra.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove ScaTraHDGIntFaceImplInterface
  src/scatra_ele/4C_scatra_ele_hdg.cpp
  src/scatra_ele/4C_scatra_ele_hdg_intfaces_calc.cpp
  src/scatra_ele/4C_scatra_ele_hdg_intfaces_calc.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Actually set time in varfunctions
  src/mat/4C_mat_list_reactions.cpp
  src/mat/4C_mat_list_reactions.hpp
  src/mat/4C_mat_scatra_reaction_coupling.cpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_artery_coupling_pair.cpp
  src/scatra_ele/4C_scatra_ele_calc_advanced_reaction.cpp
  src/scatra_ele/4C_scatra_ele_calc_multiporo_reac.cpp
  tests/input_files/poromultielastscatra_2D_quad4_hyperthermia.dat
  tests/input_files/scatra_2D_external_force.dat
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Rename Internal::EntrySpec to ParameterSpec
  src/core/io/src/4C_io_input_spec_builders.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Use variant with monostate instead of optional
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/inpar/4C_inpar_xfem.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

InputSpec: optional parameters have empty default
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
  src/core/utils/src/functions/4C_utils_function_manager.cpp
  src/fluid_ele/4C_fluid_ele_hdg.cpp
  src/fluid_ele/4C_fluid_ele_hdg_weak_comp.cpp
  src/global_legacy_module/4C_global_legacy_module.cpp
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/inpar/4C_inpar_beampotential.cpp
  src/inpar/4C_inpar_fluid.cpp
  src/inpar/4C_inpar_mortar.cpp
  src/inpar/4C_inpar_solver.cpp
  src/inpar/4C_inpar_solver_nonlin.cpp
  src/membrane/4C_membrane_eletypes.cpp
  src/red_airways/4C_red_airways_acinus.cpp
  src/red_airways/4C_red_airways_airway.cpp
  src/scatra_ele/4C_scatra_ele.cpp
  src/scatra_ele/4C_scatra_ele_hdg.cpp
  src/shell7p/4C_shell7p_ele.cpp
  src/shell7p/4C_shell7p_ele_scatra.cpp
  src/so3/4C_so3_hex27.cpp
  src/so3/4C_so3_hex8.cpp
  src/so3/4C_so3_poro_eletypes.cpp
  src/so3/4C_so3_sh8.cpp
  src/so3/4C_so3_tet10.cpp
  src/so3/4C_so3_tet4.cpp
  src/solid_3D_ele/4C_solid_3D_ele.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based.cpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele.cpp
  src/w1/4C_w1_poro_eletypes.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add output compression level as optional parameter
  src/core/io/src/4C_io_visualization_parameters.cpp
  src/core/io/src/4C_io_visualization_parameters.hpp
  src/core/io/src/4C_io_visualization_writer_vtu_per_rank.cpp
  src/core/io/src/4C_io_visualization_writer_vtu_per_rank.hpp
  src/core/io/src/4C_io_vtk_writer_base.cpp
  src/core/io/src/4C_io_vtk_writer_base.hpp
  src/core/io/src/4C_io_vtu_writer.cpp
  src/core/io/src/4C_io_vtu_writer.hpp
  src/inpar/4C_inpar_IO_runtime_output.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Doc update for InputSpecs
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove artery gnuplot output
  src/art_net/4C_art_net_art_write_gnuplot.cpp
  src/art_net/4C_art_net_art_write_gnuplot.hpp
  src/art_net/4C_art_net_explicitintegration.cpp
  src/art_net/4C_art_net_explicitintegration.hpp
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_conditions.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused option from input parameter MASSLIN
  src/inpar/4C_inpar_structure.cpp
  src/inpar/4C_inpar_structure.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_structure.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Convert MassLin enum to class enum
  src/beamcontact/4C_beamcontact_beam3contact_manager.cpp
  src/inpar/4C_inpar_structure.cpp
  src/inpar/4C_inpar_structure.hpp
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
  src/structure/4C_structure_timint.cpp
  src/structure/4C_structure_timint.hpp
  src/structure/4C_structure_timint_expl.cpp
  src/structure/4C_structure_timint_genalpha.cpp
  src/structure/4C_structure_timint_impl.cpp
  src/structure/4C_structure_timint_ost.cpp
  src/structure_new/src/4C_structure_new_timint_basedataglobalstate.cpp
  src/structure_new/src/4C_structure_new_timint_basedatasdyn.cpp
  src/structure_new/src/implicit/4C_structure_new_impl_genalpha.cpp
  src/structure_new/src/implicit/4C_structure_new_impl_genalpha_liegroup.cpp
  src/structure_new/src/implicit/4C_structure_new_impl_ost.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_structure.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Generalize extract_values to accept filtered range
  src/core/fem/src/general/utils/4C_fem_general_extract_values.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Prepare p-v-based solid-poro for solid-poro-p1
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_calc_lib.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_calc_pressure_based.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_calc_pressure_velocity_based.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_calc_pressure_velocity_based.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based_evaluate.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars
