Repository sebproell/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Path conditions:
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/|mm$
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$

Activate deal.II in docker actions
  presets/docker/CMakePresets.json
Due: non-ascii-chars

Change apply mesh movement to work with
  src/elch/4C_elch_moving_boundary_algorithm.cpp
  src/fs3i/4C_fs3i_fps3i_partitioned.cpp
  src/fs3i/4C_fs3i_partitioned.cpp
  src/poroelast_scatra/4C_poroelast_scatra_base.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_base.cpp
  src/scatra/4C_scatra_timint_implicit.cpp
  src/scatra/4C_scatra_timint_implicit.hpp
  src/ssi/4C_ssi_base.cpp
  src/ssi/4C_ssi_base.hpp
  src/ssi/4C_ssi_coupling.cpp
  src/ssi/4C_ssi_coupling.hpp
  src/ssi/4C_ssi_monolithic.cpp
  src/ssi/4C_ssi_partitioned_1wc.cpp
  src/ssi/4C_ssi_partitioned_2wc.cpp
  src/ssti/4C_ssti_algorithm.cpp
  src/ssti/4C_ssti_algorithm.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

First refactoring of set_velocity_field
  src/elch/4C_elch_dyn.cpp
  src/fs3i/4C_fs3i_fps3i_partitioned.cpp
  src/levelset/4C_levelset_algorithm.hpp
  src/levelset/4C_levelset_algorithm_utils.cpp
  src/loma/4C_loma_algorithm.cpp
  src/loma/4C_loma_dyn.cpp
  src/mat/4C_mat_scatra_multiscale_gp.cpp
  src/poroelast_scatra/4C_poroelast_scatra_base.cpp
  src/scatra/4C_scatra_cardiac_monodomain_dyn.cpp
  src/scatra/4C_scatra_dyn.cpp
  src/scatra/4C_scatra_timint_elch_scl.cpp
  src/scatra/4C_scatra_timint_implicit.cpp
  src/scatra/4C_scatra_timint_implicit.hpp
  src/ssi/4C_ssi_coupling.cpp
  src/sti/4C_sti_algorithm.cpp
  src/sti/4C_sti_dyn.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move setting of convective velocity
  src/adapter/4C_adapter_scatra_fluid_coupling_algorithm.cpp
  src/elch/4C_elch_moving_boundary_algorithm.cpp
  src/fs3i/4C_fs3i_fps3i_partitioned.cpp
  src/fs3i/4C_fs3i_partitioned.cpp
  src/fs3i/4C_fs3i_partitioned_2wc.cpp
  src/loma/4C_loma_algorithm.cpp
  src/poroelast_scatra/4C_poroelast_scatra_base.cpp
  src/scatra/4C_scatra_algorithm.cpp
  src/scatra/4C_scatra_timint_implicit.cpp
  src/scatra/4C_scatra_timint_implicit.hpp
  src/ssi/4C_ssi_coupling.cpp
  src/ssti/4C_ssti_algorithm.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move setting of fine scale velocity
  src/elch/4C_elch_moving_boundary_algorithm.cpp
  src/fs3i/4C_fs3i_fps3i_partitioned.cpp
  src/fs3i/4C_fs3i_partitioned.cpp
  src/loma/4C_loma_algorithm.cpp
  src/poroelast_scatra/4C_poroelast_scatra_base.cpp
  src/scatra/4C_scatra_algorithm.cpp
  src/scatra/4C_scatra_timint_implicit.cpp
  src/scatra/4C_scatra_timint_implicit.hpp
  src/ssi/4C_ssi_coupling.cpp
  src/ssti/4C_ssti_algorithm.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Split set velocity and set acceleration
  src/elch/4C_elch_moving_boundary_algorithm.cpp
  src/fs3i/4C_fs3i_fps3i_partitioned.cpp
  src/fs3i/4C_fs3i_partitioned.cpp
  src/loma/4C_loma_algorithm.cpp
  src/poroelast_scatra/4C_poroelast_scatra_base.cpp
  src/scatra/4C_scatra_algorithm.cpp
  src/scatra/4C_scatra_timint_implicit.cpp
  src/scatra/4C_scatra_timint_implicit.hpp
  src/ssi/4C_ssi_coupling.cpp
  src/ssti/4C_ssti_algorithm.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move setting of wall shear stresses
  src/fs3i/4C_fs3i_fps3i_partitioned.cpp
  src/fs3i/4C_fs3i_partitioned.cpp
  src/scatra/4C_scatra_timint_implicit.cpp
  src/scatra/4C_scatra_timint_implicit.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move setting of pressures
  src/fs3i/4C_fs3i_fps3i_partitioned.cpp
  src/scatra/4C_scatra_timint_implicit.cpp
  src/scatra/4C_scatra_timint_implicit.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Make developer docs more pretty
  doc/documentation/CMakeLists.txt
  doc/documentation/src/_static/html_extensions.css
  doc/documentation/src/developer_guide/codingguidelines.rst
  doc/documentation/src/developer_guide/debugging_profiling.rst
  doc/documentation/src/developer_guide/developer_addedinformation.rst
  doc/documentation/src/developer_guide/developer_dirstructure.rst
  doc/documentation/src/developer_guide/developmentguide.rst
  doc/documentation/src/developer_guide/time_monitoring.rst
Due: non-ascii-chars

Internal node numbering consistent with input
  src/ale/4C_ale_resulttest.cpp
  src/art_net/4C_art_net_artery_resulttest.cpp
  src/core/fem/src/general/element/4C_fem_general_element.cpp
  src/core/fem/src/general/element/4C_fem_general_element.hpp
  src/core/io/src/4C_io_input_file_utils.cpp
  src/core/io/src/4C_io_meshreader.cpp
  src/fluid/4C_fluid_result_test.cpp
  src/fsi/src/utils/4C_fsi_resulttest.cpp
  src/lubrication/src/4C_lubrication_resulttest.cpp
  src/particle_wall/4C_particle_wall_result_test.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_resulttest.cpp
  src/post/4C_post_ensight_writer.cpp
  src/red_airways/4C_red_airways_resulttest.cpp
  src/scatra/4C_scatra_resulttest.cpp
  src/structure/4C_structure_resulttest.cpp
  src/structure_new/src/utils/4C_structure_new_resulttest.cpp
  src/thermo/src/utils/4C_thermo_resulttest.cpp
  tests/input_files/contact3D_exodus_in.4C.yaml
  tests/input_files/fluid_exodus_in.4C.yaml
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix more issues
  src/ale/4C_ale_resulttest.cpp
  src/art_net/4C_art_net_artery_resulttest.cpp
  src/core/io/src/4C_io_meshreader.cpp
  src/fluid/4C_fluid_result_test.cpp
  src/fluid_xfluid/4C_fluid_xfluid_resulttest.cpp
  src/fluid_xfluid/4C_fluid_xfluid_resulttest.hpp
  src/fsi/src/utils/4C_fsi_resulttest.cpp
  src/lubrication/src/4C_lubrication_resulttest.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_resulttest.cpp
  src/scatra/4C_scatra_resulttest.cpp
  src/structure/4C_structure_resulttest.cpp
  src/structure_new/src/utils/4C_structure_new_resulttest.cpp
  src/thermo/src/utils/4C_thermo_resulttest.cpp
  tests/input_files/xfsi_3D_boxes.dat
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Adapt particle wall numbering in test
  tests/input_files/particle_nointer_3d_pbc_x_wallboundingbox.dat
Due: input-files, non-ascii-chars

Fix fluid domain tests
  tests/input_files/f3_channel_EOS_hex8_10x10x10_quad_inflow_altgeogeneration.dat
  tests/input_files/f3_channel_EOS_wedge15_10x10x10_quad_inflow_altgeogeneration.dat
  tests/input_files/f3_forced_hit_geogen_hdg.dat
  tests/input_files/f3_kimmoin_stat_24x24x1_wedge15_pseudo2D.dat
  tests/input_files/f3_stokes_residualbased_rotboxgeom.dat
  tests/input_files/xfluid_couette_NavSlip_eps1.6_g-1.0_mu0.16_altgeogeneration_movingls_fully_weakly_verticalcut.dat
  tests/input_files/xfluid_couette_NavSlip_eps1.6_g-1.0_mu0.1_altgeogeneration.dat
  tests/input_files/xfluid_couette_NavSlip_eps1.6_g-1.0_mu0.1_altgeogeneration_wedge6.dat
  tests/input_files/xfluid_forward_facing_step_stationary_NavSlip_eps1.6_16x16_NIT_altgeogeneration.dat
  tests/input_files/xfluid_ls_neumann_inflow_stab.dat
  tests/input_files/xfluid_mesh_neumann_inflow_stab.dat
  tests/input_files/xfluid_moving_torus_NavSlip_vareps_levelset_psmoothed_8x8x16.dat
  tests/input_files/xfluid_oseen_urquiza_square_NavSlip_eps1.0_40x40_mesh_altgeogeneration.dat
  tests/input_files/xfluid_taylor_couette_NavSlip_eps1.0_25x25_krylov_levelset_altgeogeneration.dat
  tests/input_files/xfluid_taylor_couette_NavSlip_ri0.19_ro0.49_epsi1.0_epso1e-5_ti-2.5_to0.5_8x8_levelset_hex27.dat
  tests/input_files/xfpsci_twoelem_pp.dat
  tests/input_files/xfpsci_twoelem_ps.dat
  tests/input_files/xfsci_twoelem.dat
Due: input-files, non-ascii-chars

Make a check in scatra microscale independent of node numbering
  src/mat/4C_mat_scatra_multiscale_gp.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Allow Exodus mesh to take a custom start node ID
  src/core/io/src/4C_io_exodus.cpp
  src/core/io/src/4C_io_exodus.hpp
  src/core/io/tests/4C_io_exodus_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Renumber nodes from exodus input
  src/core/io/src/4C_io_meshreader.cpp
  tests/input_files/contact3D_exodus_in.4C.yaml
  tests/input_files/fluid_exodus_in.4C.yaml
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Increase the width for the discretization name
  src/core/utils/src/result_test/4C_utils_result_test.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove unused code for condition evaluation
  src/core/fem/src/discretization/4C_fem_discretization.hpp
  src/core/fem/src/discretization/4C_fem_discretization_evaluate.cpp
  src/core/fem/src/discretization/4C_fem_discretization_utils.hpp
  src/core/fem/src/discretization/4C_fem_discretization_utils_dbc.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Clang-tidy: check for uninitialized members
  .clang-tidy
Due: non-ascii-chars

Remove a NURBS input debug print
  src/core/io/src/4C_io_input_file_utils.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Merge a few evaluate calls
  src/core/fem/src/discretization/4C_fem_discretization_utils.hpp
  src/core/fem/src/discretization/4C_fem_discretization_utils_evaluate.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Expand the macro to generate MapExtractor methods
  src/ale/4C_ale_utils_mapextractor.hpp
  src/beaminteraction/src/4C_beaminteraction_calc_utils.hpp
  src/core/linalg/src/sparse/4C_linalg_mapextractor.hpp
  src/fluid/4C_fluid_utils_mapextractor.hpp
  src/fpsi/4C_fpsi_utils.hpp
  src/structure/4C_structure_aux.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Clean up MapExtractor
  src/core/linalg/src/sparse/4C_linalg_mapextractor.cpp
  src/core/linalg/src/sparse/4C_linalg_mapextractor.hpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_create.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_create.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Introduce jinja templating for tutorials
  cmake/functions/four_c_testing_functions.cmake
  doc/documentation/CMakeLists.txt
  doc/documentation/conf.py.in
  doc/documentation/python/include_yaml.py
  doc/documentation/src/tutorial_templates/tut_battery.rst.j2
  doc/documentation/src/tutorial_templates/tut_fluid_preexo.rst.j2
  doc/documentation/src/tutorial_templates/tut_fsi_preexo.rst.j2
  doc/documentation/src/tutorial_templates/tut_fsi_preexo_2d.rst.j2
  doc/documentation/src/tutorial_templates/tut_introduction.rst.j2
  doc/documentation/src/tutorial_templates/tut_solid.rst.j2
  doc/documentation/src/tutorial_templates/tutorial_contact_3d.md.j2
  doc/documentation/src/tutorial_templates/tutorials.rst
  tests/framework-test/tutorial_solid.4C.yaml
  tests/framework-test/tutorial_solid.bc
  tests/framework-test/tutorial_solid.e
  tests/framework-test/tutorial_solid.jou
  tests/framework-test/tutorial_solid_geo.e
  tests/list_of_tests.cmake
Due: non-ascii-chars

Move problematic poromultielastscatra tests to UMFPACK
  tests/input_files/poromultielastscatra_2D_quad4_linebased_artery_coupling_vessel_collapse_free_hanging.dat
  tests/input_files/poromultielastscatra_2D_quad4_nodetopoint_artery_airway_coupling_mono.dat
  tests/input_files/poromultielastscatra_3D_hex8_nodetopoint_artery_airway_coupling_mono.dat
  tests/input_files/poromultielastscatra_3D_tet10_nodetopoint_coupling_mono.dat
  tests/input_files/poromultielastscatra_3D_tet4_surfbased_artery_coupling_mono_network.dat
Due: input-files, non-ascii-chars

Fix a few poor names in DofSets
  src/cardiovascular0d/4C_cardiovascular0d_dofset.cpp
  src/constraint/4C_constraint_dofset.cpp
  src/core/fem/src/dofset/4C_fem_dofset.cpp
  src/core/fem/src/dofset/4C_fem_dofset_base.cpp
  src/core/fem/src/dofset/4C_fem_dofset_base.hpp
  src/core/fem/src/dofset/4C_fem_dofset_definedmapping_wrapper.hpp
  src/core/fem/src/dofset/4C_fem_dofset_gidbased_wrapper.hpp
  src/core/fem/src/dofset/4C_fem_dofset_independent.cpp
  src/core/fem/src/dofset/4C_fem_dofset_independent.hpp
  src/core/fem/src/dofset/4C_fem_dofset_interface.hpp
  src/core/fem/src/dofset/4C_fem_dofset_merged_wrapper.hpp
  src/core/fem/src/dofset/4C_fem_dofset_predefineddofnumber.hpp
  src/core/fem/src/dofset/4C_fem_dofset_proxy.cpp
  src/core/fem/src/dofset/4C_fem_dofset_proxy.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Adapt selected battery test results
  tests/input_files/ref/ssi_mono_3D_tet4_elch_s2i_butlervolmer_manifold-manifold_inflow.csv
  tests/input_files/ref/ssi_mono_3D_tet4_elch_s2i_butlervolmer_manifold-scatra_scalarvalues.csv
  tests/input_files/ssi_mono_3D_tet4_elch_s2i_butlervolmer_manifold.dat
  tests/input_files/ssi_mono_3D_tet4_elch_s2i_butlervolmer_manifold_BGS-AMG_11x11.dat
  tests/input_files/ssi_mono_3D_tet4_elch_s2i_butlervolmer_manifold_BGS-AMG_3x3.dat
  tests/input_files/ssi_mono_3D_tet4_elch_s2i_butlervolmer_manifold_BGS-AMG_6x6.dat
  tests/input_files/ssi_oneway_scatra_to_solid_3D_line2_elch_s2i_butlervolmer_multiscale.dat
  tests/input_files/sti_mono_3D_tet4_hex8_elch_s2i_butlervolmerpeltier_adiabatic_mortar_standard.dat
Due: input-files, non-ascii-chars

Remove unused code in Condition utils
  src/core/fem/src/condition/4C_fem_condition_utils.cpp
  src/core/fem/src/condition/4C_fem_condition_utils.hpp
  src/core/fem/src/general/utils/4C_fem_general_utils_createdis.hpp
  src/coupling/src/adapter/4C_coupling_adapter.cpp
  src/coupling/src/adapter/4C_coupling_adapter.hpp
  src/scatra/4C_scatra_utils.cpp
  src/xfem/4C_xfem_discretization_utils.cpp
  src/xfem/4C_xfem_discretization_utils.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

CMake: set cache variables for MathJax in Doxygen
  doc/doxygen/CMakeLists.txt
Due: non-ascii-chars

Fix testing tolerances
  src/core/linalg/tests/4C_linalg_utils_sparse_algebra_math_test.np2.cpp
  tests/input_files/beam3r_herm2line3_static_beam_to_solid_surface_contact_ironing_penalty_gap_variation_gauss_point_projection.dat
  tests/input_files/elch_pulseplating_hex27_moving_boundary.dat
  tests/input_files/scatra_forced_hit_mean_8x8x8.dat
  tests/input_files/sosh8_freeflying_ruler_sta_new_restart.dat
Due: cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

Remove RedAirwayTissue problem type
  apps/global_full/4C_global_full_cal_control.cpp
  apps/post_processor/4C_post_processor.cpp
  doc/documentation/src/analysis_guide/problemtypes.rst
  src/adapter/4C_adapter_str_redairway.cpp
  src/adapter/4C_adapter_str_redairway.hpp
  src/adapter/4C_adapter_str_structure.cpp
  src/adapter/4C_adapter_str_structure_new.cpp
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_conditions.cpp
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_problem_type.hpp
  src/global_data/4C_global_data_read.cpp
  src/inpar/4C_inpar_problemtype.cpp
  src/red_airways/4C_red_airways_dyn_drt.cpp
  src/red_airways/4C_red_airways_dyn_drt.hpp
  src/red_airways/4C_red_airways_implicitintegration.cpp
  src/red_airways/4C_red_airways_implicitintegration.hpp
  src/red_airways/4C_red_airways_tissue.cpp
  src/red_airways/4C_red_airways_tissue.hpp
  tests/input_files/red_airway_tissue_coupling.dat
  tests/list_of_tests.cmake
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Add changelog entry for removal of RedAirwayTissue
  doc/removed_code/major_changes.txt
Due: non-ascii-chars

Clean up internals of conditions in Discretization
  src/core/fem/src/condition/4C_fem_condition.hpp
  src/core/fem/src/discretization/4C_fem_discretization.hpp
  src/core/fem/src/discretization/4C_fem_discretization_conditions.cpp
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_conditions.cpp
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_conditions.hpp
  src/red_airways/4C_red_airways_input.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Rename TimInt class to PorofluidAlgorithm
  apps/global_full/4C_global_full_cal_control.cpp
  src/adapter/4C_adapter_porofluid_pressure_based.hpp
  src/adapter/4C_adapter_porofluid_pressure_based_wrapper.cpp
  src/adapter/4C_adapter_porofluid_pressure_based_wrapper.hpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_algorithm.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_algorithm.hpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_dyn.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_dyn.hpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_meshtying_strategy_artery.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_meshtying_strategy_artery.hpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_resulttest.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_resulttest.hpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_utils.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Port contact tutorial to direct exodus input
  doc/documentation/src/tutorial_templates/tutorial_contact_3d.md.j2
  tests/framework-test/tutorial_contact_3d.4C.yaml
  tests/framework-test/tutorial_contact_3d.bc
  tests/framework-test/tutorial_contact_3d.head
  tests/input_files/contact3D_exodus_in.exo
  tests/list_of_tests.cmake
Due: non-ascii-chars

Refactor the preconditioner reuse logic
  src/core/linear_solver/src/amgnxn/4C_linear_solver_amgnxn_preconditioner.cpp
  src/core/linear_solver/src/amgnxn/4C_linear_solver_amgnxn_preconditioner.hpp
  src/core/linear_solver/src/method/4C_linear_solver_method_iterative.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_ifpack.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_ifpack.hpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_krylovprojection.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_krylovprojection.hpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_muelu.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_muelu.hpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_teko.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_teko.hpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_type.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars
