Repository sebproell/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

cpp-filename-includes:
  name: C++ file names and include style
  description: Check that all C++ files have the correct file name and include style
  language: system
  entry: utilities/python-venv/bin/check-filenames-and-includes
  args:
  - --paths
  - src/
  - unittests/
  - apps/
  - --files

cpp-include-guard:
  name: Include guards
  description: Check that all C++ files have the correct include guards
  language: python
  entry: utilities/python-venv/bin/check-header-guards

cpp-preprocessor:
  name: C++ preprocessor directives
  description: Check that all C++ files only use acceptable preprocessor directives
  language: python
  entry: utilities/python-venv/bin/check-preprocessor

input-files:
  name: Test input files
  description: Check input files conform to expectations
  language: python
  entry: utilities/python-venv/bin/check-test-files

non-ascii-chars:
  name: Non-ASCII characters
  language: system
  entry: ./utilities/code_checks/check_non_ascii_chars

Relax tolerance for a xffsi test
  tests/input_files/xffsi_monolithic_ss_1D_interpAle_inflow_fixedstr.dat
Due: input-files, non-ascii-chars

Enhance build time analysis with ninjatracing
  .github/workflows/nightly_tests.yml
Due: non-ascii-chars

Build dependencies + deal.II image
  .github/actions/build_dependencies/action.yml
  .github/actions/check_docker_build_required/action.yml
  .github/actions/compute-and-check-dependencies-hash/action.yml
  .github/workflows/buildtest.yml
  .github/workflows/checkcode.yml
  .github/workflows/coverage.yml
  .github/workflows/docker.yml
  .github/workflows/docker_dealii.yml
  .github/workflows/documentation.yml
  .github/workflows/nightly_tests.yml
  dependencies/dealii/install.sh
  docker/dependencies/Dockerfile
  docker/dependencies_dealii/Dockerfile
  docker/dependencies_dealii/compute_dependencies_hash.sh
Due: non-ascii-chars

Update ArborX hash and adjust API
  cmake/configure/configure_ArborX.cmake
  src/core/fem/src/geometric_search/4C_fem_geometric_search_access_traits.hpp
  src/core/fem/src/geometric_search/4C_fem_geometric_search_bvh.cpp
  src/core/fem/src/geometric_search/4C_fem_geometric_search_distributed_tree.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Update ArborX root path
  cmake/configure/configure_ArborX.cmake
Due: non-ascii-chars

Upload metadata after build
  .github/workflows/buildtest.yml
Due: non-ascii-chars

Store type of spec in implementation class
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_spec.cpp
  src/core/io/src/4C_io_input_spec.hpp
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Improve error messages for yaml input
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Rework matrix functions framework
  src/core/linalg/src/dense/4C_linalg_utils_densematrix_exp_log.hpp
  src/core/linalg/src/dense/4C_linalg_utils_densematrix_funct.cpp
  src/core/linalg/src/dense/4C_linalg_utils_densematrix_funct.hpp
  src/core/linalg/tests/4C_linalg_utils_densematrix_exp_log_test.cpp
  src/core/linalg/tests/4C_linalg_utils_densematrix_funct_test.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
  src/mat/4C_mat_plastic_VarConstUpdate.cpp
  src/mat/4C_mat_plasticelasthyper.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix: smaller comments from PR
  src/core/linalg/src/dense/4C_linalg_utils_densematrix_exp_log.cpp
  src/core/linalg/src/dense/4C_linalg_utils_densematrix_funct.cpp
  src/core/linalg/src/dense/4C_linalg_utils_densematrix_funct.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Revise optionality of input parameters
  src/core/linalg/src/dense/4C_linalg_utils_densematrix_funct.cpp
  src/core/linalg/src/dense/4C_linalg_utils_densematrix_funct.hpp
  src/core/linalg/tests/4C_linalg_utils_densematrix_funct_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Rebase on the current main
  src/core/linalg/src/dense/4C_linalg_utils_densematrix_funct.cpp
  src/core/linalg/tests/4C_linalg_utils_densematrix_funct_test.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Clean up installation docs
  doc/documentation/installation.rst
Due: none

Update docs on configuration
  doc/documentation/installation.rst
Due: none

Update docs with supported dependency versions
  doc/documentation/installation.rst
Due: none

CMake: supported versions of a dependency
  CMakeLists.txt
  apps/global_full/4C_global_full_main.cpp
  cmake/configure/configure_Trilinos.cmake
  cmake/functions/four_c_configure_dependency.cmake
  cmake/functions/four_c_get_trilinos_version.cmake
  dependencies/supported_version/Trilinos.txt
  src/config/4C_config_trilinos_version.hpp.in
  src/config/CMakeLists.txt
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

CI: compile with no optional dependencies
  .github/workflows/buildtest.yml
  .github/workflows/nightly_tests.yml
  cmake/functions/four_c_configure_dependency.cmake
  presets/docker/CMakePresets.json
Due: non-ascii-chars

Update MIRCO shape factors and git hash #399
  cmake/configure/configure_MIRCO.cmake
  src/contact_constitutivelaw/4C_contact_constitutivelaw_mirco_contactconstitutivelaw.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Warn when using a dat file in a 4C run
  apps/global_full/4C_global_full_control.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove a few InputParameterContainer includes
  apps/post_monitor/4C_post_monitor.hpp
  src/ale/4C_ale_resulttest.cpp
  src/art_net/4C_art_net_artery_resulttest.cpp
  src/core/fem/src/general/element/4C_fem_general_element.hpp
  src/core/io/src/4C_io_gridgenerator.cpp
  src/core/utils/src/result_test/4C_utils_result_test.cpp
  src/core/utils/src/result_test/4C_utils_result_test.hpp
  src/fsi/src/utils/4C_fsi_resulttest.cpp
  src/lubrication/src/4C_lubrication_resulttest.cpp
  src/membrane/4C_membrane_scatra.cpp
  src/particle_algorithm/4C_particle_algorithm_result_test.cpp
  src/particle_rigidbody/4C_particle_rigidbody_result_test.cpp
  src/particle_wall/4C_particle_wall_result_test.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_resulttest.cpp
  src/red_airways/4C_red_airways_resulttest.cpp
  src/rigidsphere/4C_rigidsphere_input.cpp
  src/solid_3D_ele/4C_solid_3D_ele_line.cpp
  src/ssti/4C_ssti_resulttest.cpp
  src/sti/4C_sti_resulttest.cpp
  src/structure/4C_structure_resulttest.cpp
  src/structure_new/src/utils/4C_structure_new_resulttest.cpp
  src/thermo/src/utils/4C_thermo_resulttest.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove calculation of composite poisson's ratio
  src/contact_constitutivelaw/4C_contact_constitutivelaw_mirco_contactconstitutivelaw.cpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_mirco_contactconstitutivelaw.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix enum printing via magic_enum
  src/core/io/src/4C_io_input_parameter_container.hpp
  src/core/io/src/4C_io_input_parameter_container.templates.hpp
  src/core/io/tests/4C_io_input_parameter_container_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add global Kokkos scopeguard for unit testing
  src/core/fem/tests/geometric_search/4C_fem_geometric_search_distributed_test.np3.cpp
  src/core/fem/tests/geometric_search/4C_fem_geometric_search_test.cpp
  unittests/4C_gtest_main_mpi_test.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Update MIRCO pressure based unittest
  unittests/contact_constitutivelaw/4C_mirco_pressure_contactconstitutivelaw_test.threads2.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Replace CMAKE with PROJECT dirs
  apps/global_full/CMakeLists.txt
  cmake/configure/configure_ArborX.cmake
  cmake/configure/configure_Backtrace.cmake
  cmake/configure/configure_Boost.cmake
  cmake/configure/configure_CLN.cmake
  cmake/configure/configure_FFTW.cmake
  cmake/configure/configure_HDF5.cmake
  cmake/configure/configure_MIRCO.cmake
  cmake/configure/configure_MPI.cmake
  cmake/configure/configure_Qhull.cmake
  cmake/configure/configure_Trilinos.cmake
  cmake/configure/configure_magic_enum.cmake
  cmake/configure/configure_ryml.cmake
  cmake/functions/four_c_auto_define_module.cmake
  cmake/functions/four_c_auto_define_tests.cmake
  cmake/python/set_up_python.cmake
  cmake/setup_install.cmake
  cmake/setup_tests.cmake
Due: non-ascii-chars

Check filename before reading file in --to-yaml
  apps/global_full/4C_global_full_main.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Modify unit test for enum printing
  src/core/io/tests/4C_io_input_parameter_container_test.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Fix starting-dbc test
  tests/input_files/poromultielastscatra_2D_quad4_starting_dbc.dat
Due: input-files, non-ascii-chars

Remove SectionSpecs helper struct
  src/core/utils/src/parameters/4C_utils_parameter_list.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

First step of removing optional from solidscatra
  src/contact/4C_contact_nitsche_integrator_ssi.cpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele.hpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele_calc.cpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele_calc.hpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele_calc_lib_nitsche.hpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele_evaluate.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix ssi_twoway tests
  tests/input_files/ssi_twoway_3D_1hex8_scatra.dat
  tests/input_files/ssi_twoway_3D_1hex8_scatra_linaniso_growthlaw.dat
  tests/input_files/ssi_twoway_3D_2blocks_hex8_nonmatching_nitsche_contact_scatra_s2i_constperm.dat
  tests/input_files/ssi_twoway_3D_2blocks_hex8_nonmatching_nitsche_contact_scatra_s2i_linearperm.dat
  tests/input_files/ssi_twoway_3D_2hex8_scatra_s2i_constperm.dat
  tests/input_files/ssi_twoway_3D_3hex8_elch_s2i_butlervolmer_linaniso_liniso_growthlaw.dat
  tests/input_files/ssi_twoway_3D_hex8_scatra_s2i_constperm_pseudo_contact.dat
  tests/input_files/ssi_twoway_3D_line2_elch_s2i_butlervolmer_multiscale.dat
  tests/input_files/ssi_twoway_3D_tet4_elch_s2i_butlervolmer.dat
  tests/input_files/ssi_twoway_3D_tet4_elch_s2i_butlervolmer_cycling.dat
  tests/input_files/ssi_twoway_scatratosolid_aitken_3D_1hex8_scatra.dat
  tests/input_files/ssi_twoway_scatratosolid_fixedrelax_3D_1hex8_scatra.dat
  tests/input_files/ssi_twoway_solidtoscatra_aitken_3D_1hex8_scatra.dat
  tests/input_files/ssi_twoway_solidtoscatra_fixedrelax_3D_1hex8_scatra.dat
Due: input-files, non-ascii-chars

Only communicate the scatra state to
  src/ssi/4C_ssi_base.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Implement Tensor class with arbitrary rank
  src/core/linalg/src/dense/4C_linalg_fixedsizematrix.hpp
  src/core/linalg/src/dense/4C_linalg_tensor.hpp
  src/core/linalg/src/dense/4C_linalg_tensor_meta_utils.hpp
  src/core/linalg/tests/4C_linalg_tensor_operations_test.cpp
  src/core/linalg/tests/4C_linalg_tensor_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Constexpr fixed size matrix operations
  src/core/linalg/src/dense/4C_linalg_fixedsizematrix.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Path conditions:
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/|mm$
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$
