Repository sebproell/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

cpp-filename-includes:
  name: C++ file names and include style
  description: Check that all C++ files have the correct file name and include style
  language: system
  entry: utilities/python-venv/bin/check-filenames-and-includes
  args:
  - --paths
  - src/
  - unittests/
  - apps/
  - --files

cpp-include-guard:
  name: Include guards
  description: Check that all C++ files have the correct include guards
  language: python
  entry: utilities/python-venv/bin/check-header-guards

cpp-preprocessor:
  name: C++ preprocessor directives
  description: Check that all C++ files only use acceptable preprocessor directives
  language: python
  entry: utilities/python-venv/bin/check-preprocessor

input-files:
  name: Test input files
  description: Check input files conform to expectations
  language: python
  entry: utilities/python-venv/bin/check-test-files

non-ascii-chars:
  name: Non-ASCII characters
  language: system
  entry: ./utilities/code_checks/check_non_ascii_chars

Move from Amesos to Amesos2
  .typos.toml
  src/core/linear_solver/src/method/4C_linear_solver_method_direct.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method_direct.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Adjust tolerance of some tests
  tests/input_files/ehl2D_block_sqz.dat
  tests/input_files/ehl3D_block_sqz.dat
  tests/input_files/elch_Kwok_Wu_BDF2.dat
  tests/input_files/elch_pulseplating_hex27_moving_boundary.dat
  tests/input_files/fsi_fp_mono_ss_ga_ga.dat
  tests/input_files/patch_test_cube_h27_linear_test_react.dat
  tests/input_files/sti_mono_2D_quad4_elch_s2i_butlervolmerpeltier_diabatic_AMG_pointbased.dat
  tests/list_of_tests.cmake
Due: input-files, non-ascii-chars

Port fluid tutorial to direct exodus input
  doc/documentation/src/tutorial_templates/tut_fluid_preexo.rst.j2
  tests/framework-test/tutorial_fluid.4C.yaml
  tests/input_files/fluid_exodus_in.exo
  tests/list_of_tests.cmake
Due: non-ascii-chars

Add FE_Graph capability
  src/core/fem/src/discretization/4C_fem_discretization_partition.cpp
  src/core/fem/src/dofset/4C_fem_dofset.cpp
  src/core/linalg/src/sparse/4C_linalg_graph.cpp
  src/core/linalg/src/sparse/4C_linalg_graph.hpp
  src/core/rebalance/src/4C_rebalance_graph_based.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Minor improvement to LinAlg::View
  src/core/linalg/src/sparse/4C_linalg_multi_vector.hpp
  src/core/linalg/src/sparse/4C_linalg_vector.hpp
  src/core/linalg/src/sparse/4C_linalg_view.hpp
  src/fsi/src/monolithic/nonlinear_solver/4C_fsi_nox_linearsystem.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_linearsystem.cpp
  src/structure/4C_structure_timint_noxlinsys.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove Ifpack definition for tests using UMFPACK
  tests/input_files/fpsi_ofsiinterface.dat
  tests/input_files/fsi_ow3D_mtr_drt.dat
  tests/input_files/homogenized-constrained-mixture-cyl-aniso-impl-nofibdir.dat
  tests/input_files/poromultielastscatra_2D_quad4_part.dat
  tests/input_files/poromultielastscatra_2D_quad4_part_reaction.dat
  tests/input_files/scatra_transport_neumann.dat
  tests/input_files/scatra_transport_neumann_lin.dat
  tests/input_files/scatra_transport_neumann_local.dat
  tests/input_files/xff_beltrami_Div.dat
  tests/input_files/xff_beltrami_MomMom.dat
  tests/input_files/xff_beltrami_TesTes.dat
  tests/input_files/xff_beltrami_TesTes_NIT_embedded_evp.dat
  tests/input_files/xff_beltrami_TesTes_NIT_embedded_hk_ele_vol_div_by_ele_surf.dat
  tests/input_files/xff_beltrami_TesTes_NIT_embedded_hk_vol_equivalent.dat
  tests/input_files/xff_channel_simple_stat.dat
  tests/input_files/xff_shear_flow_2D_instat_initialfield_OST.dat
  tests/input_files/xff_shear_flow_2D_instat_neumann.dat
  tests/input_files/xff_shear_flow_2D_stat_bf_Nitsche_alesided_inflowaveraged_dens_7.dat
  tests/input_files/xff_shear_flow_2D_stat_neum_moredofs_circ_Nitsche_alesided.dat
  tests/input_files/xff_shear_flow_2D_stat_neum_moredofs_circ_Nitsche_alesided_inflowaveraged.dat
  tests/input_files/xff_shear_flow_2D_stat_neum_moredofs_circ_Nitsche_xsided.dat
  tests/input_files/xff_shear_flow_2D_stat_neum_moredofs_circ_Nitsche_xsidedDiv.dat
  tests/input_files/xff_shear_flow_2D_stat_neum_moredofs_circ_Nitsche_xsided_inflowstab_onesided.dat
  tests/input_files/xff_shear_flow_2D_stat_neumann.dat
  tests/input_files/xff_shear_flow_2D_stat_neumann_hex20.dat
  tests/input_files/xff_shear_flow_2D_stat_neumann_hex20_Div.dat
  tests/input_files/xff_shear_flow_2D_stat_neumann_inflowstab_onesided.dat
  tests/input_files/xff_shear_flow_2D_stat_neumann_moredofset_circle.dat
  tests/input_files/xff_shear_flow_2D_stat_neumann_moredofset_quad.dat
  tests/input_files/xff_shear_flow_stat.dat
  tests/input_files/xfluid_shearflow_2D_OST_theta1_16x16x1_ale_zerodisp.dat
Due: input-files, non-ascii-chars

Remove iterative solver parameters for UMFPACK
  tests/input_files/scatra_transport_neumann.dat
  tests/input_files/scatra_transport_neumann_lin.dat
  tests/input_files/scatra_transport_neumann_local.dat
  tests/input_files/xff_beltrami_Div.dat
  tests/input_files/xff_beltrami_MomMom.dat
  tests/input_files/xff_beltrami_TesTes.dat
  tests/input_files/xff_beltrami_TesTes_NIT_embedded_evp.dat
  tests/input_files/xff_beltrami_TesTes_NIT_embedded_hk_ele_vol_div_by_ele_surf.dat
  tests/input_files/xff_beltrami_TesTes_NIT_embedded_hk_vol_equivalent.dat
  tests/input_files/xff_channel_simple_stat.dat
  tests/input_files/xff_shear_flow_2D_instat_initialfield_OST.dat
  tests/input_files/xff_shear_flow_2D_instat_neumann.dat
  tests/input_files/xff_shear_flow_2D_stat_bf_Nitsche_alesided_inflowaveraged_dens_7.dat
  tests/input_files/xff_shear_flow_2D_stat_neum_moredofs_circ_Nitsche_alesided.dat
  tests/input_files/xff_shear_flow_2D_stat_neum_moredofs_circ_Nitsche_alesided_inflowaveraged.dat
  tests/input_files/xff_shear_flow_2D_stat_neum_moredofs_circ_Nitsche_xsided.dat
  tests/input_files/xff_shear_flow_2D_stat_neum_moredofs_circ_Nitsche_xsidedDiv.dat
  tests/input_files/xff_shear_flow_2D_stat_neum_moredofs_circ_Nitsche_xsided_inflowstab_onesided.dat
  tests/input_files/xff_shear_flow_2D_stat_neumann.dat
  tests/input_files/xff_shear_flow_2D_stat_neumann_hex20.dat
  tests/input_files/xff_shear_flow_2D_stat_neumann_hex20_Div.dat
  tests/input_files/xff_shear_flow_2D_stat_neumann_inflowstab_onesided.dat
  tests/input_files/xff_shear_flow_2D_stat_neumann_moredofset_circle.dat
  tests/input_files/xff_shear_flow_2D_stat_neumann_moredofset_quad.dat
  tests/input_files/xff_shear_flow_stat.dat
Due: input-files, non-ascii-chars

Move test to use Umfpack
  tests/input_files/beam3r_herm2line3_elastoplastic_axialNeum_hard.dat
Due: input-files, non-ascii-chars

Further cleanup
  src/core/linalg/src/sparse/4C_linalg_krylov_projector.cpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrixbase.hpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_print.cpp
  src/fluid_xfluid/4C_fluid_xfluid.cpp
  src/fsi/src/monolithic/4C_fsi_monolithic.cpp
  src/mortar/4C_mortar_utils.cpp
  src/mortar/4C_mortar_utils.hpp
  src/scatra/4C_scatra_timint_meshtying_strategy_s2i.cpp
  src/scatra/4C_scatra_timint_meshtying_strategy_s2i.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Simplify ConditionSelector classes into a function
  src/ale/4C_ale_utils_mapextractor.cpp
  src/core/fem/src/condition/4C_fem_condition_selector.cpp
  src/core/fem/src/condition/4C_fem_condition_selector.hpp
  src/core/fem/src/condition/4C_fem_condition_utils.cpp
  src/core/fem/src/condition/4C_fem_condition_utils.hpp
  src/fluid/4C_fluid_utils_mapextractor.cpp
  src/fpsi/4C_fpsi_coupling.cpp
  src/fpsi/4C_fpsi_utils.cpp
  src/fs3i/4C_fs3i_fps3i_partitioned.cpp
  src/fs3i/4C_fs3i_partitioned.cpp
  src/fsi_xfem/4C_fsi_xfem_coupling_comm_manager.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_nodebased.cpp
  src/scatra/4C_scatra_timint_implicit.cpp
  src/structure/4C_structure_aux.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unnecessary particle output
  src/particle_engine/4C_particle_engine_particlereader.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Exodus input for different physics from same mesh
  src/core/io/src/4C_io_exodus.hpp
  src/core/io/src/4C_io_meshreader.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add administrative tasks for releasing 4C
  .github/ISSUE_TEMPLATE/release.md
  doc/documentation/src/developer_guide/developer_release.rst
  doc/documentation/src/developer_guide/developmentguide.rst
  utilities/tag_images_for_release.sh
Due: non-ascii-chars

Port 2D FSI tutorial to direct Exodus input
  doc/documentation/src/tutorial_templates/tut_fsi_preexo_2d.rst.j2
  tests/framework-test/tutorial_fluid.bc
  tests/framework-test/tutorial_fluid.head
  tests/framework-test/tutorial_fsi.bc
  tests/framework-test/tutorial_fsi_2d.4C.yaml
  tests/framework-test/tutorial_fsi_2d.e
  tests/framework-test/tutorial_fsi_2d.jou
  tests/list_of_tests.cmake
Due: non-ascii-chars

Remove an unused fluid boundary function
  src/fluid_ele/4C_fluid_ele_action.hpp
  src/fluid_ele/4C_fluid_ele_boundary_calc.cpp
  src/fluid_ele/4C_fluid_ele_boundary_calc.hpp
  src/fluid_ele/4C_fluid_ele_boundary_evaluate.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Implement dot product between rank 1 tensors
  src/core/linalg/src/dense/4C_linalg_tensor.hpp
  src/core/linalg/tests/4C_linalg_tensor_operations_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Major rework of the solid-state battery tutorial
  doc/documentation/src/_assets/tutorial-battery-geometry.png
  doc/documentation/src/_assets/tutorial_battery.jpg
  doc/documentation/src/tutorial_templates/tut_battery.rst.j2
  doc/documentation/src/tutorial_templates/tutorial_battery.md.j2
  doc/documentation/src/tutorial_templates/tutorials.rst
  tests/framework-test/tutorial_battery.4C.yaml
  tests/framework-test/tutorial_battery.bc
  tests/framework-test/tutorial_battery.head
  tests/list_of_tests.cmake
Due: non-ascii-chars

Refactor geometric search
  src/beam3/4C_beam3_base.cpp
  src/beaminteraction/src/4C_beaminteraction_submodel_evaluator_beamcontact.cpp
  src/core/fem/src/condition/4C_fem_condition_periodic.cpp
  src/core/fem/src/dofset/4C_fem_dofset_definedmapping_wrapper.cpp
  src/core/fem/src/dofset/4C_fem_dofset_merged_wrapper.cpp
  src/core/fem/src/general/element/4C_fem_general_element.cpp
  src/core/fem/tests/CMakeLists.txt
  src/core/geometric_search/CMakeLists.txt
  src/core/geometric_search/src/4C_geometric_search_access_traits.hpp
  src/core/geometric_search/src/4C_geometric_search_bounding_volume.hpp
  src/core/geometric_search/src/4C_geometric_search_bvh.cpp
  src/core/geometric_search/src/4C_geometric_search_bvh.hpp
  src/core/geometric_search/src/4C_geometric_search_distributed_tree.cpp
  src/core/geometric_search/src/4C_geometric_search_distributed_tree.hpp
  src/core/geometric_search/src/4C_geometric_search_input.cpp
  src/core/geometric_search/src/4C_geometric_search_input.hpp
  src/core/geometric_search/src/4C_geometric_search_matchingoctree.cpp
  src/core/geometric_search/src/4C_geometric_search_matchingoctree.hpp
  src/core/geometric_search/src/4C_geometric_search_params.cpp
  src/core/geometric_search/src/4C_geometric_search_params.hpp
  src/core/geometric_search/src/4C_geometric_search_utils.cpp
  src/core/geometric_search/src/4C_geometric_search_utils.hpp
  src/core/geometric_search/src/4C_geometric_search_visualization.cpp
  src/core/geometric_search/src/4C_geometric_search_visualization.hpp
  src/core/geometric_search/src/CMakeLists.txt
  src/core/geometric_search/src/script/kdop_generate_possible_intersection_planes.wls
  src/core/geometric_search/tests/4C_geometric_search_create_bounding_volumes_test.hpp
  src/core/geometric_search/tests/4C_geometric_search_distributed_test.np3.cpp
  src/core/geometric_search/tests/4C_geometric_search_test.cpp
  src/core/geometric_search/tests/CMakeLists.txt
  src/core/rebalance/src/4C_rebalance_binning_based.cpp
  src/core/rebalance/src/4C_rebalance_graph_based.cpp
  src/core/rebalance/src/4C_rebalance_graph_based.hpp
  src/coupling/src/adapter/4C_coupling_adapter.cpp
  src/fluid_turbulence/4C_fluid_turbulence_transfer_turb_inflow.cpp
  src/global_legacy_module/4C_global_legacy_module_validparameters.cpp
  src/rigidsphere/4C_rigidsphere_evaluate.cpp
  src/ssi/4C_ssi_utils.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Port 3D FSI tutorial to direct Exodus input
  doc/documentation/src/tutorial_templates/tut_fsi_preexo.rst.j2
  doc/documentation/src/tutorial_templates/tut_fsi_preexo_2d.rst.j2
  tests/framework-test/tutorial_fsi_3d.4C.yaml
  tests/framework-test/tutorial_fsi_3d.bc
  tests/framework-test/tutorial_fsi_3d.head
  tests/list_of_tests.cmake
Due: non-ascii-chars

Cleanup tutorials for pre_exodus removal
  doc/documentation/src/tutorial_templates/tutorial_contact_3d.md.j2
  doc/documentation/src/tutorial_templates/tutorial_fluid.rst.j2
  doc/documentation/src/tutorial_templates/tutorial_fsi_2d.rst.j2
  doc/documentation/src/tutorial_templates/tutorial_fsi_3d.rst.j2
  doc/documentation/src/tutorial_templates/tutorial_introduction.rst.j2
  doc/documentation/src/tutorial_templates/tutorial_solid.rst.j2
  doc/documentation/src/tutorial_templates/tutorials.rst
Due: non-ascii-chars

Remove pre_exodus executable
  CMakeLists.txt
  apps/CMakeLists.txt
  apps/pre_exodus/4C_pre_exodus.cpp
  apps/pre_exodus/4C_pre_exodus_readbc.cpp
  apps/pre_exodus/4C_pre_exodus_readbc.hpp
  apps/pre_exodus/4C_pre_exodus_validate.cpp
  apps/pre_exodus/4C_pre_exodus_validate.hpp
  apps/pre_exodus/4C_pre_exodus_writedat.cpp
  apps/pre_exodus/4C_pre_exodus_writedat.hpp
  apps/pre_exodus/CMakeLists.txt
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove comments about pre_exodus
  src/core/io/src/4C_io.cpp
  tests/input_files/embeddedmesh_cut_bar_under_torsion_one_element.dat
  tests/input_files/embeddedmesh_cut_integrate_bar_hex8_ele_1.dat
  tests/input_files/embeddedmesh_two_blocks_hex_hex_5x5.dat
Due: cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

Remove outdated pre_exodus test data
  tests/pre_processing_test/pre_exo_cube.bc
  tests/pre_processing_test/pre_exo_cube.e
Due: non-ascii-chars

Rename framework-test to tutorials
  cmake/functions/four_c_testing_functions.cmake
  doc/documentation/CMakeLists.txt
  doc/documentation/src/tutorial_templates/tutorial_fsi_2d.rst.j2
  doc/documentation/src/tutorial_templates/tutorial_fsi_3d.rst.j2
  doc/documentation/src/tutorial_templates/tutorial_introduction.rst.j2
  doc/documentation/src/tutorial_templates/tutorial_solid.rst.j2
  doc/documentation/src/tutorial_templates/tutorials.rst
  tests/list_of_tests.cmake
  tests/tutorials/tutorial_battery.4C.yaml
  tests/tutorials/tutorial_battery.e
  tests/tutorials/tutorial_battery.jou
  tests/tutorials/tutorial_contact_3d.4C.yaml
  tests/tutorials/tutorial_contact_3d.e
  tests/tutorials/tutorial_contact_3d.jou
  tests/tutorials/tutorial_fluid.4C.yaml
  tests/tutorials/tutorial_fluid.e
  tests/tutorials/tutorial_fluid.jou
  tests/tutorials/tutorial_fsi_2d.4C.yaml
  tests/tutorials/tutorial_fsi_2d.e
  tests/tutorials/tutorial_fsi_2d.jou
  tests/tutorials/tutorial_fsi_3d.4C.yaml
  tests/tutorials/tutorial_fsi_3d.e
  tests/tutorials/tutorial_fsi_3d.jou
  tests/tutorials/tutorial_solid.4C.yaml
  tests/tutorials/tutorial_solid.jou
  tests/tutorials/tutorial_solid_geo.e
Due: non-ascii-chars

Purge pre_exodus from the documentation
  doc/documentation/src/analysis_guide/boundaryconditions.rst
  doc/documentation/src/analysis_guide/preprocessing.rst
  doc/documentation/src/installation/installation.rst
Due: none

Fix broken documentation links in the README.md
  README.md
Due: none

Disable metadata generation in lnm cluster presets
  presets/lnm/cluster/CMakePresets.json
Due: non-ascii-chars

Simplify NOX Group interface
  src/solver_nonlin_nox/4C_solver_nonlin_nox_group.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_group.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Simplify NOX SingleStep solver
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_singlestep.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Change base image
  docker/dependencies/Dockerfile
Due: non-ascii-chars

Update Trilinos version
  dependencies/current/trilinos/install.sh
  dependencies/supported_version/Trilinos.txt
Due: non-ascii-chars

Update internal package version number
  .github/workflows/buildtest.yml
  .github/workflows/checkcode.yml
  .github/workflows/coverage.yml
  .github/workflows/documentation.yml
  .github/workflows/nightly_tests.yml
Due: non-ascii-chars

Remove unused features from Exodus::Mesh
  src/core/io/src/4C_io_exodus.cpp
  src/core/io/src/4C_io_exodus.hpp
  src/core/io/src/4C_io_meshreader.cpp
  src/core/io/tests/4C_io_exodus_test.cpp
  src/global_data/4C_global_data_read.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add Box type for heap-allocated values
  src/core/utils/src/stl_extension/4C_utils_box.hpp
  src/solid_3D_ele/4C_solid_3D_ele_factory_lib.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add docu for git workflow for development with prs
  doc/documentation/src/installation/installation.rst
Due: none

Path conditions:
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/|mm$
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$
