Repository sebproell/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

cpp-filename-includes:
  name: C++ file names and include style
  description: Check that all C++ files have the correct file name and include style
  language: system
  entry: utilities/python-venv/bin/check-filenames-and-includes
  args:
  - --paths
  - src/
  - unittests/
  - apps/
  - --files

cpp-include-guard:
  name: Include guards
  description: Check that all C++ files have the correct include guards
  language: python
  entry: utilities/python-venv/bin/check-header-guards

cpp-preprocessor:
  name: C++ preprocessor directives
  description: Check that all C++ files only use acceptable preprocessor directives
  language: python
  entry: utilities/python-venv/bin/check-preprocessor

input-files:
  name: Test input files
  description: Check input files conform to expectations
  language: python
  entry: utilities/python-venv/bin/check-test-files

non-ascii-chars:
  name: Non-ASCII characters
  language: system
  entry: ./utilities/code_checks/check_non_ascii_chars

Add image for oldest supported dependencies
  .github/workflows/buildtest.yml
  .github/workflows/checkcode.yml
  .github/workflows/coverage.yml
  .github/workflows/docker.yml
  .github/workflows/documentation.yml
  .github/workflows/nightly_tests.yml
  dependencies/oldest_supported/trilinos/install.sh
  docker/oldest_supported/Dockerfile
Due: non-ascii-chars

Cleanup of scatra timint implicit
  src/adapter/4C_adapter_scatra_interface.hpp
  src/adapter/4C_adapter_scatra_wrapper.hpp
  src/fs3i/4C_fs3i.cpp
  src/fs3i/4C_fs3i.hpp
  src/levelset/4C_levelset_algorithm.cpp
  src/levelset/4C_levelset_algorithm.hpp
  src/levelset/4C_levelset_algorithm_reinit.cpp
  src/scatra/4C_scatra_timint_elch.cpp
  src/scatra/4C_scatra_timint_implicit.cpp
  src/scatra/4C_scatra_timint_implicit.hpp
  src/scatra/4C_scatra_timint_implicit_service.cpp
  src/ssi/4C_ssi_base.cpp
  src/ssi/4C_ssi_base.hpp
  src/sti/4C_sti_algorithm.cpp
  src/sti/4C_sti_monolithic.cpp
  src/sti/4C_sti_monolithic.hpp
  src/sti/4C_sti_partitioned.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Use std::source_location in exception macros
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/utils/src/exceptions/4C_utils_exceptions.cpp
  src/core/utils/src/exceptions/4C_utils_exceptions.hpp
  src/core/utils/tests/exceptions/4C_utils_exceptions_test.cpp
  src/reduced_lung/4C_reduced_lung_main.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove obsolete setup() method
  src/structure_new/src/explicit/4C_structure_new_timint_explicit.cpp
  src/structure_new/src/implicit/4C_structure_new_timint_implicit.cpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_generic.cpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_generic.hpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_nox.cpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_solver_nox.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Simplify access into internal variant items of Map
  src/core/linalg/src/sparse/4C_linalg_map.cpp
  src/core/linalg/src/sparse/4C_linalg_map.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Adapt Graphs map to view
  src/core/linalg/src/sparse/4C_linalg_graph.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add pre-commit check for include cycles
  .pre-commit-config.yaml
  utilities/four_c_utils/pyproject.toml
  utilities/four_c_utils/src/four_c_utils/check_includes_for_cycles.py
  utilities/requirements.txt
Due: non-ascii-chars

Remove include cycles
  src/cut/4C_cut_kernel.hpp
  src/poroelast/4C_poroelast_utils_setup.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix missing job output in nightly action
  .github/workflows/nightly_tests.yml
Due: non-ascii-chars

Modernize Condition utils
  src/core/fem/src/condition/4C_fem_condition_utils.cpp
  src/core/fem/src/condition/4C_fem_condition_utils.hpp
  src/core/fem/src/dofset/4C_fem_dofset_merged_wrapper.cpp
  src/coupling/src/adapter/4C_coupling_adapter.cpp
  src/fluid/4C_fluid_implicit_integration.cpp
  src/scatra/4C_scatra_timint_meshtying_strategy_s2i.cpp
  src/scatra/4C_scatra_utils.cpp
  src/ssi/4C_ssi_utils.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused and untested fluid turbulence stats
  src/fluid_turbulence/4C_fluid_turbulence_statistic_manager.cpp
  src/fluid_turbulence/4C_fluid_turbulence_statistic_manager.hpp
  src/fluid_turbulence/4C_fluid_turbulence_statistics_bfda.cpp
  src/fluid_turbulence/4C_fluid_turbulence_statistics_bfda.hpp
  src/fluid_turbulence/4C_fluid_turbulence_statistics_bfs.hpp
  src/fluid_turbulence/4C_fluid_turbulence_statistics_ldc.cpp
  src/fluid_turbulence/4C_fluid_turbulence_statistics_ldc.hpp
  src/fluid_turbulence/4C_fluid_turbulence_statistics_mean_general.cpp
  src/fluid_turbulence/4C_fluid_turbulence_statistics_mean_general.hpp
  src/fluid_turbulence/4C_fluid_turbulence_statistics_sqc.cpp
  src/fluid_turbulence/4C_fluid_turbulence_statistics_sqc.hpp
  src/fluid_turbulence/4C_fluid_turbulence_statistics_tgv.cpp
  src/fluid_turbulence/4C_fluid_turbulence_statistics_tgv.hpp
  src/fluid_turbulence/4C_fluid_turbulence_tstatistics_bfs.cpp
  src/inpar/4C_inpar_fluid.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Replace get_condition for various modules
  src/beam3/4C_beam3_discretization_runtime_vtu_writer.cpp
  src/beaminteraction/src/4C_beaminteraction_calc_utils.cpp
  src/beaminteraction/src/4C_beaminteraction_submodel_evaluator_crosslinking.cpp
  src/constraint_framework/4C_constraint_framework_embeddedmesh_solid_to_solid_mortar_manager.cpp
  src/constraint_framework/4C_constraint_framework_embeddedmesh_solid_to_solid_utils.cpp
  src/constraint_framework/4C_constraint_framework_embeddedmesh_solid_to_solid_utils.hpp
  src/core/fem/src/condition/4C_fem_condition_utils.cpp
  src/core/fem/src/condition/4C_fem_condition_utils.hpp
  src/core/rebalance/src/4C_rebalance_binning_based.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_linebased.cpp
  src/reduced_lung/4C_reduced_lung_main.cpp
  src/scatra/4C_scatra_timint_meshtying_strategy_s2i.cpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_nln_linearsystem_scaling.cpp
  src/xfem/4C_xfem_coupling_mesh.cpp
  src/xfem/4C_xfem_coupling_mesh.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Merge sparse matrix with its base
  src/core/linalg/src/sparse/4C_linalg_blocksparsematrix.cpp
  src/core/linalg/src/sparse/4C_linalg_blocksparsematrix.hpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrix.cpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrix.hpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrixbase.cpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrixbase.hpp
  src/core/linalg/src/sparse/4C_linalg_sparseoperator.hpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.hpp
  src/core/linear_solver/src/amgnxn/4C_linear_solver_amgnxn_smoothers.cpp
  src/core/linear_solver/src/amgnxn/4C_linear_solver_amgnxn_smoothers.hpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_aux.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove shared_ptr<MultiVector> from LinAlg::Vector
  src/adapter/4C_adapter_str_constr_merged.cpp
  src/adapter/4C_adapter_str_fsiwrapper.cpp
  src/adapter/4C_adapter_str_structure.hpp
  src/adapter/4C_adapter_str_structure_new.hpp
  src/adapter/4C_adapter_str_wrapper.hpp
  src/beaminteraction/src/4C_beaminteraction_beam_to_solid_surface_visualization_output_writer.cpp
  src/beaminteraction/src/4C_beaminteraction_beam_to_solid_surface_visualization_output_writer_contact.cpp
  src/beaminteraction/src/4C_beaminteraction_beam_to_solid_visualization_output_writer_utils.cpp
  src/beaminteraction/src/4C_beaminteraction_beam_to_solid_visualization_output_writer_utils.hpp
  src/beaminteraction/src/4C_beaminteraction_beam_to_solid_volume_meshtying_visualization_output_writer.cpp
  src/core/fem/src/general/utils/4C_fem_general_l2_projection.cpp
  src/core/io/src/4C_io.cpp
  src/core/linalg/src/sparse/4C_linalg_vector.cpp
  src/core/linalg/src/sparse/4C_linalg_vector.hpp
  src/core/linear_solver/src/method/4C_linear_solver_method_linalg.cpp
  src/ehl/4C_ehl_base.cpp
  src/scatra/4C_scatra_timint_meshtying_strategy_s2i.cpp
  src/stru_multi/4C_stru_multi_microstatic.cpp
  src/structure/4C_structure_timint.cpp
  src/structure/4C_structure_timint.hpp
  src/xfem/4C_xfem_xfield_field_coupling.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove shared_ptr methods from LinAlg::Vector
  src/constraint/4C_constraint_lagpenconstraint_noxinterface.cpp
  src/contact/4C_contact_lagrange_strategy_wear.cpp
  src/contact/4C_contact_meshtying_noxinterface.cpp
  src/contact/4C_contact_noxinterface.cpp
  src/core/linalg/src/sparse/4C_linalg_vector.hpp
  src/core/linalg/tests/4C_linalg_map_test.np2.cpp
  src/core/rebalance/src/4C_rebalance_graph_based.cpp
  src/fs3i/4C_fs3i_biofilm_fsi.cpp
  src/fsi/src/monolithic/4C_fsi_monolithic.cpp
  src/fsi/src/partitioned/4C_fsi_partitioned.cpp
  src/fsi/src/partitioned/model_evaluator/4C_fsi_str_model_evaluator_partitioned.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_linearsystem.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_solver_ptc.cpp
  src/structure/4C_structure_timint_impl_nox.cpp
  src/structure_new/src/4C_structure_new_integrator.cpp
  src/structure_new/src/4C_structure_new_timint_basedataglobalstate.cpp
  src/structure_new/src/implicit/4C_structure_new_impl_statics.cpp
  src/structure_new/src/implicit/4C_structure_new_timint_implicit.cpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_timint_noxinterface.cpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_timint_noxinterface.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Use FOUR_C_BUILD_SHARED_LIBS
  CMakeLists.txt
  cmake/functions/four_c_auto_define_module.cmake
  cmake/setup_global_options.cmake
  presets/docker/CMakePresets.json
  presets/lnm/workstation/CMakePresets.json
Due: non-ascii-chars

Remove unnecessary Map instantiations
  src/core/comm/src/4C_comm_utils.cpp
  src/core/linalg/src/sparse/4C_linalg_krylov_projector.cpp
  src/fluid/4C_fluid_timint_genalpha.cpp
  src/post/4C_post_ensight_writer.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Fix optional vectors are not parseable from YAML
  src/core/io/src/4C_io_yaml.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove shared_ptr from LinAlg::MultiVector
  src/core/linalg/src/sparse/4C_linalg_multi_vector.hpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_create.cpp
  src/core/linalg/tests/4C_linalg_map_test.np2.cpp
  src/core/linear_solver/src/amgnxn/4C_linear_solver_amgnxn_smoothers.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method_direct.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method_iterative.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method_parameters.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_muelu.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_teko.cpp
  src/core/rebalance/src/4C_rebalance_graph_based.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Use View mechanism in Vector wrappers
  src/core/linalg/src/sparse/4C_linalg_multi_vector.cpp
  src/core/linalg/src/sparse/4C_linalg_multi_vector.hpp
  src/core/linalg/src/sparse/4C_linalg_vector.cpp
  src/core/linalg/src/sparse/4C_linalg_vector.hpp
  src/core/linalg/src/sparse/4C_linalg_view.hpp
  src/core/linalg/tests/4C_linalg_vector_test.np2.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Change primary email address for Nora Hagmeyer
  .mailmap
Due: non-ascii-chars

Clean up non-conforming artery coupling
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_algorithm.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_meshtying_strategy_artery.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_meshtying_strategy_artery.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_base.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_base.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_linebased.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_linebased.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_nodebased.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_nodebased.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_nodetopoint.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_nodetopoint.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_nonconforming.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_nonconforming.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_pair.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_pair.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_surfbased.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_surfbased.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_utils.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_utils.hpp
  src/scatra/4C_scatra_timint_meshtying_strategy_artery.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Rename ele_pairs
  src/adapter/4C_adapter_porofluid_pressure_based.hpp
  src/adapter/4C_adapter_porofluid_pressure_based_wrapper.cpp
  src/adapter/4C_adapter_porofluid_pressure_based_wrapper.hpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_algorithm.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_algorithm.hpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_dyn.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_meshtying_strategy_artery.cpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_meshtying_strategy_artery.hpp
  src/porofluid_pressure_based/4C_porofluid_pressure_based_utils.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_dyn.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_monolithic.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_monolithic.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_partitioned.cpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_partitioned.hpp
  src/porofluid_pressure_based_elast/4C_porofluid_pressure_based_elast_utils.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_linebased.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_linebased.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_nodetopoint.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_nonconforming.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_nonconforming.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_surfbased.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_monolithic.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_monolithic.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_partitioned.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_partitioned.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_utils.cpp
  src/scatra/4C_scatra_timint_meshtying_strategy_artery.cpp
  src/scatra/4C_scatra_timint_meshtying_strategy_artery.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused sections
  tests/input_files/orthopressure_pseudo_solidh8.4C.yaml
  tests/input_files/orthopressure_pseudo_solidh8_eas.4C.yaml
  tests/input_files/orthopressure_pseudo_solidw6.4C.yaml
  tests/input_files/orthopressure_solidh8.4C.yaml
  tests/input_files/orthopressure_solidh8_eas.4C.yaml
  tests/input_files/orthopressure_solidw6.dat
  tests/input_files/prestress_weg6.4C.yaml
  tests/input_files/strufem_wedge6_disp_cantilever.dat
Due: input-files, non-ascii-chars

Don't access an object after its lifetime ends
  src/core/linalg/tests/4C_linalg_vector_test.np2.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Keep test report with run times for 7 days
  .github/workflows/nightly_tests.yml
Due: non-ascii-chars

Remove unused printers for elements
  src/core/fem/src/general/element/4C_fem_general_element_definition.cpp
  src/core/fem/src/general/element/4C_fem_general_element_definition.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Use yaml format in electrode unit test
  unittests/mat/4C_electrode_test.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Initialize norms in poro scatra to avoid UB
  src/poroelast_scatra/4C_poroelast_scatra_monolithic.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Convert remaining poro scatra test to yaml
  tests/input_files/poro_3D_scatra_mono_hex8.4C.yaml
  tests/input_files/poro_3D_scatra_mono_hex8.dat
  tests/list_of_tests.cmake
Due: input-files, non-ascii-chars

Scalar interpolation class
  src/core/linalg/src/dense/4C_linalg_utils_scalar_interpolation.cpp
  src/core/linalg/src/dense/4C_linalg_utils_scalar_interpolation.hpp
  src/core/linalg/tests/4C_linalg_utils_scalar_interpolation_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Clean up artery coupling schemes
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_linebased.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_linebased.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_nodebased.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_nodebased.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_nodetopoint.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_nodetopoint.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_nonconforming.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_nonconforming.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_surfbased.cpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_artery_coupling_surfbased.hpp
  src/porofluid_pressure_based_elast_scatra/4C_porofluid_pressure_based_elast_scatra_utils.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Change input files cardiovascular to 4C.yaml
  tests/input_files/cardiovascular0d_4elementwindkessel_structure_direct_genalpha.4C.yaml
  tests/input_files/cardiovascular0d_4elementwindkessel_structure_direct_genalpha.dat
  tests/input_files/cardiovascular0d_4elementwindkessel_structure_direct_genalpha_new_struc.4C.yaml
  tests/input_files/cardiovascular0d_4elementwindkessel_structure_direct_genalpha_new_struc.dat
  tests/input_files/cardiovascular0d_4elementwindkessel_structure_direct_ost.4C.yaml
  tests/input_files/cardiovascular0d_4elementwindkessel_structure_direct_ost.dat
  tests/input_files/cardiovascular0d_4elementwindkessel_structure_direct_ost_new_struc.4C.yaml
  tests/input_files/cardiovascular0d_4elementwindkessel_structure_direct_ost_new_struc.dat
  tests/input_files/cardiovascular0d_4elementwindkessel_structure_direct_stat.4C.yaml
  tests/input_files/cardiovascular0d_4elementwindkessel_structure_direct_stat.dat
  tests/input_files/cardiovascular0d_4elementwindkessel_structure_direct_stat_new_struc.4C.yaml
  tests/input_files/cardiovascular0d_4elementwindkessel_structure_direct_stat_new_struc.dat
  tests/input_files/cardiovascular0d_arterialproxdist_structure_direct_genalpha.4C.yaml
  tests/input_files/cardiovascular0d_arterialproxdist_structure_direct_genalpha.dat
  tests/input_files/cardiovascular0d_arterialproxdist_structure_direct_genalpha_mor.4C.yaml
  tests/input_files/cardiovascular0d_arterialproxdist_structure_direct_genalpha_mor.dat
  tests/input_files/cardiovascular0d_arterialproxdist_structure_direct_genalpha_new_struc.4C.yaml
  tests/input_files/cardiovascular0d_arterialproxdist_structure_direct_genalpha_new_struc.dat
  tests/input_files/cardiovascular0d_syspulcirculation_0d_heart.4C.yaml
  tests/input_files/cardiovascular0d_syspulcirculation_0d_heart.dat
  tests/input_files/cardiovascular0d_syspulcirculation_2chamber_structure_direct_genalpha.4C.yaml
  tests/input_files/cardiovascular0d_syspulcirculation_2chamber_structure_direct_genalpha.dat
  tests/input_files/cardiovascular0d_syspulcirculation_2chamber_structure_simple_genalpha.4C.yaml
  tests/input_files/cardiovascular0d_syspulcirculation_2chamber_structure_simple_genalpha.dat
  tests/input_files/cardiovascular0d_syspulcirculation_2chamber_structure_statprestress.4C.yaml
  tests/input_files/cardiovascular0d_syspulcirculation_2chamber_structure_statprestress.dat
  tests/input_files/cardiovascular0d_syspulcirculation_2chamber_structurecontactpenalty_direct_genalpha.4C.yaml
  tests/input_files/cardiovascular0d_syspulcirculation_2chamber_structurecontactpenalty_direct_genalpha.dat
  tests/list_of_tests.cmake
Due: input-files, non-ascii-chars

Change of homogenized constrained mixture
  tests/input_files/homogenized-constrained-mixture-cube-aniso-expl.4C.yaml
  tests/input_files/homogenized-constrained-mixture-cube-aniso-expl.dat
  tests/input_files/homogenized-constrained-mixture-cube-iso-expl.4C.yaml
  tests/input_files/homogenized-constrained-mixture-cube-iso-expl.dat
  tests/input_files/homogenized-constrained-mixture-cube-stiffness-expl.4C.yaml
  tests/input_files/homogenized-constrained-mixture-cube-stiffness-expl.dat
  tests/input_files/homogenized-constrained-mixture-cube-stiffness-impl.4C.yaml
  tests/input_files/homogenized-constrained-mixture-cube-stiffness-impl.dat
  tests/input_files/homogenized-constrained-mixture-cyl-aniso-expl.4C.yaml
  tests/input_files/homogenized-constrained-mixture-cyl-aniso-expl.dat
  tests/input_files/homogenized-constrained-mixture-cyl-aniso-impl-nofibdir.4C.yaml
  tests/input_files/homogenized-constrained-mixture-cyl-aniso-impl-nofibdir.dat
  tests/input_files/homogenized-constrained-mixture-cyl-aniso-impl.4C.yaml
  tests/input_files/homogenized-constrained-mixture-cyl-aniso-impl.dat
  tests/input_files/homogenized-constrained-mixture-cyl-iso-expl.4C.yaml
  tests/input_files/homogenized-constrained-mixture-cyl-iso-expl.dat
  tests/input_files/homogenized-constrained-mixture-cyl-iso-impl.4C.yaml
  tests/input_files/homogenized-constrained-mixture-cyl-iso-impl.dat
  tests/input_files/homogenized-constrained-mixture-membrane-cyl-aniso-expl-nofibdir.4C.yaml
  tests/input_files/homogenized-constrained-mixture-membrane-cyl-aniso-expl-nofibdir.dat
  tests/input_files/homogenized-constrained-mixture-membrane-cyl-aniso-expl.4C.yaml
  tests/input_files/homogenized-constrained-mixture-membrane-cyl-aniso-expl.dat
  tests/list_of_tests.cmake
Due: input-files, non-ascii-chars

Path conditions:
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/|mm$
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$
