Repository sebproell/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Path conditions:
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/|mm$
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$

Remove @author tags
  src/core/io/src/4C_io_every_iteration_writer.hpp
  src/core/utils/src/stl_extension/4C_utils_pairedobj_insert_policy.hpp
  src/core/utils/src/stl_extension/4C_utils_pairedvector.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

InputSpec: new selection for common use case
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Implement std::optional pack/unpack helper
  src/core/comm/src/4C_comm_pack_helpers.hpp
  src/core/comm/tests/4C_comm_pack_unpack_test.np3.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix inconsistent doc-strings in pack/unpack helper
  src/core/comm/src/4C_comm_pack_helpers.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

CMake: remove links to same lib
  src/structure_new/src/CMakeLists.txt
  src/structure_new/src/explicit/CMakeLists.txt
  src/structure_new/src/implicit/CMakeLists.txt
  src/structure_new/src/model_evaluator/CMakeLists.txt
  src/structure_new/src/nonlinear_solver/CMakeLists.txt
  src/structure_new/src/output/CMakeLists.txt
  src/structure_new/src/predict/CMakeLists.txt
  src/structure_new/src/utils/CMakeLists.txt
Due: non-ascii-chars

CMake: add FOUR_C_ENABLE_DEVELOPER_MODE
  cmake/functions/four_c_add_dependency.cmake
  cmake/functions/four_c_auto_define_module.cmake
  cmake/functions/four_c_auto_define_tests.cmake
  cmake/setup_global_options.cmake
  doc/readthedocs/developer_cmake.rst
  src/core/CMakeLists.txt
  unittests/beam3/CMakeLists.txt
  unittests/beaminteraction/CMakeLists.txt
  unittests/contact_constitutivelaw/CMakeLists.txt
  unittests/fbi/CMakeLists.txt
  unittests/geometry_pair/CMakeLists.txt
  unittests/io/CMakeLists.txt
  unittests/mat/CMakeLists.txt
  unittests/mat/elast/CMakeLists.txt
  unittests/mat/vplast/CMakeLists.txt
  unittests/mixture/CMakeLists.txt
  unittests/mortar/CMakeLists.txt
  unittests/particle_engine/CMakeLists.txt
  unittests/particle_interaction/CMakeLists.txt
  unittests/particle_rigidbody/CMakeLists.txt
  unittests/poromultiphase_scatra/CMakeLists.txt
  unittests/so3/CMakeLists.txt
  unittests/solid_3D_ele/CMakeLists.txt
Due: non-ascii-chars

Add magic_enum dependency
  CMakeLists.txt
  cmake/configure/configure_magic_enum.cmake
  cmake/setup_install.cmake
  cmake/templates/4CConfig.cmake.in
  cmake/templates/4CSettings.cmake.in
  cmake/templates/4CTargets.cmake.in
  cmake/templates/magic_enum.cmake.in
Due: non-ascii-chars

Allow InputSpecBuilders::parameter to take enums
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/src/4C_io_input_types.hpp
  src/core/io/src/4C_io_value_parser.hpp
  src/core/io/src/4C_io_yaml.cpp
  src/core/io/src/4C_io_yaml.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
  src/global_legacy_module/4C_global_legacy_module.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Use "enum" instead of "selection" for metadata
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
  utilities/create_json_schema.py
  utilities/metadata_utils.py
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove an unnecessary friend class declaration
  src/core/fem/src/discretization/4C_fem_discretization.hpp
  src/core/io/src/legacy/4C_io_legacy_table.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix automatic renaming mistake _i_ds
  src/core/fem/src/discretization/4C_fem_discretization.hpp
  src/core/fem/src/discretization/4C_fem_discretization_conditions.cpp
  src/core/fem/src/discretization/4C_fem_discretization_faces.cpp
  src/core/fem/src/discretization/4C_fem_discretization_hdg.cpp
  src/core/fem/src/discretization/4C_fem_discretization_hdg.hpp
  src/fluid_ele/4C_fluid_ele_boundary_calc_poro.cpp
  src/fluid_ele/4C_fluid_ele_boundary_calc_poro.hpp
  src/poroelast/4C_poroelast_base.hpp
  src/poroelast/4C_poroelast_monolithic.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unnecessary virtuals in discretization
  src/core/fem/src/discretization/4C_fem_discretization.hpp
  src/core/fem/src/discretization/4C_fem_discretization_faces.hpp
  src/core/fem/src/nurbs_discretization/4C_fem_nurbs_discretization.hpp
  src/xfem/4C_xfem_discretization.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove Discretization::redistribute_state()
  src/core/fem/src/discretization/4C_fem_discretization.cpp
  src/core/fem/src/discretization/4C_fem_discretization.hpp
  src/mortar/4C_mortar_interface.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add CMake option FOUR_C_ENABLE_METADATA_GENERATION
  apps/global_full/CMakeLists.txt
  cmake/setup_global_options.cmake
Due: non-ascii-chars

Remove .gitlab directory
  .gitlab/issue_templates/BUG_REPORT.md
  .gitlab/issue_templates/DEVELOPER_MEETING_TEMPLATE.md
  .gitlab/issue_templates/FAREWELL.md
  .gitlab/issue_templates/ISSUE_TEMPLATE.md
  .gitlab/issue_templates/ONBOARDING.md
  .gitlab/issue_templates/TEST_FAILING.md
  .gitlab/merge_request_templates/MERGE_REQUEST_TEMPLATE.md
  .gitlab/merge_request_templates/MERGE_REQUEST_TRILINOS_UPDATE_TEMPLATE.md
Due: none

Remove string_parameter helper
  src/beamcontact/4C_beamcontact_input.cpp
  src/browniandyn/4C_browniandyn_input.cpp
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/inpar/4C_inpar_beaminteraction.cpp
  src/inpar/4C_inpar_beampotential.cpp
  src/inpar/4C_inpar_binningstrategy.cpp
  src/inpar/4C_inpar_cardiovascular0d.cpp
  src/inpar/4C_inpar_ehl.cpp
  src/inpar/4C_inpar_elemag.cpp
  src/inpar/4C_inpar_fluid.cpp
  src/inpar/4C_inpar_fpsi.cpp
  src/inpar/4C_inpar_fs3i.cpp
  src/inpar/4C_inpar_fsi.cpp
  src/inpar/4C_inpar_particle.cpp
  src/inpar/4C_inpar_porofluidmultiphase.cpp
  src/inpar/4C_inpar_poromultiphase.cpp
  src/inpar/4C_inpar_scatra.cpp
  src/inpar/4C_inpar_solver.cpp
  src/inpar/4C_inpar_solver_nonlin.cpp
  src/inpar/4C_inpar_ssi.cpp
  src/inpar/4C_inpar_ssti.cpp
  src/inpar/4C_inpar_structure.cpp
  src/inpar/4C_inpar_tsi.cpp
  src/inpar/4C_inpar_xfem.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Implicit conversion of default, int to double
  src/inpar/4C_inpar_ehl.cpp
  src/inpar/4C_inpar_fbi.cpp
  src/inpar/4C_inpar_solver_nonlin.cpp
  src/inpar/4C_inpar_ssi.cpp
  src/inpar/4C_inpar_ssti.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Add missing parameter description
  utilities/create_json_schema.py
Due: non-ascii-chars

Enable vtk output in pressure-based arteries
  apps/post_processor/4C_post_processor.cpp
  apps/post_processor/4C_post_processor_single_field_writers.cpp
  src/art_net/4C_art_net_impl_stationary.cpp
  src/art_net/4C_art_net_impl_stationary.hpp
  src/art_net/4C_art_net_timint.hpp
  tests/input_files/poromultielastscatra_2D_quad4_nodetopoint_artery_airway_coupling_mono.dat
  tests/input_files/ref/poromultielastscatra_2D_quad4_nodetopoint_artery_airway_coupling_mono-artery.pvd
  tests/input_files/ref/poromultielastscatra_2D_quad4_nodetopoint_artery_airway_coupling_mono-vtk-files/artery-00024-0.vtu
  tests/input_files/ref/poromultielastscatra_2D_quad4_nodetopoint_artery_airway_coupling_mono-vtk-files/artery-00024-1.vtu
  tests/input_files/ref/poromultielastscatra_2D_quad4_nodetopoint_artery_airway_coupling_mono-vtk-files/artery-00024-2.vtu
  tests/input_files/ref/poromultielastscatra_2D_quad4_nodetopoint_artery_airway_coupling_mono-vtk-files/artery-00024.pvtu
  tests/list_of_tests.cmake
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Fix MPI_COMM nullptr initialization
  src/cut/4C_cut_levelsetintersection.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Update coding guidelines in docs
  doc/readthedocs/codingguidelines.rst
Due: none

Move installation guide in the docs to top level
  doc/readthedocs/developer_cluster.rst
  doc/readthedocs/developmentguide.rst
  doc/readthedocs/index.rst
  doc/readthedocs/installation.rst
  doc/readthedocs/tut_fluid_preexo.rst
Due: none

Add deal.II as an optional dependency
  CMakeLists.txt
  cmake/configure/configure_deal.II.cmake
Due: non-ascii-chars

Update the README
  README.md
Due: none

Initial support for conversion from 4C to deal.II
  src/CMakeLists.txt
  src/deal_ii/CMakeLists.txt
  src/deal_ii/src/4C_deal_ii_context.hpp
  src/deal_ii/src/4C_deal_ii_context_implementation.hpp
  src/deal_ii/src/4C_deal_ii_dofs.cpp
  src/deal_ii/src/4C_deal_ii_dofs.hpp
  src/deal_ii/src/4C_deal_ii_element_conversion.hpp
  src/deal_ii/src/4C_deal_ii_triangulation.cpp
  src/deal_ii/src/4C_deal_ii_triangulation.hpp
  src/deal_ii/src/4C_deal_ii_vector_conversion.cpp
  src/deal_ii/src/4C_deal_ii_vector_conversion.hpp
  src/deal_ii/src/CMakeLists.txt
  src/deal_ii/tests/4C_deal_ii_create_discretization_helper_test.hpp
  src/deal_ii/tests/4C_deal_ii_triangulation_parallel_test.np3.cpp
  src/deal_ii/tests/4C_deal_ii_triangulation_serial_test.cpp
  src/deal_ii/tests/4C_deal_ii_vector_mapping_test.np2.cpp
  src/deal_ii/tests/CMakeLists.txt
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Only allow string and enum for old selection
  src/contact/4C_contact_strategy_factory.cpp
  src/contact/4C_contact_utils.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
  src/fluid_turbulence/4C_fluid_turbulence_transfer_turb_inflow.cpp
  src/inpar/4C_inpar_elch.cpp
  src/inpar/4C_inpar_fluid.cpp
  src/inpar/4C_inpar_fluid.hpp
  src/inpar/4C_inpar_mortar.cpp
  src/inpar/4C_inpar_mortar.hpp
  src/inpar/4C_inpar_s2i.cpp
  src/inpar/4C_inpar_ssi.cpp
  src/inpar/4C_inpar_ssti.cpp
  src/inpar/4C_inpar_xfem.cpp
  src/scatra/4C_scatra_timint_elch.cpp
  src/scatra/4C_scatra_timint_elch_scl.cpp
  src/scatra/4C_scatra_timint_implicit.cpp
  src/scatra/4C_scatra_timint_meshtying_strategy_s2i.cpp
  src/scatra/4C_scatra_timint_meshtying_strategy_s2i_elch.cpp
  src/scatra/4C_scatra_utils.cpp
  src/scatra_ele/4C_scatra_ele_boundary_calc_elch.cpp
  src/scatra_ele/4C_scatra_ele_calc_service_elch.cpp
  src/scatra_ele/4C_scatra_ele_calc_service_elch_diffcond.cpp
  src/scatra_ele/4C_scatra_ele_parameter_boundary.cpp
  src/ssi/4C_ssi_base.cpp
  src/ssi/4C_ssi_clonestrategy.cpp
  src/ssi/4C_ssi_manifold_utils.cpp
  src/ssi/4C_ssi_monolithic_evaluate_OffDiag.cpp
  src/ssi/4C_ssi_utils.cpp
  src/ssti/4C_ssti_monolithic_evaluate_OffDiag.cpp
  src/sti/4C_sti_algorithm.cpp
  src/sti/4C_sti_monolithic_evaluate_OffDiag.cpp
  src/xfem/4C_xfem_coupling_base.cpp
  src/xfem/4C_xfem_coupling_levelset.cpp
  src/xfem/4C_xfem_coupling_mesh.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Mark old selection as deprecated
  src/ale/4C_ale_input.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
  src/core/utils/src/functions/4C_utils_function_manager.cpp
  src/core/utils/src/parameters/4C_utils_parameter_list.cpp
  src/core/utils/src/parameters/4C_utils_parameter_list.hpp
  src/fluid/4C_fluid_functions.cpp
  src/fluid_xfluid/4C_fluid_xfluid_functions.cpp
  src/fluid_xfluid/4C_fluid_xfluid_functions_combust.cpp
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/inpar/4C_inpar_beaminteraction.cpp
  src/inpar/4C_inpar_bio.cpp
  src/inpar/4C_inpar_cardiovascular0d.cpp
  src/inpar/4C_inpar_ehl.cpp
  src/inpar/4C_inpar_elch.cpp
  src/inpar/4C_inpar_fluid.cpp
  src/inpar/4C_inpar_fs3i.cpp
  src/inpar/4C_inpar_fsi.cpp
  src/inpar/4C_inpar_mortar.cpp
  src/inpar/4C_inpar_mpc_rve.cpp
  src/inpar/4C_inpar_s2i.cpp
  src/inpar/4C_inpar_scatra.cpp
  src/inpar/4C_inpar_solver.cpp
  src/inpar/4C_inpar_solver_nonlin.cpp
  src/inpar/4C_inpar_ssi.cpp
  src/inpar/4C_inpar_ssti.cpp
  src/inpar/4C_inpar_structure.cpp
  src/inpar/4C_inpar_tsi.cpp
  src/inpar/4C_inpar_validconditions.cpp
  src/inpar/4C_inpar_xfem.cpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_function.cpp
  src/red_airways/4C_red_airways_acinus.cpp
  src/red_airways/4C_red_airways_airway.cpp
  src/solid_3D_ele/4C_solid_3D_ele.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_based.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based.cpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele.cpp
  src/thermo/src/utils/4C_thermo_input.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove MaterialDefinition and use InputSpec
  apps/create_rtdfiles/4C_create_rtdfiles_utils.cpp
  apps/create_rtdfiles/4C_create_rtdfiles_utils.hpp
  apps/create_rtdfiles/4C_create_rtdfiles_wrapper.cpp
  src/global_data/4C_global_data.cpp
  src/global_data/4C_global_data_read.cpp
  src/global_legacy_module/4C_global_legacy_module.cpp
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/global_legacy_module/4C_global_legacy_module_validmaterials.hpp
  src/mat/4C_mat_materialdefinition.cpp
  src/mat/4C_mat_materialdefinition.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Update documentation,analysis guide->linearsolvers
  doc/readthedocs/analysisguide.rst
  doc/readthedocs/introduction_solvers.rst
  doc/readthedocs/linear_solvers.rst
  doc/readthedocs/problemtypes.rst
  doc/readthedocs/references.rst
Due: none

Replace remaining double_parameter calls
  src/inpar/4C_inpar_binningstrategy.cpp
  src/inpar/4C_inpar_contact.cpp
  src/inpar/4C_inpar_fsi.cpp
  src/inpar/4C_inpar_solver_nonlin.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Add elemag removal to major changes
  doc_removed_code/major_changes.txt
Due: non-ascii-chars

Better names for solver examples
  doc/readthedocs/linear_solvers.rst
Due: none

Remove numparams from poromulti-functions
  src/poromultiphase_scatra/4C_poromultiphase_scatra_function.cpp
  tests/input_files/new_solidporo_pressure_based_ele_poromultielastscatra_3D_hex8_mono_tumor.dat
  tests/input_files/new_solidporo_pressure_based_ele_poromultielastscatra_3D_hex8_nodetopoint_artery_airway_coupling_mono.dat
  tests/input_files/poromultielastscatra_2D_quad4_haptotaxis.dat
  tests/input_files/poromultielastscatra_2D_quad4_hyperthermia.dat
  tests/input_files/poromultielastscatra_2D_quad4_linebased_artery_coupling_vessel_collapse.dat
  tests/input_files/poromultielastscatra_2D_quad4_linebased_artery_coupling_vessel_collapse_free_hanging.dat
  tests/input_files/poromultielastscatra_2D_quad4_nodetopoint_artery_airway_coupling_mono.dat
  tests/input_files/poromultielastscatra_2D_quad4_tumor_angiogenesis.dat
  tests/input_files/poromultielastscatra_3D_hex8_mono_tumor.dat
  tests/input_files/poromultielastscatra_3D_hex8_nodetopoint_artery_airway_coupling_mono.dat
Due: cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

Delete gmsh from contact and mortar
  src/contact/4C_contact_abstract_strategy.cpp
  src/contact/4C_contact_abstract_strategy.hpp
  src/contact/4C_contact_coupling3d.cpp
  src/contact/4C_contact_interface.cpp
  src/contact/4C_contact_interface.hpp
  src/contact/4C_contact_interface_tools.cpp
  src/contact/4C_contact_meshtying_abstract_strategy.cpp
  src/contact/4C_contact_meshtying_abstract_strategy.hpp
  src/contact/4C_contact_meshtying_contact_bridge.cpp
  src/contact/4C_contact_meshtying_contact_bridge.hpp
  src/contact/4C_contact_nitsche_integrator_fpi.cpp
  src/contact/4C_contact_nitsche_integrator_fsi.cpp
  src/mortar/4C_mortar_base_binarytree.cpp
  src/mortar/4C_mortar_base_binarytree.hpp
  src/mortar/4C_mortar_binarytree.cpp
  src/mortar/4C_mortar_coupling3d.cpp
  src/mortar/4C_mortar_defines.hpp
  src/mortar/4C_mortar_interface.cpp
  src/mortar/4C_mortar_interface.hpp
  src/mortar/4C_mortar_interface_tools.cpp
  src/mortar/4C_mortar_strategy_base.hpp
  src/structure/4C_structure_timint.cpp
  src/structure/4C_structure_timint_impl.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Apply clang-tidy on linalg graph
  src/contact/4C_contact_interface.cpp
  src/core/binstrategy/4C_binstrategy.cpp
  src/core/fem/src/condition/4C_fem_condition_periodic.cpp
  src/core/fem/src/discretization/4C_fem_discretization_partition.cpp
  src/core/io/src/4C_io_gridgenerator.cpp
  src/core/io/src/4C_io_meshreader.cpp
  src/core/linalg/src/sparse/4C_linalg_graph.cpp
  src/core/linalg/src/sparse/4C_linalg_graph.hpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrix.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_manipulation.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.cpp
  src/core/linalg/tests/4C_linalg_utils_sparse_algebra_manipulation_test.np2.cpp
  src/core/rebalance/src/4C_rebalance_graph_based.cpp
  src/fsi/src/partitioned/4C_fsi_partitioned.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars
