Repository sebproell/4C: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

cpp-filename-includes:
  name: C++ file names and include style
  description: Check that all C++ files have the correct file name and include style
  language: system
  entry: utilities/python-venv/bin/check-filenames-and-includes
  args:
  - --paths
  - src/
  - unittests/
  - apps/
  - --files

cpp-include-guard:
  name: Include guards
  description: Check that all C++ files have the correct include guards
  language: python
  entry: utilities/python-venv/bin/check-header-guards

cpp-preprocessor:
  name: C++ preprocessor directives
  description: Check that all C++ files only use acceptable preprocessor directives
  language: python
  entry: utilities/python-venv/bin/check-preprocessor

input-files:
  name: Test input files
  description: Check input files conform to expectations
  language: python
  entry: utilities/python-venv/bin/check-test-files

non-ascii-chars:
  name: Non-ASCII characters
  language: system
  entry: ./utilities/code_checks/check_non_ascii_chars

Enable -Wpedantic warnings
  cmake/setup_global_options.cmake
  src/core/utils/src/exceptions/4C_utils_exceptions.hpp
  src/core/utils/src/functions/4C_utils_function_manager.hpp
  src/core/utils/src/functions/4C_utils_symbolic_expression.cpp
  src/cut/4C_cut_intersection.hpp
  src/fluid_ele/4C_fluid_ele_calc_intfaces_stab.hpp
  src/fpsi/4C_fpsi_coupling.hpp
  src/mat/4C_mat_fluidporo.cpp
  src/mat/4C_mat_plasticdruckerprager.hpp
  src/mat/elast/4C_mat_elast_coupanisoexpoactive.hpp
  src/w1/4C_w1_poro_p1_scatra.hpp
  src/xfem/4C_xfem_coupling_fpi_mesh.hpp
  src/xfem/4C_xfem_coupling_levelset.hpp
  src/xfem/4C_xfem_coupling_mesh_coupled_levelset.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove hacky HDF5 flags and update to newer API
  src/core/io/src/4C_io.cpp
  src/core/io/src/4C_io_hdf.cpp
  src/core/io/src/4C_io_hdf.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Add to doc_removed_code
  doc_removed_code/major_changes.txt
Due: non-ascii-chars

Use InputSpec in ConditionDefinition
  apps/create_rtdfiles/4C_create_rtdfiles_utils.cpp
  src/core/fem/src/condition/4C_fem_condition_definition.cpp
  src/core/fem/src/condition/4C_fem_condition_definition.hpp
  src/core/io/src/4C_io_input_spec.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/src/4C_io_linecomponent.hpp
  src/inpar/4C_inpar_beam_to_solid.cpp
  src/inpar/4C_inpar_beamcontact.cpp
  src/inpar/4C_inpar_cardiac_monodomain.cpp
  src/inpar/4C_inpar_cut.cpp
  src/inpar/4C_inpar_elch.cpp
  src/inpar/4C_inpar_elemag.cpp
  src/inpar/4C_inpar_levelset.cpp
  src/inpar/4C_inpar_particle.cpp
  src/inpar/4C_inpar_poromultiphase.cpp
  src/inpar/4C_inpar_poromultiphase_scatra.cpp
  src/inpar/4C_inpar_s2i.cpp
  src/inpar/4C_inpar_ssi.cpp
  src/inpar/4C_inpar_sti.cpp
  src/inpar/4C_inpar_xfem.cpp
  src/scatra/4C_scatra_timint_meshtying_strategy_s2i.cpp
  src/scatra/4C_scatra_timint_meshtying_strategy_s2i_elch.cpp
  src/scatra_ele/4C_scatra_ele_boundary_calc_elch.cpp
  src/scatra_ele/4C_scatra_ele_parameter_boundary.cpp
  src/scatra_ele/4C_scatra_ele_utils_elch.cpp
  tests/input_files/elch_1D_electrodes_galvanostat.dat
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

InputSpecBuilders::selection overload for strings
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Restructure files in thermo
  src/thermo/src/4C_thermo_adapter.cpp
  src/thermo/src/4C_thermo_adapter.hpp
  src/thermo/src/4C_thermo_dyn.cpp
  src/thermo/src/4C_thermo_dyn.hpp
  src/thermo/src/4C_thermo_timint.cpp
  src/thermo/src/4C_thermo_timint.hpp
  src/thermo/src/CMakeLists.txt
  src/thermo/src/element/4C_thermo_ele_action.hpp
  src/thermo/src/element/4C_thermo_ele_boundary_impl.cpp
  src/thermo/src/element/4C_thermo_ele_boundary_impl.hpp
  src/thermo/src/element/4C_thermo_ele_impl.cpp
  src/thermo/src/element/4C_thermo_ele_impl.hpp
  src/thermo/src/element/4C_thermo_ele_impl_utils.hpp
  src/thermo/src/element/4C_thermo_element.cpp
  src/thermo/src/element/4C_thermo_element.hpp
  src/thermo/src/element/4C_thermo_element_boundary_evaluate.cpp
  src/thermo/src/element/4C_thermo_element_evaluate.cpp
  src/thermo/src/element/4C_thermo_element_input.cpp
  src/thermo/src/element/CMakeLists.txt
  src/thermo/src/explicit/4C_thermo_timint_expl.cpp
  src/thermo/src/explicit/4C_thermo_timint_expl.hpp
  src/thermo/src/explicit/4C_thermo_timint_expleuler.cpp
  src/thermo/src/explicit/4C_thermo_timint_expleuler.hpp
  src/thermo/src/explicit/CMakeLists.txt
  src/thermo/src/implicit/4C_thermo_timint_genalpha.cpp
  src/thermo/src/implicit/4C_thermo_timint_genalpha.hpp
  src/thermo/src/implicit/4C_thermo_timint_impl.cpp
  src/thermo/src/implicit/4C_thermo_timint_impl.hpp
  src/thermo/src/implicit/4C_thermo_timint_ost.cpp
  src/thermo/src/implicit/4C_thermo_timint_ost.hpp
  src/thermo/src/implicit/4C_thermo_timint_statics.cpp
  src/thermo/src/implicit/4C_thermo_timint_statics.hpp
  src/thermo/src/implicit/CMakeLists.txt
  src/thermo/src/utils/4C_thermo_aux.cpp
  src/thermo/src/utils/4C_thermo_aux.hpp
  src/thermo/src/utils/4C_thermo_resulttest.cpp
  src/thermo/src/utils/4C_thermo_resulttest.hpp
  src/thermo/src/utils/CMakeLists.txt
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove IO::LineComponent
  src/core/io/src/4C_io_linecomponent.cpp
  src/core/io/src/4C_io_linecomponent.hpp
  src/inpar/4C_inpar_ale.cpp
  src/inpar/4C_inpar_beam_to_solid.cpp
  src/inpar/4C_inpar_beamcontact.cpp
  src/inpar/4C_inpar_beaminteraction.cpp
  src/inpar/4C_inpar_beampotential.cpp
  src/inpar/4C_inpar_bio.cpp
  src/inpar/4C_inpar_cardiovascular0d.cpp
  src/inpar/4C_inpar_ehl.cpp
  src/inpar/4C_inpar_elch.cpp
  src/inpar/4C_inpar_elemag.cpp
  src/inpar/4C_inpar_fluid.cpp
  src/inpar/4C_inpar_fpsi.cpp
  src/inpar/4C_inpar_fsi.cpp
  src/inpar/4C_inpar_mortar.cpp
  src/inpar/4C_inpar_mpc_rve.cpp
  src/inpar/4C_inpar_particle.cpp
  src/inpar/4C_inpar_poromultiphase_scatra.cpp
  src/inpar/4C_inpar_s2i.cpp
  src/inpar/4C_inpar_scatra.cpp
  src/inpar/4C_inpar_ssi.cpp
  src/inpar/4C_inpar_ssti.cpp
  src/inpar/4C_inpar_structure.cpp
  src/inpar/4C_inpar_thermo.cpp
  src/inpar/4C_inpar_validconditions.cpp
  src/inpar/4C_inpar_xfem.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Fix test timeout scaling for debug builds
  cmake/setup_tests.cmake
Due: non-ascii-chars

InputFile can read arbitrarily nested yaml objects
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_file.hpp
  src/core/io/tests/4C_io_input_file_test.cpp
  src/core/io/tests/test_files/yaml_includes/main.yaml
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Convert a yaml input file to more useful yaml
  tests/input_files/solid_ele_hex8_Standard_eas_none_stressout.4C.yaml
Due: non-ascii-chars

Add runtime output to thermo
  src/global_data/4C_global_data_read.cpp
  src/inpar/4C_inpar_IO_runtime_output_thermo.cpp
  src/inpar/4C_inpar_IO_runtime_output_thermo.hpp
  src/inpar/4C_inpar_validparameters.cpp
  src/thermo/src/4C_thermo_timint.cpp
  src/thermo/src/4C_thermo_timint.hpp
  tests/input_files/ref/thermo3D_annulus_anisotropic_statics-thermo.pvd
  tests/input_files/ref/thermo3D_annulus_anisotropic_statics-vtk-files/thermo-00001-0.vtu
  tests/input_files/ref/thermo3D_annulus_anisotropic_statics-vtk-files/thermo-00001-1.vtu
  tests/input_files/ref/thermo3D_annulus_anisotropic_statics-vtk-files/thermo-00001-2.vtu
  tests/input_files/ref/thermo3D_annulus_anisotropic_statics-vtk-files/thermo-00001.pvtu
  tests/input_files/thermo3D_annulus_anisotropic_statics.dat
  tests/list_of_tests.cmake
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Remove input tag() in functions
  src/core/utils/src/functions/4C_utils_function.cpp
  src/core/utils/src/functions/4C_utils_function_library.cpp
  src/core/utils/src/functions/4C_utils_function_manager.cpp
  src/core/utils/src/functions/4C_utils_function_of_time.cpp
  src/core/utils/src/functions/4C_utils_functionvariables.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove input tag() in structure functions
  src/structure_new/src/utils/4C_structure_new_functions.cpp
Due: cpp-filename-includes, cpp-preprocessor, non-ascii-chars

Remove input tag() in combustion functions
  src/fluid_xfluid/4C_fluid_xfluid_functions_combust.cpp
  tests/input_files/levelset_zalesaks_disc_51x51_reinitgeo.dat
  tests/input_files/levelset_zalesaks_disc_51x51_reinitgeo_adv.dat
Due: cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

Drop InputSpecBuilders::tag() function
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove input tag() in beam elements
  src/beam3/4C_beam3_kirchhoff.cpp
  src/beam3/4C_beam3_kirchhoff_input.cpp
  src/beam3/4C_beam3_reissner.cpp
  src/beam3/4C_beam3_reissner_input.cpp
  tests/input_files/beam3r_herm2line3_static_test1.dat
  tests/input_files/beam3r_line2_static_test1.dat
  tests/input_files/beam3r_line3_genalpha_liegroup_3Dtwistmoment.dat
  tests/input_files/beam3sk_line3rot_genalpha_liegroup_3Dtwistmoment.dat
  tests/input_files/beam3sk_line3rot_genalpha_liegroup_lineload_dynamic_FAD.dat
  tests/input_files/beam3sk_line3rot_static_test1_adaptstep.dat
  tests/input_files/beam3sk_line3tan_genalpha_liegroup_3Dtwistmoment.dat
  tests/input_files/beam3sk_line3tan_genalpha_liegroup_lineload_dynamic_FAD.dat
  tests/input_files/beam3sk_line3tan_static_contact_penalty_linpen_limitdispperiter_twobeamstwisting.dat
  tests/input_files/beam3sk_line3tan_static_test1.dat
  tests/input_files/beam3wk_line3rot_genalpha_liegroup_3Dtwistmoment.dat
  tests/input_files/beam3wk_line3rot_genalpha_liegroup_lineload_dynamic.dat
  tests/input_files/beam3wk_line3rot_static_test1_adaptstep.dat
  tests/input_files/beam3wk_line3tan_backweuler_browndyn_singlefil_FAD.dat
  tests/input_files/beam3wk_line3tan_genalpha_liegroup_3Dtwistmoment_FAD.dat
  tests/input_files/beam3wk_line3tan_static_test1.dat
Due: cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

Remove input tag() in Shell7p elements
  src/shell7p/4C_shell7p_ele.cpp
  src/shell7p/4C_shell7p_ele_scatra.cpp
  tests/input_files/shell7p_cylinder_nonlinear_orthopressure_incompressible_quad4.dat
  tests/input_files/shell7p_cylinder_nonlinear_orthopressure_incompressible_quad9.dat
  tests/input_files/shell7p_eas_cantilever_new_struc.dat
  tests/input_files/shell7p_eas_cantilever_new_struc_ost.dat
  tests/input_files/shell7p_pseudo_orthopressure_ans_eas_new_struc.dat
  tests/input_files/shell7p_pseudo_orthopressure_ans_eas_new_struc_ost.dat
  tests/input_files/shell7p_slit_annual_plate_line_end_force.dat
  tests/input_files/shell7p_thin_nonlinear_pinched_hemisphere.dat
  tests/input_files/ssi_2D_shell7p_inflated_sphere.dat
Due: cpp-filename-includes, cpp-preprocessor, input-files, non-ascii-chars

Simpler metadata file
  src/core/io/src/4C_io_input_spec.cpp
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Write metadata for more sections of input file
  apps/global_full/4C_global_full_main.cpp
  src/core/io/src/4C_io_input_file_utils.cpp
  src/core/io/src/4C_io_input_file_utils.hpp
  src/global_legacy_module/4C_global_legacy_module.cpp
  src/global_legacy_module/4C_global_legacy_module.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove unused actions from so3_surface
  src/so3/4C_so3_surface.hpp
  src/so3/4C_so3_surface_evaluate.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Update FSI prec template to specify direct solver
  tests/input_files/xml/multigrid/fluid_solid_ale.xml
Due: non-ascii-chars

Move browniandyn inpar
  src/beam3/4C_beam3_base.cpp
  src/beam3/4C_beam3_euler_bernoulli_evaluate.cpp
  src/browniandyn/4C_browniandyn_input.cpp
  src/browniandyn/4C_browniandyn_input.hpp
  src/browniandyn/4C_browniandyn_str_model_evaluator_data.cpp
  src/inpar/4C_inpar_validparameters.cpp
  src/rigidsphere/4C_rigidsphere.cpp
  src/rigidsphere/4C_rigidsphere_evaluate.cpp
  src/structure_new/src/4C_structure_new_elements_paramsinterface.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_data.hpp
  src/torsion3/4C_torsion3_evaluate.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move ALE inpar
  src/adapter/4C_adapter_ale.cpp
  src/adapter/4C_adapter_ale.hpp
  src/adapter/4C_adapter_fld_fluid_ale.cpp
  src/ale/4C_ale.cpp
  src/ale/4C_ale.hpp
  src/ale/4C_ale_input.cpp
  src/ale/4C_ale_input.hpp
  src/ale/4C_ale_meshtying.cpp
  src/ale/4C_ale_meshtying.hpp
  src/fsi/src/monolithic/4C_fsi_monolithic_nonox.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_fluidfluidmonolithic_fluidsplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_fluidfluidmonolithic_fluidsplit_nonox.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_fluidfluidmonolithic_structuresplit.cpp
  src/fsi/src/monolithic/model_evaluator/4C_fsi_fluidfluidmonolithic_structuresplit_nonox.cpp
  src/inpar/4C_inpar_ale.hpp
  src/inpar/4C_inpar_validconditions.cpp
  src/inpar/4C_inpar_validparameters.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move lubrication inpar
  src/ehl/4C_ehl_monolithic.cpp
  src/ehl/4C_ehl_monolithic.hpp
  src/inpar/4C_inpar_lubrication.hpp
  src/inpar/4C_inpar_validparameters.cpp
  src/lubrication/src/4C_lubrication_ele_calc.cpp
  src/lubrication/src/4C_lubrication_input.cpp
  src/lubrication/src/4C_lubrication_input.hpp
  src/lubrication/src/4C_lubrication_timint_implicit.cpp
  src/lubrication/src/4C_lubrication_timint_implicit.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Move beamcontact inpar
  src/adapter/4C_adapter_str_structure_new.cpp
  src/beamcontact/4C_beamcontact_beam3contact.cpp
  src/beamcontact/4C_beamcontact_beam3contact.hpp
  src/beamcontact/4C_beamcontact_beam3contact_manager.cpp
  src/beamcontact/4C_beamcontact_beam3contact_octtree.cpp
  src/beamcontact/4C_beamcontact_beam3contactinterface.cpp
  src/beamcontact/4C_beamcontact_beam3contactnew.cpp
  src/beamcontact/4C_beamcontact_beam3contactnew.hpp
  src/beamcontact/4C_beamcontact_beam3tosolidcontact.cpp
  src/beamcontact/4C_beamcontact_input.cpp
  src/beamcontact/4C_beamcontact_input.hpp
  src/beaminteraction/4C_beaminteraction_beam_to_beam_contact_pair.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_beam_contact_pair.hpp
  src/beaminteraction/4C_beaminteraction_beam_to_beam_contact_params.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_beam_contact_params.hpp
  src/beaminteraction/4C_beaminteraction_beam_to_sphere_contact_pair.cpp
  src/beaminteraction/4C_beaminteraction_contact_params.hpp
  src/beaminteraction/4C_beaminteraction_contact_runtime_visualization_output_params.hpp
  src/beaminteraction/4C_beaminteraction_potential_params.cpp
  src/beaminteraction/4C_beaminteraction_str_model_evaluator.cpp
  src/beaminteraction/4C_beaminteraction_submodel_evaluator_beamcontact.cpp
  src/inpar/4C_inpar_beamcontact.hpp
  src/inpar/4C_inpar_beaminteraction.cpp
  src/inpar/4C_inpar_beampotential.cpp
  src/inpar/4C_inpar_validparameters.cpp
  src/structure/4C_structure_timint.cpp
  src/structure/4C_structure_timint_impl.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove common git knowledge from documentation
  doc/readthedocs/4Csetup.rst
Due: none

Remove common testing knowledge from documentation
  doc/readthedocs/4Ctesting.rst
Due: none

Fix C++ standard in documentation
  doc/readthedocs/codingguidelines.rst
Due: none

Remove common coding guideline knowledge from docs
  doc/readthedocs/codingguidelines.rst
  doc/readthedocs/coverage_report.rst
  doc/readthedocs/references.rst
Due: none

Move poro with Nitsche contact to new timint
  src/contact/4C_contact_nitsche_strategy_poro.cpp
  src/contact/4C_contact_nitsche_strategy_poro.hpp
  src/contact/4C_contact_strategy_factory.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/poroelast/4C_poroelast_monolithic.cpp
  tests/input_files/poro_new_solid_nitsche_contact3D_twoelem.dat
  tests/input_files/poro_new_solid_nitsche_contact3D_twoelem_new_struc.dat
  tests/input_files/poro_solid_nitsche_contact3D_twoelem.dat
  tests/input_files/poro_solid_nitsche_contact3D_twoelem_twosided_new_struc.dat
  tests/input_files/poro_solid_nitsche_contact3D_twoelem_wonopen.dat
  tests/input_files/poro_solid_nitsche_contact3D_twoelem_wonopen_new_struc.dat
  tests/list_of_tests.cmake
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Change input para name of CONTACTNOPEN
  src/adapter/4C_adapter_coupling_poro_mortar.cpp
  src/contact/4C_contact_integrator.cpp
  src/contact/4C_contact_lagrange_strategy_poro.cpp
  src/contact/4C_contact_manager.cpp
  src/contact/4C_contact_meshtying_manager.cpp
  src/contact/4C_contact_meshtying_strategy_factory.cpp
  src/contact/4C_contact_nitsche_integrator_poro.cpp
  src/contact/4C_contact_nitsche_strategy_poro.hpp
  src/contact/4C_contact_strategy_factory.cpp
  src/inpar/4C_inpar_poroelast.cpp
  tests/input_files/poro_2D_quad4_meshtying.dat
  tests/input_files/poro_2D_quad4_poroporocontact.dat
  tests/input_files/poro_2D_quad4_porosolid_mt_patchtest.dat
  tests/input_files/poro_new_solid_nitsche_contact3D_twoelem.dat
  tests/input_files/poro_new_solid_nitsche_contact3D_twoelem_new_struc.dat
  tests/input_files/poro_scatra_contact3D_two_cubes.dat
  tests/input_files/poro_solid_contact3D_twoelem.dat
  tests/input_files/poro_solid_contact3D_twoelem_wonopen.dat
  tests/input_files/poro_solid_nitsche_contact3D_twoelem.dat
  tests/input_files/poro_solid_nitsche_contact3D_twoelem_twosided.dat
  tests/input_files/poro_solid_nitsche_contact3D_twoelem_twosided_new_struc.dat
  tests/input_files/poro_solid_nitsche_contact3D_twoelem_wonopen.dat
  tests/input_files/poro_solid_nitsche_contact3D_twoelem_wonopen_new_struc.dat
  tests/input_files/xfpsci_twoelem_pp.dat
  tests/input_files/xfpsci_twoelem_ps.dat
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, input-files, non-ascii-chars

Move cut inpar
  src/cut/4C_cut_input.cpp
  src/cut/4C_cut_input.hpp
  src/cut/4C_cut_output.cpp
  src/fluid_ele/4C_fluid_ele_parameter_xfem.hpp
  src/fluid_xfluid/4C_fluid_xfluid.hpp
  src/fluid_xfluid/4C_fluid_xfluid_state.hpp
  src/fluid_xfluid/4C_fluid_xfluid_state_creator.hpp
  src/inpar/4C_inpar_validparameters.cpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Remove output of membrane thickness from old
  src/membrane/4C_membrane_evaluate.cpp
  src/structure/4C_structure_timint.cpp
  src/structure/4C_structure_timint.hpp
  src/structure_new/src/4C_structure_new_elements_paramsinterface.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_data.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_data.hpp
Due: cpp-filename-includes, cpp-include-guard, cpp-preprocessor, non-ascii-chars

Describe types of maps from Petra Object Model
  doc/readthedocs/developmentguide.rst
  doc/readthedocs/petra_object_model.rst
Due: none

Path conditions:
  cpp-filename-includes: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: tests/cut_test/|mm$
  cpp-include-guard: any of: \.(h|hpp)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cpp-preprocessor: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  input-files: any of: tests/input_files/.*\.dat$
  non-ascii-chars: any of: not (\.(md|markdown|mdown)$), but not: \.rst$
